
@font-face {
        font-family: "Abril";
        font-style: normal;
        font-weight: bold;
        src: url("../fonts/abril_bold/AbrilText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/abril_bold/AbrilText-Bold.woff") format("woff"), url("../fonts/abril_bold/AbrilText-Bold.ttf") format("truetype"), url("../fonts/abril_bold/AbrilText-Bold.svg#AbrilText-Bold") format("svg");
}
@font-face {
        font-family: "Abril";
        font-style: italic;
        font-weight: bold;
        src: url("../fonts/abril_bolditalic/AbrilText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/abril_bolditalic/AbrilText-BoldItalic.woff") format("woff"), url("../fonts/abril_bolditalic/AbrilText-BoldItalic.ttf") format("truetype"), url("../fonts/abril_bolditalic/AbrilText-BoldItalic.svg#AbrilText-BoldItalic") format("svg");
}
@font-face {
        font-family: "Abril";
        font-style: normal;
        font-weight: normal;
        src: url("../fonts/abril/AbrilText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/abril/AbrilText-Regular.woff") format("woff"), url("../fonts/abril/AbrilText-Regular.ttf") format("truetype"), url("../fonts/abril/AbrilText-Regular.svg#AbrilText-Regular") format("svg");
}
@font-face {
        font-family: "Abril";
        font-style: italic;
        font-weight: normal;
        src: url("../fonts/abril_italic/AbrilText-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/abril_italic/AbrilText-Italic.woff") format("woff"), url("../fonts/abril_italic/AbrilText-Italic.ttf") format("truetype"), url("../fonts/abril_italic/AbrilText-Italic.svg#AbrilText-Italic") format("svg");
}
@font-face {
        font-family: "TabletGothicNarrow";
        font-style: normal;
        font-weight: 400;
        src: url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.woff") format("woff"), url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.ttf") format("truetype"), url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.svg#TabletGothicNarrow-Regular") format("svg");
}
@font-face {
        font-family: "TabletGothicNarrow";
        font-style: italic;
        font-weight: 400;
        src: url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.woff") format("woff"), url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.ttf") format("truetype"), url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.svg#TabletGothicNarrow-Oblique") format("svg");
}
@font-face {
        font-family: "TabletGothicNarrow";
        font-style: normal;
        font-weight: 600;
        src: url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.woff") format("woff"), url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.ttf") format("truetype"), url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.svg#TabletGothicNarrow-Semibold") format("svg");
}
@font-face {
        font-family: "Publisso";
        font-style: normal;
        font-weight: normal;
        src: url("../fonts/publisso-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/publisso-icons.woff") format("woff"), url("../fonts/publisso-icons.ttf") format("truetype"), url("../fonts/publisso-icons.svg#zbmed-icons") format("svg");
}
[class^="icon-"]::before, [class*=" icon-"]::before, [data-icon]::before, .intern::before, .more::before, .extern::before, .document::before, .mail::before, .download::before, .fileName a::before, .event_list .title a::before, .keywordsection a::before, .totop::before, .back-link::before, .teaser .medium h2 a::before {
        font-family: "Publisso";
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        text-transform: none;
        vertical-align: baseline;
}




.contact_box {
        background-color: #fff;
        box-shadow: 0 0 8px #bbb;
        font-family: "TabletGothicNarrow",sans-serif;
        margin: 0 auto;
        max-width: none;
        position: absolute;
        top: -10000px;
        transition: all 0.7s ease 0s;
        width: 100%;
        z-index: 1000;
}
.contact_box .contact_tab {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: inline-block;
        font-size: 16px;
        position: absolute;
        right: 50%;
        transform: translateX(63%);
        vertical-align: bottom;
}
.contact_box .contact_tab a {
        display: block;
        letter-spacing: 0;
        line-height: 16px;
        padding: 10px;
        outline: 0;
}
.contact_box .contact_tab a:hover, .contact_box .contact_tab a:active, .contact_box .contact_tab a:focus {
        text-decoration: none;
        color: inherit;
}

.contact_box .contact_tab a span:first-child::before {
        color: #b7b7b7;
        font-size: 19px;
        margin-right: 5px;
}
.contact_box .contact_tab a span:last-child::before {
        margin-left: 5px;
        vertical-align: middle;
}
.contact_box h2 {
        display: inline-block;
        font-family: "TabletGothicNarrow",sans-serif;
        margin-right: 40px;
        padding-left: 0;
        padding-right: 0;
        vertical-align: baseline;
        width: 320px;
}
.contact_box h3 {
        font-weight: normal;
        margin-top: 0;
}
.contact_box hr {
        margin-bottom: 20px;
}
.contact_box .icon-cancel {
        color: #4b4b4d;
        cursor: pointer;
        font-size: 20px;
        height: 20px;
        position: absolute;
        right: 15px;
        top: 13px;
        width: 20px;
}
.contact_box .icon-cancel:hover::before {
        color: #375b9a;
}
.contact_box > div:first-child {
        margin: 0 auto;
        max-width: 1440px;
        padding: 0 5% 30px;
}
.contact_box > div:first-child > div {
        position: relative;
}
.contact_box form {
        font-size: 0;
        padding: 50px 0 30px;
}
.contact_box form > a {
        display: inline-block;
        font: italic 18px "Abril",serif;
        white-space: nowrap;
}
.contact_box select {
        border: 1px solid #bcbdbe;
        font-size: 16px;
        padding: 3px 5px;
}
.choose-concern, .choose-position-container {
        width: 25%;
}
.choose-position-container {
        display: inline-block;
}
.choose-country-container select, .select-positions {
        width: 100%;
}
.contact_box select:not(:last-child) {
        margin-right: 35px;
}
.contact_box option {
        padding: 0 5px;
}
.contact_box .icon-cancel::before {
        content: "r";
}
.contact_box .icon-user::before {
        content: "e";
}
.contact_box .icon-arrow-down::before {
        content: "c";
}
.contact_box .icon-arrow-up::before {
        content: "d";
}
.contact_box .icon-mail::before, .contact_box .mail::before {
        content: "i";
}






.contact_box .card_text {
        display: inline-block;
        margin-right: 5%;
        vertical-align: top;
        width: 26.5%;
}
.contact_box .card_wrapper {
        display: inline-block;
        font-size: 0;
        width: 68%;
}
.contact_box .card_wrapper > * {
        font-size: 16px;
}
.contact_box .card {
        box-shadow: 0 0 8px #bbb;
        display: inline-block;
        font-size: 0;
        margin-bottom: 20px;
        max-width: 470px;
        padding: 20px;
        width: 475px;
}
.contact_box .card > * {
        font-size: 16px;
}
.contact_box .card > span {
        display: inline-block;
        position: relative;
        width: 130px;
}
.contact_box .card > span::before {
        content: "";
        height: 100px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100px;
        z-index: 1000;
}
.contact_box .card img, .card > div {
        display: inline-block;
        vertical-align: top;
}
.contact_box .card img {
        height: auto;
        margin-right: 30px;
        width: 100px;
}
.contact_box .card > div {
        width: 300px;
}
.contact_box .card p {
        margin-bottom: 15px;
}
.contact_box .card p span {
        display: block;
}
.contact_box .card p span:first-child {
        font-weight: 600;
}
.contact_box .card .unpersonal:not(:last-of-type) {
        display: inline-block;
        font-weight: 600;
        margin-right: 5px;
        vertical-align: top;
}
.contact_box .card .personal {
        display: inline-block;
        width: 220px;
}
.contact_box .card a.mail {
        color: #375b9a;
        font-family: "Abril",serif;
        font-style: italic;
}
.contact_box .card a.mail:hover {
        text-decoration: underline;
}



.contact_box .card_text {
        xmargin: 0 0 10px;
        xwidth: 100%;
}
.contact_box .card_wrapper {
        xwidth: 100%;
}
.contact_box .card {
        xmax-width: 100%;
        xwidth: 100%;
}
.contact_box .card img {
        margin-right: 5%;
        width: 75%;
}
.contact_box .card > div {
        width: 63%;
}
.contact_box .card .personal {
        width: auto;
}



@media only screen and (max-width: 540px) {
        .contact_box .contact_tab {
                right: 55%;
        }
        
        .contact_tab a {
                font-size: 0;
                padding-right: 0 !important;
                padding-bottom: 5px !important;
        }
        
        .contact_box .card_wrapper {
                width: 100%;
        }
        
        .contact_box .card > span {
                display: block;
        }
        
        .choose-position-container {
                width: 90% !important; 
        }
        
        .contact_box .card {
                width: 100%;
        }
        
        #login {
        left: 25px;
        position: relative;
        width: 65px !important;
        }  
        
        #navbar { padding-left: 0; padding-right: 0; }
}


@media only screen and (max-width: 1100px) {
        
        footer .region-footer {
                padding: 0px 25px 25px 25px;
        }
        
        footer ul.menu.nav {
                margin-top: 25px;
        }
        
        footer .zbmed {
                position: static;
                display: block;
                width: auto;
        }
        
        footer .toplink {
                position: static;
                display: block;
                margin-top: 4em;
        }
        
        footer .menu {
                margin-top: 4em;
        }
        
        footer nav h4 {
                display: block;
        }
        
        footer .nav.social {
                margin-left: 0;
        }
}

@media only screen and (max-width: 1348px) {
        button.offcanvas-toggle {
                width: 185px;
                height: 40px;
                position: fixed;
                top: 95%;
        }
        .offcanvas-toggle span {
                transform: rotate(0deg); 
        }  
}	  


@media only screen and (max-width: 1100px) {
        
        #mobile-togger { margin-left: 22px; }
        .navbar-meta { margin-right: 22px; }
        
        ul.menu.nav .level2, ul.menu.nav .level3 {
                position: static;
        }
        header nav {
                padding-left: 37px;
        }
        header .navbar-collapse .nav {
                box-shadow: none;
        }
        
        .navbar-collapse .menu ul {
                padding-top: 0;
                background-color: rgb(246, 246, 246);
        }
        
        .navbar-collapse .menu  li {
                background-color: rgb(246, 246, 246);
                color: #000;
        }
        
        .navbar-collapse .menu > li:hover {
                background-color: #375b9a;
                color: #ffffff;
        }
        
        .navbar-collapse .menu > li:hover > a {
                color: #ffffff;
        }
        
        header nav > ul > li ul {
                background-color: #f6f6f6;
                display: block;
                padding: 7px 0;
                position: initial;
                top: initial;
        }	
        
        nav .level2 {
                border-top: 5px solid #375b9a;
                min-height: 78px;
                text-align: right;
                top: 55px;
        }	
}
