@charset "UTF-8";
/*===============================
=    Publisso Gold mixins     =
===============================*/
/*===============================
=             Abril            =
===============================*/
@font-face {
  font-family: 'Abril';
  src: url("../fonts/abril_bold/AbrilText-Bold.eot");
  src: url("../fonts/abril_bold/AbrilText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/abril_bold/AbrilText-Bold.woff") format("woff"), url("../fonts/abril_bold/AbrilText-Bold.ttf") format("truetype"), url("../fonts/abril_bold/AbrilText-Bold.svg#AbrilText-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Abril';
  src: url("../fonts/abril_bolditalic/AbrilText-BoldItalic.eot");
  src: url("../fonts/abril_bolditalic/AbrilText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/abril_bolditalic/AbrilText-BoldItalic.woff") format("woff"), url("../fonts/abril_bolditalic/AbrilText-BoldItalic.ttf") format("truetype"), url("../fonts/abril_bolditalic/AbrilText-BoldItalic.svg#AbrilText-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Abril';
  src: url("../fonts/abril/AbrilText-Regular.eot");
  src: url("../fonts/abril/AbrilText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/abril/AbrilText-Regular.woff") format("woff"), url("../fonts/abril/AbrilText-Regular.ttf") format("truetype"), url("../fonts/abril/AbrilText-Regular.svg#AbrilText-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Abril';
  src: url("../fonts/abril_italic/AbrilText-Italic.eot");
  src: url("../fonts/abril_italic/AbrilText-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/abril_italic/AbrilText-Italic.woff") format("woff"), url("../fonts/abril_italic/AbrilText-Italic.ttf") format("truetype"), url("../fonts/abril_italic/AbrilText-Italic.svg#AbrilText-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
/*===============================
=      Tablet Gothic Narrow     =
===============================*/
@font-face {
  font-family: 'TabletGothicNarrow';
  src: url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.eot");
  src: url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.woff") format("woff"), url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.ttf") format("truetype"), url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.svg#TabletGothicNarrow-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TabletGothicNarrow';
  src: url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.eot");
  src: url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.woff") format("woff"), url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.ttf") format("truetype"), url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.svg#TabletGothicNarrow-Oblique") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'TabletGothicNarrow';
  src: url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.eot");
  src: url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.woff") format("woff"), url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.ttf") format("truetype"), url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.svg#TabletGothicNarrow-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
/*===============================
=           Iconfont            =
===============================*/
@font-face {
  font-family: 'Publisso';
  src: url("../fonts/publisso-icons.eot");
  src: url("../fonts/publisso-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/publisso-icons.woff") format("woff"), url("../fonts/publisso-icons.ttf") format("truetype"), url("../fonts/publisso-icons.svg#zbmed-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../scss/_icons.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Publisso' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../scss/_icons.scss */
[data-icon]:before {
  content: attr(data-icon);
}

/* line 30, ../scss/_icons.scss */
.icon-arrow-right:before, .slick-next:before {
  content: "\61";
}

/* line 33, ../scss/_icons.scss */
.icon-arrow-left:before, .back-link:before, .slick-prev:before {
  content: "\62";
}

/* line 36, ../scss/_icons.scss */
.icon-arrow-down:before {
  content: "\63";
}

/* line 39, ../scss/_icons.scss */
.icon-arrow-up:before, .totop:before {
  content: "\64";
}

/* line 42, ../scss/_icons.scss */
.icon-user:before {
  content: "\65";
}

/* line 45, ../scss/_icons.scss */
.icon-menu:before {
  content: "\66";
}

/* line 51, ../scss/_icons.scss */
.icon-download:before, .download:before {
  content: "\67";
}

/* line 54, ../scss/_icons.scss */
.icon-phone:before {
  content: "\68";
}

/* line 57, ../scss/_icons.scss */
.icon-mail:before {
  content: "\69";
}

/* line 60, ../scss/_icons.scss */
.icon-document:before {
  content: "\6a";
}

/* line 63, ../scss/_icons.scss */
.icon-play:before {
  content: "\6b";
}

/* line 66, ../scss/_icons.scss */
.icon-facebook:before {
  content: "\6c";
}

/* line 69, ../scss/_icons.scss */
.icon-gplus:before {
  content: "\6d";
}

/* line 72, ../scss/_icons.scss */
.icon-linkedin:before {
  content: "\6e";
}

/* line 75, ../scss/_icons.scss */
.icon-twitter:before {
  content: "\6f";
}

/* line 78, ../scss/_icons.scss */
.icon-tumblr:before {
  content: "\70";
}

/* line 81, ../scss/_icons.scss */
.icon-flickr:before {
  content: "\71";
}

/* line 84, ../scss/_icons.scss */
.icon-cancel:before {
  content: "\72";
}

/* line 87, ../scss/_icons.scss */
.icon-cancel-circle:before {
  content: "\73";
}

/* line 90, ../scss/_icons.scss */
.icon-share:before {
  content: "\74";
}

/* line 93, ../scss/_icons.scss */
.icon-search:before {
  content: "\75";
}

/* line 96, ../scss/_icons.scss */
.icon-youtube:before {
  content: "\76";
}

/* line 99, ../scss/_icons.scss */
.icon-share-facebook:before {
  content: "\77";
}

/* line 102, ../scss/_icons.scss */
.icon-location:before {
  content: "\78";
}

/* line 105, ../scss/_icons.scss */
.icon-link-extern:before, .extern:before {
  content: "\79";
}

/* line 108, ../scss/_icons.scss */
.icon-link-intern:before, .intern:before, .more:before, .keywordsection a:before, .teaser .medium h2 a:before {
  content: "\7a";
}

/* line 111, ../scss/_icons.scss */
.icon-dot-solid:before {
  content: "\31";
}

/* line 114, ../scss/_icons.scss */
.icon-dot-empty:before {
  content: "\32";
}

/* line 117, ../scss/_icons.scss */
.icon-pause:before {
  content: "\33";
}

/* line 120, ../scss/_icons.scss */
.icon-plus:before {
  content: "\34";
}

/* line 123, ../scss/_icons.scss */
.icon-minus:before {
  content: "\35";
}

/* line 126, ../scss/_icons.scss */
.icon-speech-cloud:before {
  content: "\36";
}

/* line 129, ../scss/_icons.scss */
.icon-note:before {
  content: "\37";
}

/* line 132, ../scss/_icons.scss */
.icon-open-access:before {
  content: "\38";
}

/* line 135, ../scss/_icons.scss */
.icon-news:before {
  content: "\39";
}

/* line 138, ../scss/_icons.scss */
.icon-geotag:before {
  content: "\41";
}

/* line 141, ../scss/_icons.scss */
.icon-calendar:before {
  content: "\42";
}

/* line 144, ../scss/_icons.scss */
.icon-time:before {
  content: "\43";
}

/* line 147, ../scss/_icons.scss */
.icon-bulb:before {
  content: "\44";
}

/* line 150, ../scss/_icons.scss */
.icon-globe:before {
  content: "\45";
}

/* line 153, ../scss/_icons.scss */
.icon-lab:before {
  content: "\46";
}

/* line 156, ../scss/_icons.scss */
.icon-academia:before {
  content: "\47";
}

/* line 159, ../scss/_icons.scss */
.icon-checkmark:before {
  content: "\48";
}

/* line 1, ../scss/_base.scss */
html, body {
  min-height: 100%;
  font-size: 16px;
  background-color: #fff;
  color: #4B4B4D;
  font-family: 'TabletGothicNarrow', sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}

/* line 12, ../scss/_base.scss */
html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 18, ../scss/_base.scss */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../scss/_base.scss */
h2, h3, h4 {
  font-weight: normal;
  letter-spacing: normal;
  hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  -moz-hyphens: auto;
}

/* line 45, ../scss/_base.scss */
h2 {
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.3px;
  margin: 10px 0 15px 0;
}

/* line 51, ../scss/_base.scss */
h3 {
  font-size: 23px;
  line-height: 28px;
  margin: 20px 0;
}

/* line 56, ../scss/_base.scss */
h4 {
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.35px;
  margin-top: 10px;
}

/* line 63, ../scss/_base.scss */
h5 {
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.1px;
}

/* line 69, ../scss/_base.scss */
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 16px;
}

/* line 76, ../scss/_base.scss */
a {
  color: #4b4b4d;
  text-decoration: none;
  font-size: inherit;
  line-height: 25px;
  letter-spacing: 0.3px;
}

/* line 83, ../scss/_base.scss */
.article p {
  font-family: Arial, sans-serif;
  line-height: 23px;
  margin-bottom: 25px;
}

/* line 89, ../scss/_base.scss */
hr {
  border-top: 4px solid #f6f6f6;
}

/* line 96, ../scss/_base.scss */
::selection {
  background: #375b9a;
  color: #fff;
  text-shadow: none;
}

/* line 101, ../scss/_base.scss */
::-moz-selection {
  background: #375b9a;
  color: #fff;
  text-shadow: none;
}

/* Clearfix */
/* line 149, ../scss/_base.scss */
nav:before, .clearfix:before {
  content: " ";
  visibility: hidden;
  display: table;
  height: 0;
}

/* line 155, ../scss/_base.scss */
nav:after, .clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/*===============================
=        Layout Main           =
===============================*/
/* line 4, ../scss/_layout.scss */
.width-control {
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  /* line 11, ../scss/_layout.scss */
  .flex-row-sm {
    display: flex;
  }
}
/*===============================
=           Utilities         =
===============================*/
/*===============================
=             Links             =
===============================*/
/* line 9, ../scss/_links.scss */
.main-container a {
  color: #375b9a;
  font-style: italic;
}
/* line 12, ../scss/_links.scss */
.main-container a a:hover, .main-container a a:focus, .main-container a a.active {
  text-decoration: underline;
}

/* line 16, ../scss/_links.scss */
a:hover, a:focus, a.active {
  color: #375b9a;
}

/* line 20, ../scss/_links.scss */
a.link--calltoaction {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 0 10px 0;
  background-color: #375b9a;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-style: initial;
  text-transform: uppercase;
  margin-top: -4px;
}
/* line 32, ../scss/_links.scss */
a.link--calltoaction:hover, a.link--calltoaction:focus {
  color: #fff;
  text-decoration: none;
}
/* line 35, ../scss/_links.scss */
a.link--calltoaction:hover span, a.link--calltoaction:focus span {
  border-bottom: 2px solid #fff;
}

/* line 40, ../scss/_links.scss */
.intern {
  color: #375b9a;
}
/* line 42, ../scss/_links.scss */
.intern:before {
  content: "\7a";
  font-family: 'Publisso';
  font-size: 15px;
  display: inline-block;
  font-style: initial;
}

/* line 50, ../scss/_links.scss */
.document:before, .download:before, .fileName a:before {
  font-size: 15px;
  line-height: 15px;
}

/* line 54, ../scss/_links.scss */
.mail:before {
  font-size: 15px;
  line-height: 15px;
  padding: 0 5px;
}

/*===============================
=           Navigation         =
===============================*/
/* line 4, ../scss/_navigation.scss */
header {
  position: relative;
  height: 200px;
}
/* line 7, ../scss/_navigation.scss */
header .logo {
  width: 283px;
  margin: 30px 15px;
}
/* line 10, ../scss/_navigation.scss */
header .logo img {
  width: 100%;
  height: auto;
}
/* line 15, ../scss/_navigation.scss */
header .width-control {
  height: 100%;
}
/* line 18, ../scss/_navigation.scss */
header ul {
  list-style: none;
}
/* line 21, ../scss/_navigation.scss */
header.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
/* line 25, ../scss/_navigation.scss */
header .navbar-collapse {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 32, ../scss/_navigation.scss */
header .nav > li {
  display: inline-block;
  position: static;
}
/* line 35, ../scss/_navigation.scss */
header .nav > li ul {
  text-align: center;
  position: absolute;
  z-index: 3;
  background-color: #FFF;
  width: 100%;
  left: -9999px;
}
/* line 44, ../scss/_navigation.scss */
header .nav > li .level4 {
  width: 110%;
  padding: 0 5%;
  left: -5% !important;
}
/* line 51, ../scss/_navigation.scss */
header .level2 {
  border-top: 5px solid #375b9a;
  top: 50px;
  text-align: right;
  min-height: 78px;
}
/* line 56, ../scss/_navigation.scss */
header .level2 li {
  width: 15.6%;
  position: relative;
  padding: 20px 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 63, ../scss/_navigation.scss */
header .level2 > li {
  text-align: center;
}
/* line 66, ../scss/_navigation.scss */
header .level2 a {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-transform: none;
}
/* line 72, ../scss/_navigation.scss */
header .level2 a:hover, header .level2 a:focus, header .level2 a.focus {
  text-decoration: underline;
}
/* line 77, ../scss/_navigation.scss */
header .level3 {
  text-align: left;
  padding: 0 5%;
}
/* line 80, ../scss/_navigation.scss */
header .level3 li {
  padding: 10px 0 0;
  width: 100%;
}
/* line 84, ../scss/_navigation.scss */
header .level3 > li:last-child {
  margin-bottom: 15px;
}
/* line 87, ../scss/_navigation.scss */
header .level3 a {
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3px;
}
/* line 93, ../scss/_navigation.scss */
header .level4, header .level5 {
  position: relative;
}
/* line 95, ../scss/_navigation.scss */
header .level4 a, header .level5 a {
  padding-left: 15px;
}
/* line 97, ../scss/_navigation.scss */
header .level4 a:before, header .level5 a:before {
  font-family: "Publisso";
  content: "\6b";
  font-size: 9px;
  margin-right: 5px;
  line-height: 22px;
}
/* line 107, ../scss/_navigation.scss */
header .navbar-meta {
  float: right;
}
/* line 110, ../scss/_navigation.scss */
header .language-switcher {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 7px 3px;
  display: inline-block;
}
/* line 119, ../scss/_navigation.scss */
header .language-switcher li {
  display: inline-block;
  padding: 0 9px;
}
/* line 122, ../scss/_navigation.scss */
header .language-switcher li:first-of-type {
  border-right: 2px solid #f2f0f1;
}
/* line 126, ../scss/_navigation.scss */
header .language-switcher a:hover, header .language-switcher a:focus {
  text-decoration: initial;
}
/* line 130, ../scss/_navigation.scss */
header #login {
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 97px;
  text-align: center;
  padding: 10px 0;
  margin-right: 30px;
}
/* line 140, ../scss/_navigation.scss */
header #login:hover, header #login:focus {
  text-decoration: initial;
}

/* line 148, ../scss/_navigation.scss */
.navbar-collapse .menu {
  float: right;
}
/* line 150, ../scss/_navigation.scss */
.navbar-collapse .menu li:hover > ul, .navbar-collapse .menu li:focus > ul, .navbar-collapse .menu li.focus > ul {
  left: 0;
}
/* line 155, ../scss/_navigation.scss */
.navbar-collapse .menu > li > a {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: block;
}
/* line 160, ../scss/_navigation.scss */
.navbar-collapse .menu > li > a:hover, .navbar-collapse .menu > li > a:focus {
  background-color: #375b9a;
  color: #ffffff;
}
/* line 169, ../scss/_navigation.scss */
.navbar-collapse .level2 li:hover ul, .navbar-collapse .level2 li:focus ul, .navbar-collapse .level2 li.focus ul {
  left: 0;
}

/* line 177, ../scss/_navigation.scss */
#screen .menu > li:hover > a, #screen .menu li:focus > a, #screen .menu > li.focus > a {
  color: #FFF;
}

/* line 180, ../scss/_navigation.scss */
#screen .menu > li > a:hover, #screen .menu > li > a:focus, #screen .menu > li > a.focus {
  color: #FFF;
}

/* line 187, ../scss/_navigation.scss */
.breadcrumb {
  /*border-bottom: 4px solid #375b9a;*/
  background-color: transparent;
  padding: 15px 0;
  letter-spacing: normal;
  font-family: 'Abril', serif;
  font-size: 18px;
  font-style: italic;
}
/* line 193, ../scss/_navigation.scss */
.breadcrumb .active {
  color: #375b9a;
}
/* line 196, ../scss/_navigation.scss */
.breadcrumb a {
  color: #69696C;
}
/* line 198, ../scss/_navigation.scss */
.breadcrumb a:hover {
  color: #375b9a;
  text-decoration: underline;
}
/* line 203, ../scss/_navigation.scss */
.breadcrumb li + li:before {
  font-family: 'Publisso';
  content: "a";
  font-size: 10px;
  font-style: normal;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
}

/*===============================
=        Contact Box          =
===============================*/
/* line 4, ../scss/_contact-box.scss */
#contact-panel {
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 8px #bbb;
  box-shadow: 0px 0px 8px #bbb;
}
/* line 14, ../scss/_contact-box.scss */
#contact-panel .width-control {
  padding: 45px 15px;
}
/* line 17, ../scss/_contact-box.scss */
#contact-panel .panel__inner {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
}
/* line 22, ../scss/_contact-box.scss */
#contact-panel legend {
  border: 0;
  font-size: 26px;
  line-height: 34px;
  float: left;
  width: auto;
  margin-right: 6%;
}
/* line 29, ../scss/_contact-box.scss */
#contact-panel legend h3 {
  margin: 0;
}
/* line 32, ../scss/_contact-box.scss */
#contact-panel legend a {
  font-family: 'Abril', serif;
  font-size: 18px;
  font-style: italic;
  color: #69696C;
}
/* line 35, ../scss/_contact-box.scss */
#contact-panel legend a:before {
  margin-right: 10px;
  vertical-align: middle;
}
/* line 41, ../scss/_contact-box.scss */
#contact-panel .form-type-select {
  width: 19%;
  min-width: 213px;
  margin-right: 25px;
}
/* line 45, ../scss/_contact-box.scss */
#contact-panel .form-type-select select {
  width: 100%;
  height: 30px;
  background-color: #ededed;
  border: 1px solid #dbdbdb;
}
/* line 52, ../scss/_contact-box.scss */
#contact-panel .icon-cancel {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
}
/* line 57, ../scss/_contact-box.scss */
#contact-panel .icon-cancel:hover, #contact-panel .icon-cancel:focus {
  text-decoration: none;
}
/* line 61, ../scss/_contact-box.scss */
#contact-panel .toggler {
  position: absolute;
  bottom: -45px;
  background-color: #fff;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 69, ../scss/_contact-box.scss */
#contact-panel .toggler.on .icon-arrow-down {
  transform: rotate(180deg);
}
/* line 73, ../scss/_contact-box.scss */
#contact-panel .toggler [class^="icon-"] {
  display: inline-block;
}
/* line 76, ../scss/_contact-box.scss */
#contact-panel .toggler .icon-user {
  color: #69696C;
}
/* line 79, ../scss/_contact-box.scss */
#contact-panel .toggler .icon-arrow-down {
  margin-left: 5px;
}
/* line 82, ../scss/_contact-box.scss */
#contact-panel .toggler a {
  display: inline-block;
  padding: 10px;
}
/* line 85, ../scss/_contact-box.scss */
#contact-panel .toggler a:hover, #contact-panel .toggler a:focus {
  text-decoration: none;
}

/* line 91, ../scss/_contact-box.scss */
.card__body {
  width: 475px;
  padding: 20px;
  margin-top: 5px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
/* line 96, ../scss/_contact-box.scss */
.card__body .media-left {
  padding-right: 35px;
}
/* line 99, ../scss/_contact-box.scss */
.card__body h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin: 0px;
}
/* line 105, ../scss/_contact-box.scss */
.card__body .contact {
  display: block;
}
/* line 107, ../scss/_contact-box.scss */
.card__body .contact:hover, .card__body .contact:focus {
  color: inherit;
  text-decoration: none;
}
/* line 111, ../scss/_contact-box.scss */
.card__body .contact span {
  display: inline-block;
  font-weight: 600;
  min-width: 55px;
}
/* line 117, ../scss/_contact-box.scss */
.card__body .mail {
  color: #375b9a;
}
/* line 119, ../scss/_contact-box.scss */
.card__body .mail:hover, .card__body .mail:focus {
  color: #375b9a;
}
/* line 122, ../scss/_contact-box.scss */
.card__body .mail span {
  color: #4B4B4D;
}

/* line 128, ../scss/_contact-box.scss */
.slideDown {
  overflow-y: hidden;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
  max-height: 1500px !important;
}

/* line 135, ../scss/_contact-box.scss */
.slideUp {
  overflow-y: hidden;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  max-height: 0 !important;
}

/* header */
@media only screen and (max-width: 768px) {
  /* line 24, ../scss/_branding.scss */
  header .logo {
    top: 75px;
    width: 245px;
  }
}
@media only screen and (max-width: 539px) {
  /* line 31, ../scss/_branding.scss */
  header .logo {
    position: relative;
    top: 60px;
    float: left;
  }
}
/*===============================
=        Partner Slider        =
===============================*/
/* line 5, ../scss/_partnerslider.scss */
.partnerslider {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMCAIAAAAs6UAAAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3goIDg4A//nnNQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAIklEQVQI1yXIMQEAMAzAoJX4N1klO8rJ212FiVKDVHB3Qz6DBgMOlb4o8AAAAABJRU5ErkJggg==") repeat-x top;
  padding: 0;
}
/* line 10, ../scss/_partnerslider.scss */
.partnerslider .carousel-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1260px;
}
/* line 14, ../scss/_partnerslider.scss */
.partnerslider .carousel-wrapper:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 5%;
  height: 95%;
  z-index: 1;
  left: 0;
  background-image: -ms-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, white), color-stop(1, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.1) 100%);
}
/* line 24, ../scss/_partnerslider.scss */
.partnerslider .carousel-wrapper:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 5%;
  height: 95%;
  z-index: 1;
  right: 0;
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.1)), color-stop(1, white));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, white 100%);
}
/* line 35, ../scss/_partnerslider.scss */
.partnerslider .slide {
  padding: 20px 2% 20px 2%;
  margin-top: 12px;
}
/* line 38, ../scss/_partnerslider.scss */
.partnerslider .slide img {
  width: 100%;
}
/* line 41, ../scss/_partnerslider.scss */
.partnerslider .slide .media-left {
  margin-right: 35px;
  width: 20%;
}
/* line 45, ../scss/_partnerslider.scss */
.partnerslider .slide h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.56px;
  margin: 10px 0;
}
/* line 52, ../scss/_partnerslider.scss */
.partnerslider .slide p  {
  line-height: 24px;
  letter-spacing: 0.3px;
}
/* line 57, ../scss/_partnerslider.scss */
.partnerslider .slick-arrow {
  position: absolute;
  z-index: 3;
  bottom: 40%;
  font-size: 0;
  padding: 0;
  background: transparent;
  border: none;
  width: 52px;
  height: 52px;
}
/* line 67, ../scss/_partnerslider.scss */
.partnerslider .slick-arrow:before {
  font-family: Publisso;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 32px;
  text-align: center;
  line-height: 52px;
  color: #4B4B4D;
  background-color: #f6f6f6;
}
/* line 79, ../scss/_partnerslider.scss */
.partnerslider .slick-prev {
  left: 0;
}
/* line 82, ../scss/_partnerslider.scss */
.partnerslider .slick-next {
  right: 0;
}
/* line 85, ../scss/_partnerslider.scss */
.partnerslider .slick-dots {
  text-align: center;
}
/* line 87, ../scss/_partnerslider.scss */
.partnerslider .slick-dots li {
  display: inline-block;
}
/* line 89, ../scss/_partnerslider.scss */
.partnerslider .slick-dots li.slick-active button {
  background-color: #4b4b4d;
}
/* line 93, ../scss/_partnerslider.scss */
.partnerslider .slick-dots button {
  vertical-align: middle;
  font-size: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #69696C;
  background-color: transparent;
  border-radius: 50%;
  margin: 0 10px;
}

/*====================================
=      Article/Publication detail    =
====================================*/
/* line 5, ../scss/_article.scss */
.article-header {
  position: relative;
  padding-left: 25%;
  /*margin-bottom: 80px;*/
}
@media only screen and (min-width: 992px) {
  /* line 5, ../scss/_article.scss */
  .article-header {
    padding-right: 325px;
    padding-left: 210px;
  }
  /* line 14, ../scss/_article.scss */
  .article-header .logo--publisher {
    position: absolute;
  }
  /* line 17, ../scss/_article.scss */
  .article-header .cover--pub {
    width: 170px;
  }
}
/* line 21, ../scss/_article.scss */
.article-header .logo--publisher {
  right: 0;
  top: 0;
  width: 170px;
  margin-bottom: 10px;
}
/* line 28, ../scss/_article.scss */
.article-header .cover--pub {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 25%;
  padding-right: 15px;
}
/* line 36, ../scss/_article.scss */
.article-header .meta--article {
  font-family: 'Abril', serif;
  font-size: 16px;
  font-style: italic;
  line-height: 25px;
}
/* line 41, ../scss/_article.scss */
.article-header .meta--article .authors {
  line-height: 22px;
}
/* line 45, ../scss/_article.scss */
.article-header ul {
  list-style: none;
  margin-bottom: 25px;
}
/* line 49, ../scss/_article.scss */
.article-header .search-block-form {
  margin-top: 36px;
  width: 305px;
}
/* line 52, ../scss/_article.scss */
.article-header .search-block-form .input-group {
  border: 1px solid #b7b7b7;
}
/* line 55, ../scss/_article.scss */
.article-header .search-block-form .icon {
  font-size: 22px;
}

/* line 60, ../scss/_article.scss */
.page-header {
  margin-top: 0;
  border: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
}

/* line 71, ../scss/_article.scss */
.nav-tabs {
  padding-bottom: 1px;
  border-bottom: 4px solid #375b9a;
}

/* line 75, ../scss/_article.scss */
.tab-pane {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 80, ../scss/_article.scss */
.pub-nav-tabs li a {
  background-color: #f6f6f6;
  color: #4B4B4D;
  font-style: initial;
  border-radius: 0;
  cursor: pointer;
}
/* line 86, ../scss/_article.scss */
.pub-nav-tabs li a:hover, .pub-nav-tabs li a:focus {
  border-color: #eee #eee transparent;
}
/* line 90, ../scss/_article.scss */
.pub-nav-tabs li.active a {
  background-color: #375b9a;
  color: #fff;
  border-color: #375b9a;
}
/* line 94, ../scss/_article.scss */
.pub-nav-tabs li.active a:hover, .pub-nav-tabs li.active a:focus {
  border-color: #375b9a;
  background-color: #375b9a;
  color: #fff;
}

/* line 104, ../scss/_article.scss */
.article__suporting-information {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
/* line 108, ../scss/_article.scss */
.article__suporting-information .block {
  padding-bottom: 20px;
  padding-left: 13px;
  border-bottom: 4px solid #375b9a;
}
/* line 112, ../scss/_article.scss */
.article__suporting-information .block:last-of-type {
  border: 0;
}
/* line 116, ../scss/_article.scss */
.article__suporting-information p {
  line-height: inherit;
  margin-bottom: 0;
}
/* line 120, ../scss/_article.scss */
.article__suporting-information img {
  margin-bottom: 15px;
}
/* line 124, ../scss/_article.scss */
.article__suporting-information .view-download-list [class^="icon-"]:before, .article__suporting-information .view-download-list [class*=" icon-"]:before {
  margin-right: 7px;
  font-size: 16px;
}
/* line 128, ../scss/_article.scss */
.article__suporting-information .view-download-list a {
  font-family: 'Abril', serif;
  font-size: 18px;
  font-style: italic;
  color: #375b9a;
  line-height: 27px;
}
/* line 134, ../scss/_article.scss */
.article__suporting-information .view-partner-list li {
  padding: 10px 0;
}
/* line 137, ../scss/_article.scss */
.article__suporting-information .view-keywords {
  position: relative;
  padding-left: 22px;
}
/* line 140, ../scss/_article.scss */
.article__suporting-information .view-keywords li {
  margin-bottom: 10px;
}
/* line 144, ../scss/_article.scss */
.article__suporting-information .view-pub-related {
  font-style: italic;
  line-height: 22px;
}
/* line 147, ../scss/_article.scss */
.article__suporting-information .view-pub-related h4 {
  font-family: 'Abril', serif;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* line 155, ../scss/_article.scss */
.article__suporting-information .view-pub-related .pub {
  position: relative;
  padding-left: 22px;
  padding-bottom: 22px;
  border-bottom: 2px solid #f6f6f6;
}
/* line 160, ../scss/_article.scss */
.article__suporting-information .view-pub-related .pub:last-of-type {
  border-bottom: 0;
}
/* line 166, ../scss/_article.scss */
.article__suporting-information .intern {
  display: inline-block;
}
/* line 168, ../scss/_article.scss */
.article__suporting-information .intern:before {
  position: absolute;
  left: 0;
}

/*===============================
=             Tables           =
===============================*/
/* line 4, ../scss/_tables.scss */
.table-primary {
  width: 100%;
  margin: 20px 0;
}
/* line 7, ../scss/_tables.scss */
.table-primary th {
  font-weight: 400;
  padding: 10px 20px;
}
/* line 11, ../scss/_tables.scss */
.table-primary td {
  padding: 20px;
}
/* line 14, ../scss/_tables.scss */
.table-primary td, .table-primary th {
  border: 2px solid #fff;
}
/* line 17, ../scss/_tables.scss */
.table-primary thead {
  font-family: 'Abril', serif;
  font-size: 18px;
  font-style: italic;
  background-color: #ededed;
}
/* line 22, ../scss/_tables.scss */
.table-primary tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}
/* line 25, ../scss/_tables.scss */
.table-primary tbody tr:nth-child(even) {
  background-color: #ededed;
}
/* line 29, ../scss/_tables.scss */
.table-primary .icon-mail:before {
  font-size: 15px;
  margin-right: 5px;
}
@media only screen and (max-width: 768px) {
  /* line 4, ../scss/_tables.scss */
  .table-primary {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
  }
}

/*===============================
=         Form Styling         =
===============================*/
/* line 5, ../scss/_forms.scss */
::-webkit-input-placeholder {
  color: #5d5d5e;
}

/* line 8, ../scss/_forms.scss */
:-moz-placeholder {
  color: #5d5d5e;
  opacity: 1;
}

/* line 12, ../scss/_forms.scss */
::-moz-placeholder {
  color: #5d5d5e;
  opacity: 1;
}

/* line 16, ../scss/_forms.scss */
:-ms-input-placeholder {
  color: #5d5d5e;
}

/* line 19, ../scss/_forms.scss */
input::-ms-clear {
  display: none;
}

/* line 22, ../scss/_forms.scss */
input, button, textarea {
  background-image: none;
  font-family: 'TabletGothicNarrow', sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 28, ../scss/_forms.scss */
input[type='submit']:hover, input[type='reset']:hover, button[type='submit'] {
  cursor: pointer;
}

/* line 33, ../scss/_forms.scss */
.form-primary {
  position: relative;
}
@media only screen and (min-width: 768px) {
  /* line 33, ../scss/_forms.scss */
  .form-primary {
    padding-left: 30%;
  }
}
/* line 38, ../scss/_forms.scss */
.form-primary input, .form-primary textarea, .form-primary select {
  width: 100%;
  background-color: #ededed;
  border: 1px solid #dbdbdb;
}
/* line 43, ../scss/_forms.scss */
.form-primary legend {
  border: 0;
  color: inherit;
  position: relative;
  font-size: inherit;
}
@media only screen and (min-width: 480px) {
  /* line 43, ../scss/_forms.scss */
  .form-primary legend {
    text-align: right;
  }
}
/* line 52, ../scss/_forms.scss */
.form-primary fieldset legend {
  margin-top: 5px;
}
@media only screen and (min-width: 480px) {
  /* line 52, ../scss/_forms.scss */
  .form-primary fieldset legend {
    width: auto;
    float: right;
  }
}
/* line 59, ../scss/_forms.scss */
.form-primary label {
  font-weight: 400;
}
/* line 62, ../scss/_forms.scss */
.form-primary .form-group {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  /* line 64, ../scss/_forms.scss */
  .form-primary .form-group > label {
    display: block;
    position: absolute;
    left: 0;
    width: 28%;
    text-align: right;
  }
}
/* line 75, ../scss/_forms.scss */
.form-primary .block--radio label {
  margin-right: 40px;
}
/* line 79, ../scss/_forms.scss */
.form-primary input[type="radio"] {
  display: none;
}
/* line 82, ../scss/_forms.scss */
.form-primary .radio--custom {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: #ededed;
  border: 1px solid #dbdbdb;
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0 10px 3px 0;
  vertical-align: middle;
  text-align: center;
}
/* line 94, ../scss/_forms.scss */
.form-primary .radio--custom:hover, .form-primary .radio--custom:focus {
  border: 1px solid #b2b2b4;
}
/* line 98, ../scss/_forms.scss */
.form-primary input[type='radio']:checked + .radio--custom:after {
  content: '';
  background-color: #666e71;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 8px;
  left: 8px;
}
/* line 110, ../scss/_forms.scss */
.form-primary input[type='text'], .form-primary select {
  padding-left: 10px;
  padding-right: 10px;
  height: 28px;
}
/* line 115, ../scss/_forms.scss */
.form-primary textarea {
  height: 260px;
  padding: 10px;
  padding-bottom: 10px;
}
/* line 120, ../scss/_forms.scss */
.form-primary select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
/* line 124, ../scss/_forms.scss */
.form-primary .btn {
  width: 130px;
  font-family: 'Abril', serif;
  font-size: 16px;
  font-style: italic;
  border-radius: 0;
}
/* line 131, ../scss/_forms.scss */
.form-primary button[type='submit'] {
  background-color: #375b9a;
  color: #fff;
}
/* line 135, ../scss/_forms.scss */
.form-primary button[type='reset'] {
  background-color: #dbdbdb;
}
/* line 138, ../scss/_forms.scss */
.form-primary .btn__block-wrapper {
  text-align: right;
  margin-bottom: 20px;
}

/* line 149, ../scss/_forms.scss */
header .search-block-form {
  position: absolute;
  right: 0;
  bottom: 55px;
}

/* line 155, ../scss/_forms.scss */
.search-block-form {
  width: 200px;
}
/* line 157, ../scss/_forms.scss */
.search-block-form .input-group {
  height: 40px;
  background-color: #f6f6f6;
  line-height: 1.5;
  padding-top: 3px;
  border: 1px solid #ededed;
}
/* line 164, ../scss/_forms.scss */
.search-block-form input {
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 169, ../scss/_forms.scss */
.search-block-form .form-control {
  box-shadow: none;
}
/* line 172, ../scss/_forms.scss */
.search-block-form .form-control, .search-block-form .form-submit {
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

/*===============================
=              Footer           =
===============================*/
/* line 4, ../scss/_footer.scss */
footer {
  background-color: #ededed;
  position: relative;
  margin-top: 25px;
}
/* line 9, ../scss/_footer.scss */
footer .nav li {
  display: inline-block;
}
/* line 12, ../scss/_footer.scss */
footer .nav a {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
/* line 19, ../scss/_footer.scss */
footer .menu {
  display: inline-block;
  margin: 10px 0 40px 0;
}
/* line 22, ../scss/_footer.scss */
footer .menu li {
  display: inline-block;
}
/* line 24, ../scss/_footer.scss */
footer .menu li:not(:last-child):after {
  content: '|';
  font-size: 16px;
  margin: 0 10px;
}
/* line 29, ../scss/_footer.scss */
footer .menu li a:hover, footer .menu li a:focus {
  color: #000;
  text-decoration: underline;
}
/* line 35, ../scss/_footer.scss */
footer .region-footer {
  padding: 25px 0;
}
/* line 38, ../scss/_footer.scss */
footer h4 {
  font-family: 'Abril', serif;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  display: inline-block;
}
/* line 43, ../scss/_footer.scss */
footer .social {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
/* line 47, ../scss/_footer.scss */
footer .social li a {
  margin-right: 3px;
}
/* line 52, ../scss/_footer.scss */
footer .social a:hover span:before, footer .social a:focus span:before {
  color: #375b9a;
}
/* line 56, ../scss/_footer.scss */
footer .social span {
  font-size: 0;
}
/* line 58, ../scss/_footer.scss */
footer .social span:before {
  color: #4B4B4D;
  font-size: 33px;
}
/* line 64, ../scss/_footer.scss */
footer .zbmed {
  position: absolute;
  right: 18%;
  top: 25px;
  display: inline-block;
  width: 21%;
  max-width: 270px;
}
/* line 71, ../scss/_footer.scss */
footer .zbmed img {
  width: 100%;
}
/* line 75, ../scss/_footer.scss */
footer .toplink {
  position: absolute;
  top: 40px;
  right: 0;
}
/* line 79, ../scss/_footer.scss */
footer .toplink:hover, footer .toplink:focus {
  color: #375b9a;
  text-decoration: initial;
}
/* line 83, ../scss/_footer.scss */
footer .toplink span:before {
  font-size: 20px;
  margin-left: 10px;
}

/* visually hidden */
