 html, body, *{
         font-family: arial !important;
         font-size: 10pt;
 }
 
 p{
         font-size: 10pt !important;
 }
 
 h1{
         color: rgb(55,91,154) !important;
         font-size: 18pt !important;
         font-weight: bold !important;
         page-break-after: avoid !important;
}

span.fakeH1{
        font-size: 18pt;
}

 h2{
         font-size: 14pt !important;
         font-weight: bold !important;
         page-break-after: avoid !important;
 }
 
 h3{
         font-size: 14pt !important;
         font-style: italic !important;
         page-break-after: avoid !important;
 }
 
 h4{
         font-size: 12pt !important;
         font-weight: bold !important;
         page-break-after: avoid !important;
 }
 
 h5{
         font-size: 12pt !important;
         font-style: italic !important;
         page-break-after: avoid !important;
 }
 
 h6{
         font-size: 12pt !important;
         page-break-after: avoid !important;
 }

table {
        page-break-inside:avoid;
        width: 100% !important;
}

div.firstSpace{
        font-size: 15pt;
}

span.chapterAuthor{
        font-weight: bold;
        margin-bottom: 20px;
}

.no-break{
        page-break-inside: avoid !important;
}

a.lnkRemovedContent{
        font-weight: 100;
        font-style: italic;
}
