

/*
 * body {
 *    padding-top: 50px;
 * }
 * .starter-template {
 *    padding: 40px 15px;
 *    text-align: center;
 * }
 */

@charset "UTF-8";

/*===============================
 * =    Publisso Gold mixins     =
 * ===============================*/


/*===============================
 * =    Publisso Gold variables    =
 * ===============================*/


/*===============================
 * =             Abril            =
 * ===============================*/

@font-face {
        font-family: 'Abril';
        src: url("../fonts/abril_bold/AbrilText-Bold.eot");
        src: url("../fonts/abril_bold/AbrilText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/abril_bold/AbrilText-Bold.woff") format("woff"), url("../fonts/abril_bold/AbrilText-Bold.ttf") format("truetype"), url("../fonts/abril_bold/AbrilText-Bold.svg#AbrilText-Bold") format("svg");
        font-weight: bold;
        font-style: normal;
}

@font-face {
        font-family: 'Abril';
        src: url("../fonts/abril_bolditalic/AbrilText-BoldItalic.eot");
        src: url("../fonts/abril_bolditalic/AbrilText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/abril_bolditalic/AbrilText-BoldItalic.woff") format("woff"), url("../fonts/abril_bolditalic/AbrilText-BoldItalic.ttf") format("truetype"), url("../fonts/abril_bolditalic/AbrilText-BoldItalic.svg#AbrilText-BoldItalic") format("svg");
        font-weight: bold;
        font-style: italic;
}

@font-face {
        font-family: 'Abril';
        src: url("../fonts/abril/AbrilText-Regular.eot");
        src: url("../fonts/abril/AbrilText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/abril/AbrilText-Regular.woff") format("woff"), url("../fonts/abril/AbrilText-Regular.ttf") format("truetype"), url("../fonts/abril/AbrilText-Regular.svg#AbrilText-Regular") format("svg");
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'Abril';
        src: url("../fonts/abril_italic/AbrilText-Italic.eot");
        src: url("../fonts/abril_italic/AbrilText-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/abril_italic/AbrilText-Italic.woff") format("woff"), url("../fonts/abril_italic/AbrilText-Italic.ttf") format("truetype"), url("../fonts/abril_italic/AbrilText-Italic.svg#AbrilText-Italic") format("svg");
        font-weight: normal;
        font-style: italic;
}


/*===============================
 * =      Tablet Gothic Narrow     =
 * ===============================*/

@font-face {
        font-family: 'TabletGothicNarrow';
        src: url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.eot");
        src: url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.woff") format("woff"), url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.ttf") format("truetype"), url("../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.svg#TabletGothicNarrow-Regular") format("svg");
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: 'TabletGothicNarrow';
        src: url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.eot");
        src: url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.woff") format("woff"), url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.ttf") format("truetype"), url("../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.svg#TabletGothicNarrow-Oblique") format("svg");
        font-weight: 400;
        font-style: italic;
}

@font-face {
        font-family: 'TabletGothicNarrow';
        src: url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.eot");
        src: url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.woff") format("woff"), url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.ttf") format("truetype"), url("../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.svg#TabletGothicNarrow-Semibold") format("svg");
        font-weight: 600;
        font-style: normal;
}


/*===============================
 * =           Iconfont            =
 * ===============================*/

@font-face {
        font-family: 'Publisso';
        src: url("../fonts/publisso-icons.eot");
        src: url("../fonts/publisso-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/publisso-icons.woff") format("woff"), url("../fonts/publisso-icons.ttf") format("truetype"), url("../fonts/publisso-icons.svg#zbmed-icons") format("svg");
        font-weight: normal;
        font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'Publisso' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
        content: attr(data-icon);
}

.icon-arrow-right:before,
.slick-next:before {
        content: "\61";
}

.icon-arrow-left:before,
.back-link:before,
.slick-prev:before {
        content: "\62";
}

.icon-arrow-down:before {
        content: "\63";
}

.icon-arrow-up:before,
.totop:before {
        content: "\64";
}

.icon-user:before {
        content: "\65";
}

.icon-menu:before {
        content: "\66";
}

.icon-download:before,
.download:before {
        content: "\67";
}

.icon-phone:before {
        content: "\68";
}

.icon-mail:before {
        content: "\69";
        margin-right: 10px;
}

.icon-document:before {
        content: "\6a";
}

.icon-play:before {
        content: "\6b";
}

.icon-facebook:before {
        content: "\6c";
}

.icon-gplus:before {
        content: "\6d";
}

.icon-linkedin:before {
        content: "\6e";
}

.icon-twitter:before {
        content: "\6f";
}

.icon-tumblr:before {
        content: "\70";
}

.icon-flickr:before {
        content: "\71";
}

.icon-cancel:before {
        content: "\72";
}

.icon-cancel-circle:before {
        content: "\73";
}

.icon-share:before {
        content: "\74";
}

.icon-search:before {
        content: "\75";
}

.icon-youtube:before {
        content: "\76";
}

.icon-share-facebook:before {
        content: "\77";
}

.icon-location:before {
        content: "\78";
}

.icon-link-extern:before,
.extern:before {
        content: "\79";
}

.icon-link-intern:before,
.intern:before,
.more:before,
.keywordsection a:before,
.teaser .medium h2 a:before {
        content: "\7a";
}

.icon-dot-solid:before {
        content: "\31";
}

.icon-dot-empty:before {
        content: "\32";
}

.icon-pause:before {
        content: "\33";
}

.icon-plus:before {
        content: "\34";
}

.icon-minus:before {
        content: "\35";
}

.icon-speech-cloud:before {
        content: "\36";
}

.icon-note:before {
        content: "\37";
}

.icon-open-access:before {
        content: "\38";
}

.icon-news:before {
        content: "\39";
}

.icon-geotag:before {
        content: "\41";
}

.icon-calendar:before {
        content: "\42";
}

.icon-time:before {
        content: "\43";
}

.icon-bulb:before {
        content: "\44";
}

.icon-globe:before {
        content: "\45";
}

.icon-lab:before {
        content: "\46";
}

.icon-academia:before {
        content: "\47";
}

.icon-checkmark:before {
        content: "\48";
}

html,
body {
        min-height: 100%;
        font-size: 16px;
        background-color: #fff;
        color: #4B4B4D;
        font-family: 'TabletGothicNarrow', sans-serif;
        font-weight: 400;
        line-height: 20px;
        text-rendering: optimizeLegibility;
}

html {
        height: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
        /*padding: 0;*/
        margin: 0;
        /*border: 0;*/
        outline: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        box-sizing: border-box;
}

@media only screen and (max-width: 1100px) {
        h1 {
                font-size: 25px;
                line-height: 27px;
        }
}

h2,
h3,
h4 {
        font-weight: normal;
        letter-spacing: normal;
        -ms-hyphens: auto;
        hyphens: auto;
        -webkit-hyphens: auto;
        -o-hyphens: auto;
        -moz-hyphens: auto;
}

h2 {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 0.3px;
        margin: 10px 0 15px 0;
}

h3 {
        font-size: 23px;
        line-height: 28px;
        margin: 20px 0;
}

h4 {
        font-size: 21px;
        line-height: 29px;
        letter-spacing: 0.35px;
        margin-top: 10px;
}

.media-list h4 {
        font-size: 19px;
        line-height: 24px;
        margin-top: -10px;
        margin-bottom: 10px;
}

h5 {
        font-size: 21px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0.1px;
}

p {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.3px;
        margin-bottom: 16px;
}

@media only screen and (max-width: 1100px) {
        p {
                font-size: 14px;
                line-height: 22px;
        }
}

a {
        color: #4b4b4d;
        text-decoration: none;
        font-size: inherit;
        line-height: 25px;
        letter-spacing: 0.3px;
}

.meta {
        font-style: italic;
}

.article p {
        font-family: Arial, sans-serif;
        line-height: 23px;
        margin-bottom: 25px;
}

.media-italics p {
        font-style: italic;
        margin-bottom: 12px;
}

.modal,
.modal p {
        font-size: 18px;
        line-height: 23px;
}

hr {
        border-top: 4px solid #f6f6f6;
}

::-moz-selection {
        background: #375b9a;
        color: #fff;
        text-shadow: none;
}

::selection {
        background: #375b9a;
        color: #fff;
        text-shadow: none;
}

::-moz-selection {
        background: #375b9a;
        color: #fff;
        text-shadow: none;
}

.dl-list-horizontal dt {
        float: left;
        clear: left;
        text-align: right;
        margin-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}


/* Clearfix */

nav:before,
.article-header:before,
.clearfix:before {
        content: " ";
        visibility: hidden;
        display: table;
        height: 0;
}

nav:after,
.article-header:after,
.clearfix:after {
        content: '';
        display: table;
        clear: both;
}


/*===============================
 * =        Layout Main           =
 * ===============================*/

.width-control {
        position: relative;
        max-width: 1260px;
        margin: 0 auto;
}

@media only screen and (min-width: 1101px) {
        .flex-row-sm {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
        }
}


/*===============================
 * =           Utilities         =
 * ===============================*/

.border-top {
        border-top: 4px solid #375b9a;
        padding-top: 20px;
}


/*===============================
 * =             Links             =
 * ===============================*/

.main-container a:not(.btn) {
        color: #375b9a;
        font-style: italic;
}

.main-container a a:hover,
.main-container a a:focus,
.main-container a a.active {
        text-decoration: underline;
}

a:hover,
a:focus,
a.active {
        color: #375b9a;
}

a.link--calltoaction {
        display: block;
        width: 190px;
        height: 50px;
        text-align: center;
        padding: 0 35px;
        background: #335a99;
        background: linear-gradient(to bottom, #335a99 47%, #143363 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#335a99', endColorstr='#143363', GradientType=0);
        color: #fff;
        font-size: 15px;
        line-height: 16px;
        font-weight: 400;
        font-style: initial;
        text-transform: uppercase;
        margin-bottom: 10px;
        border-radius: 0px;
}

a.link--calltoaction span {
        display: inline-block;
        border-bottom: 2px solid transparent;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}

a.link--calltoaction:hover,
a.link--calltoaction:focus {
        color: #fff;
        text-decoration: none;
}

a.link--calltoaction:hover span,
a.link--calltoaction:focus span {
        border-color: #fff;
}

a[data-toggle="modal"],
a.contact {
        color: #375b9a;
        text-decoration: none;
        font-style: initial;
        font-weight: initial;
}

address a {
        display: block;
}

.intern {
        color: #375b9a;
}

.intern:before {
        content: "\7a";
        font-family: 'Publisso';
        font-size: 15px;
        display: inline-block;
        font-style: initial;
}

.document:before,
.download:before,
.fileName a:before {
        font-size: 15px;
        line-height: 15px;
}

.mail:before {
        font-size: 15px;
        line-height: 15px;
        padding: 0 5px;
}


/*===============================
 * =           Navigation         =
 * ===============================*/

header {
        position: relative;
        height: 200px;
}

header .logo {
        width: 283px;
        margin: 30px 15px;
}

header .logo img {
        width: 100%;
        height: auto;
}

header .width-control {
        height: 100%;
}

header ul {
        list-style: none;
}

header.navbar {
        border-radius: 0;
        margin-bottom: 0;
}

header .navbar-collapse {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
}

header .nav>li {
        display: inline-block;
        position: static;
}

header .nav>li ul {
        text-align: right;
        position: absolute;
        z-index: 20;
        background-color: #FFF;
        width: 100%;
        left: -9999px;
        box-shadow: 0px 4px 2px #bcbdbe;
}

header .nav > li ul.level3{
        text-align: center;
}

@media only screen and (min-width: 1101px) {
        header .nav>li .level4 {
                width: 110%;
                padding: 0 5%;
                left: -5% !important;
        }
}

header .level2 {
        border-top: 5px solid #375b9a;
        top: 50px;
        text-align: right;
        min-height: 78px;
}

header .level2 li {
        width: 15.6%;
        position: relative;
        padding: 20px 15px;
        display: inline-block;
        vertical-align: middle;
}

header .level2>li {
        text-align: center;
}

header .level2 a,
header .level2 span{
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0.5px;
        text-transform: none;
}

header .level2 a:hover,
header .level2 a:focus,
header .level2 a.focus,
header .level2 span:hover,
header .level2 span:focus,
header .level2 span.focus{
        text-decoration: underline;
}

header .level3 {
        text-align: left;
        padding: 0 5%;
}

header .level3 li {
        padding: 10px 0 0;
        width: 100%;
}

header .level3>li:last-child {
        margin-bottom: 15px;
}

header .level3 a,
header .level3 span{
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.3px;
}

header .level4,
header .level5 {
        position: relative;
}

header .level4 a,
header .level5 a,
header .level4 span,
header .level5 span{
        padding-left: 15px;
}

header .level4 a:before,
header .level5 a:before,
header .level4 span:before,
header .level5 span:before{
        font-family: "Publisso";
        content: "\6b";
        font-size: 9px;
        margin-right: 5px;
        line-height: 22px;
}

header .navbar-meta {
        float: right;
}

header .language-switcher {
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 0;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 7px 3px;
        display: inline-block;
}

header .language-switcher li {
        display: inline-block;
        padding: 0 9px;
}

header .language-switcher li:first-of-type {
        border-right: 2px solid #f2f0f1;
}

header .language-switcher a:hover,
header .language-switcher a:focus {
        text-decoration: initial;
}

header #login {
        font-size: 18px;
        line-height: 20px;
        display: inline-block;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 97px;
        text-align: center;
        padding: 10px 0;
        margin-right: 30px;
}

header #login:hover,
header #login:focus {
        text-decoration: initial;
}

.navbar-collapse .menu li:hover>ul,
.navbar-collapse .menu li:focus>ul,

.navbar-collapse .menu li.focus>ul {
        left: 0;
}

@media only screen and (min-width: 1101px) {
        .navbar-collapse .menu {
                float: right;
        }
}

.navbar-collapse .menu>li>a, .navbar-collapse .menu>li>span {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        display: block;
        padding: 15px 10px;
}

.navbar-collapse .menu>li>a:hover,
.navbar-collapse .menu>li>a:focus {
        background-color: #375b9a;
        color: #ffffff;
}

.navbar-collapse .menu>li>span:hover,
.navbar-collapse .menu>li>span:focus {
        background-color: #375b9a;
        color: #ffffff;
}

.navbar-collapse .level2 li:hover ul,
.navbar-collapse .level2 li:focus ul,
.navbar-collapse .level2 li.focus ul {
        left: 0;
}


/* mobile open */

#mobile-togger {
display: none;
position: absolute;
top: 0;
z-index: 1001;
font-size: 0;
background-color: white;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
cursor: pointer;
}

@media only screen and (max-width: 1100px) {
        #mobile-togger {
        display: block;
        }
}

#mobile-togger:before {
display: inline-block;
font-size: 19px;
padding: 11px;
}

@media only screen and (max-width: 1100px) {
        header .navbar-collapse {
                position: relative;
                top: -85%;
                left: -15px;
                bottom: auto !important;
                z-index: 1000;
                padding: 0;
                overflow: hidden !important;
                width: 30vw;
                background-color: #fff;
        }
        header .navbar-collapse .navbar-nav {
                margin: 0;
        }
        header .navbar-collapse .nav {
                box-shadow: 1px 0px 9px -1px rgba(0, 0, 0, 0.79);
        }
        header .navbar-collapse nav li,
        header .navbar-collapse nav li a,
        header .navbar-collapse nav li span{
                display: block;
        }
        header .navbar-collapse nav ul {
                float: none;
                width: 100%;
                text-align: left;
                padding-top: 60px;
        }
        header .navbar-collapse nav>ul>li ul {
                position: initial;
                top: initial;
                display: block;
                background-color: #f6f6f6;
                padding: 7px 0;
        }
        header .navbar-collapse nav>ul>li {
                padding: 0;
                background-color: #fff;
        }
        header .navbar-collapse nav>ul>li>a,
        header .navbar-collapse nav>ul>li>span{
                font-size: 21px;
                font-weight: 600;
                letter-spacing: 0.1px;
                line-height: 1;
                padding: 15px 20px;
        }
        header .navbar-collapse nav .level2 {
                border-top: 1px solid #d9d9d9;
        }
        header .navbar-collapse nav .level2 li {
                padding: 0;
                width: 100%;
        }
        header .navbar-collapse nav .level2>li {
                padding: 20px 0 8px 0;
        }
        header .navbar-collapse nav .level2>li:not(:first-child) {
                border-top: 1px solid #d9d9d9;
        }
        header .navbar-collapse nav .level2 a,
        header .navbar-collapse nav .level2 span{
                font-size: 20px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0.63px;
                padding-left: 20px;
                text-align: left;
        }
        header .navbar-collapse nav .level3 a,
        header .navbar-collapse nav .level3 span{
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0.5px;
                padding-left: 30px;
        }
        header .navbar-collapse nav .level4 a,
        header .navbar-collapse nav .level4 span{
                padding-left: 40px;
        }
}

.breadcrumb {
        margin-bottom: 0;
        background-color: transparent;
        padding: 15px 0;
        letter-spacing: normal;
        font-family: 'Abril', serif;
        font-size: 18px;
        font-style: italic;
}

.breadcrumb .active {
        color: #375b9a;
}

.breadcrumb a {
        color: #69696C;
}

.breadcrumb a:hover {
        color: #375b9a;
        text-decoration: underline;
}

.breadcrumb li+li:before {
        font-family: 'Publisso';
        content: "a";
        font-size: 10px;
        font-style: normal;
        color: inherit;
        display: inline-block;
        vertical-align: middle;
}


/*===============================
 * =        Contact Box          =
 * ===============================*/

@media only screen and (max-width: 480px) {
        #contact-panel {
        display: none;
        }
}

#contact-panel {
position: absolute;
z-index: 5;
width: 100%;
left: 0;
right: 0;
position: absolute;
background-color: #fff;
box-shadow: 0px 0px 8px #bbb;
}

#contact-panel .width-control {
padding: 45px 15px;
}

#contact-panel .panel__inner {
max-height: 0;
overflow: hidden;
background-color: #fff;
}

#contact-panel legend {
border: 0;
font-size: 26px;
line-height: 34px;
float: left;
width: auto;
margin-right: 6%;
}

#contact-panel legend h3 {
margin: 0;
}

#contact-panel legend a {
font-family: 'Abril', serif;
font-size: 18px;
font-style: italic;
color: #69696C;
}

#contact-panel legend a:before {
margin-right: 10px;
vertical-align: middle;
}

#contact-panel .form-type-select {
width: 19%;
min-width: 213px;
margin-right: 25px;
}

#contact-panel .form-type-select select {
width: 100%;
height: 30px;
background-color: #ededed;
border: 1px solid #dbdbdb;
}

#contact-panel .icon-cancel {
position: absolute;
right: 15px;
top: 15px;
font-size: 20px;
}

#contact-panel .icon-cancel:hover,
#contact-panel .icon-cancel:focus {
text-decoration: none;
}

#contact-panel .toggler {
position: absolute;
bottom: -40px;
background-color: #fff;
right: 50%;
-webkit-transform: translateX(50%);
transform: translateX(50%);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1100px) {
        #contact-panel .toggler {
        text-align: center;
        font-size: 0;
        }
}

#contact-panel .toggler.on .icon-arrow-down {
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}

#contact-panel .toggler [class^="icon-"] {
display: inline-block;
}

#contact-panel .toggler .icon-user {
color: #69696C;
font-size: 16px;
}

#contact-panel .toggler a {
display: inline-block;
padding: 8px;
letter-spacing: initial;
}

#contact-panel .toggler a:hover,
#contact-panel .toggler a:focus {
text-decoration: none;
}

@media only screen and (min-width: 1101px) {
        #contact-panel .toggler .icon-arrow-down {
        margin-left: 5px;
        }
}

.card__body {
        width: 475px;
        padding: 20px;
        margin-top: 5px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.card__body .media-left {
        padding-right: 35px;
}

.card__body h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        margin: 0px;
}

.card__body .contact {
        display: block;
}

.card__body .contact:hover,
.card__body .contact:focus {
        color: inherit;
        text-decoration: none;
}

.card__body .contact span {
        display: inline-block;
        font-weight: 600;
        min-width: 55px;
}

.card__body .mail {
        color: #375b9a;
}

.card__body .mail:hover,
.card__body .mail:focus {
        color: #375b9a;
}

.card__body .mail span {
        color: #4B4B4D;
}

.slideDown {
        overflow-y: hidden;
        transition-property: all;
        transition-duration: 2s;
        transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
        max-height: 1500px !important;
}

.slideUp {
        overflow-y: hidden;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
        max-height: 0 !important;
}


/* header */

@media only screen and (max-width: 1100px) {
        header .logo {
                top: 75px;
                width: 245px;
        }
}

@media only screen and (max-width: 480px) {
        header .logo {
                position: relative;
                top: 0px;
                margin: 20px;
                float: none;
        }
        header .logo img {
                width: 150px;
        }
}


/*===============================
 * =        Partner Slider        =
 * ===============================*/

.partnerslider {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMCAIAAAAs6UAAAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3goIDg4A//nnNQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAIklEQVQI1yXIMQEAMAzAoJX4N1klO8rJ212FiVKDVHB3Qz6DBgMOlb4o8AAAAABJRU5ErkJggg==") repeat-x top;
        padding: 0;
}

.partnerslider .carousel-wrapper {
        position: relative;
        margin: 0 auto;
        max-width: 1260px;
}

.partnerslider .carousel-wrapper:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 5%;
        height: 95%;
        z-index: 1;
        left: 0;
        background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.1) 100%);
}

.partnerslider .carousel-wrapper:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 5%;
        height: 95%;
        z-index: 1;
        right: 0;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, white 100%);
}

.partnerslider .slide {
        padding: 20px 2% 20px 2%;
        margin-top: 12px;
}

.partnerslider .slide img {
        width: 100%;
}

.partnerslider .slide .media-left {
        margin-right: 35px;
        width: 20%;
        min-width: 100px;
}

.partnerslider .slide h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.56px;
        margin: 10px 0;
}

.partnerslider .slide pÂ {
        line-height: 24px;
        letter-spacing: 0.3px;
}

.partnerslider .slick-arrow {
        position: absolute;
        z-index: 3;
        bottom: 40%;
        font-size: 0;
        padding: 0;
        background: transparent;
        border: none;
        width: 52px;
        height: 52px;
}

.partnerslider .slick-arrow:before {
        font-family: Publisso;
        display: block;
        height: 100%;
        width: 100%;
        font-size: 32px;
        text-align: center;
        line-height: 52px;
        color: #4B4B4D;
        background-color: #f6f6f6;
}

.partnerslider .slick-prev {
        left: 0;
}

.partnerslider .slick-next {
        right: 0;
}

.partnerslider .slick-dots {
        text-align: center;
}

.partnerslider .slick-dots li {
        display: inline-block;
}

.partnerslider .slick-dots li.slick-active button {
        background-color: #4b4b4d;
}

.partnerslider .slick-dots button {
        vertical-align: middle;
        font-size: 0;
        width: 16px;
        height: 16px;
        border: 2px solid #69696C;
        background-color: transparent;
        border-radius: 50%;
        margin: 0 10px;
}


/*====================================
 * =           Offcanvas panel         =
 * ====================================*/

.navbar-offcanvas {
        position: fixed;
        width: 100%;
        height: 100%;
        width: 30vw;
        left: -30vw;
        top: 0;
        z-index: 1001;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        transition: all 0.15s ease-in;
        background-color: #f7f7f7;
}

.navbar-offcanvas .close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
}

.navbar-offcanvas .pub-title {
        font-size: 23px;
        font-weight: 400;
        line-height: 30px;
        padding: 55px 20px 20px 20px;
        margin: 0;
}

.navbar-offcanvas a {
        font-size: 16px;
        font-style: initial;
        color: #4B4B4D;
        white-space: normal !important;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
}

.navbar-offcanvas li {
        display: block;
        width: 100%;
        max-width: 30vw;
}

.navbar-offcanvas .nav {
        padding-bottom: 50px;
}

.navbar-offcanvas .nav>li>a,
.navbar-offcanvas .nav>li>.sub-menu>li>a {
        padding-left: 52px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
}

.navbar-offcanvas .nav>li {
        border-top: 1px solid #bcbdbe;
}

.navbar-offcanvas .nav>li:last-of-type {
        border-bottom: 1px solid #bcbdbe;
}

.navbar-offcanvas .nav>li>.sub-menu {
        background-color: #dadada;
}

.navbar-offcanvas .nav>li .sub-menu>li {
        border-top: 1px solid #bcbdbe;
}

.navbar-offcanvas .nav>li .sub-menu>li:first-of-type {
        border-top: 0;
}

.navbar-offcanvas .nav>li .sub-menu>li>.expanded {
        border-bottom: 0;
}

.navbar-offcanvas .nav>li a:hover {
        background-color: initial;
        text-decoration: underline;
}

.navbar-offcanvas .deep-level {
        background-color: #dadada;
}

.navbar-offcanvas .expanded {
        border-bottom: 1px solid #bcbdbe;
}

.navbar-offcanvas .expanded a {
        padding-left: 20px;
}

.navbar-offcanvas .expanded a:before {
        content: "\2013";
        display: inline-block;
        /*margin-right: 5px;*/
}

.navbar-offcanvas .expanded.last a {
        padding-left: 115px;
        font-style: italic;
}

.navbar-offcanvas .on>a,
.navbar-offcanvas .on>button[data-toggle=dropdown] span {
        background-color: #375b9a;
        color: #fff !important;
}

.navbar-offcanvas .on>a,
.navbar-offcanvas .on>button[data-toggle=dropdown] span:hover {
        background-color: #375b9a !important;
        color: #fff;
}

.navbar-offcanvas button[data-toggle="dropdown"] {
        display: inline-block;
        position: absolute;
        z-index: 5;
        left: 0;
        padding: 12px 12px 6px 12px;
        background-color: transparent;
        text-align: center;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
	border: 0;
}

.navbar-offcanvas button[data-toggle="dropdown"] span {
        font-size: 20px;
        color: #375b9a;
}

.navbar-offcanvas .dropdown-menu {
        position: relative;
        border: 0;
        box-shadow: none;
        width: 100%;
        float: none;
}

.navbar-offcanvas .dropdown-menu>li a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        padding-left: 75px;
}

.overlay:before {
        content: '';
        position: fixed;
        z-index: 10;
        background-color: #fff;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: opacity .20s ease-in-out;
}

.open .navbar-offcanvas {
        left: 0;
        transition: all .30s ease-in-out;
}

.open .offcanvas-toggle {
        transition: all .30s ease-in-out;
        left: 30vw;
}

.offcanvas-toggle {
        transition: all .20s ease-in-out;
        left: 0;
}

.offcanvas-toggle {
        position: relative;
        z-index: 10;
        width: 57px;
        height: 195px;
        background-color: #375b9a;
        color: #fff;
        position: fixed;
        top: 30%;
        left: 0;
        cursor: pointer;
}

.offcanvas-toggle span {
        display: block;
        width: 195px;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        -webkit-transform: rotate(-90deg) translateY(-70px);
        transform: rotate(-90deg) translateY(-70px);
}

@media only screen and (max-width: 1100px) {
        .offcanvas-toggle {
                width: 40px;
        }
        .offcanvas-toggle span {
                -webkit-transform: rotate(-90deg) translateY(-77px);
                transform: rotate(-90deg) translateY(-77px);
        }
}

nav#offcanvas-panel ul.sub-menu li{
        padding-left: 30px;
}
/*====================================
 * =      Article/Publication detail    =
 * ====================================*/

.article-header {
        position: relative;
        margin-bottom: 80px;
}

@media only screen and (min-width: 992px) {
        .article-header .header-col-right {
                /*position: absolute;*/
                float: right;
                right: 0;
        }
        .article-header .header-col-right .logo--publisher,
        .article-header .header-col-right .link--calltoaction {
                margin-left: auto;
                margin-right: 0;
        }
        .article-header .cover--pub img {
                max-width: 150px;
                width: 100%;
        }
}

.article-header .cover--pub {
        padding-right: 15px;
}

.article-header .logo--publisher {
        width: 170px;
        margin-bottom: 30px;
}

.article-header .meta--article {
        font-family: 'Abril', serif;
        font-size: 16px;
        font-style: italic;
        line-height: 25px;
}

.article-header .meta--article .authors {
        line-height: 22px;
}

.article-header ul {
        list-style: none;
        margin-bottom: 25px;
}

.page-header {
        margin-top: 0;
        border: 0;
        font-size: 30px;
        font-weight: 400;
        line-height: 34px;
}

@media only screen and (max-width: 1100px) {
        .page-header {
                font-size: 25px;
                line-height: 27px;
        }
}

.nav-tabs {
        padding-bottom: 1px;
        border-bottom: 4px solid #375b9a;
}

.tab-pane {
        padding-top: 25px;
        padding-bottom: 25px;
}

.pub-nav-tabs li a {
        background-color: #f6f6f6;
        color: #4B4B4D;
        font-style: initial;
        border-radius: 0;
        cursor: pointer;
}

.pub-nav-tabs li a:hover,
.pub-nav-tabs li a:focus {
        border-color: #eee #eee transparent;
}

.pub-nav-tabs li.active a {
        background-color: #375b9a;
        color: #fff;
        border-color: #375b9a;
}

.pub-nav-tabs li.active a:hover,
.pub-nav-tabs li.active a:focus {
        border-color: #375b9a;
        background-color: #375b9a;
        color: #fff;
}

.article__suporting-information {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
}

.article__suporting-information .block {
        padding-bottom: 20px;
        padding-left: 13px;
        border-bottom: 4px solid #375b9a;
}

.article__suporting-information .block:last-of-type {
        border: 0;
}

.article__suporting-information p {
        line-height: inherit;
        margin-bottom: 0;
}

.article__suporting-information img {
        margin-bottom: 15px;
}

.article__suporting-information .view-download-list [class^="icon-"]:before,
.article__suporting-information .view-download-list [class*=" icon-"]:before {
        margin-right: 7px;
        font-size: 16px;
}

.article__suporting-information .view-download-list a {
        font-family: 'Abril', serif;
        font-size: 18px;
        font-style: italic;
        color: #375b9a;
        line-height: 27px;
}

.article__suporting-information .view-keywords {
        position: relative;
        padding-left: 22px;
}

.article__suporting-information .view-keywords li {
        margin-bottom: 10px;
}

.article__suporting-information .view-pub-related {
        font-style: italic;
        line-height: 22px;
}

.article__suporting-information .view-pub-related h4 {
        font-family: 'Abril', serif;
        font-size: 16px;
        font-style: italic;
        line-height: 22px;
        margin-top: 10px;
}

.article__suporting-information .view-pub-related .pub {
        position: relative;
        padding: 22px 0 22px 22px;
        border-bottom: 2px solid #f6f6f6;
}

.article__suporting-information .view-pub-related .pub:last-of-type {
        border-bottom: 0;
}

.article__suporting-information .view-pub-date ul {
        margin: 0;
}

.article__suporting-information .view-pub-date li {
        font-style: italic;
}

.article__suporting-information .view-pub-date li:not(:first-of-type) {
        padding-top: 10px;
}

.article__suporting-information .intern {
        display: inline-block;
}

.article__suporting-information .intern:before {
        position: absolute;
        left: 0;
}

.view-partner-list li {
        padding: 20px 0;
}

.view-partner-list li img {
        max-width: 180px;
        height: auto;
        margin: 0 auto;
}


/*===============================
 * =             Tables           =
 * ===============================*/

.table-primary {
        width: 100%;
        margin: 20px 0;
}

.table-primary th {
        font-weight: 400;
        padding: 10px 20px;
}

.table-primary td {
        padding: 20px;
}

.table-primary td,
.table-primary th {
        border: 2px solid #fff;
}

.table-primary thead {
        font-family: 'Abril', serif;
        font-size: 18px;
        font-style: italic;
        background-color: #ededed;
}

.table-primary tbody tr:nth-child(odd) {
        background-color: #f6f6f6;
}

.table-primary tbody tr:nth-child(even) {
        background-color: #ededed;
}

.table-primary .icon-mail:before {
        font-size: 15px;
        margin-right: 5px;
}

@media only screen and (max-width: 1100px) {
        .table-primary {
                display: block;
                overflow-y: hidden;
                overflow-x: auto;
        }
}


/*===============================
 * =         Form Styling         =
 * ===============================*/

::-webkit-input-placeholder {
        color: #5d5d5e;
}

:-moz-placeholder {
        color: #5d5d5e;
        opacity: 1;
}

::-moz-placeholder {
        color: #5d5d5e;
        opacity: 1;
}

:-ms-input-placeholder {
        color: #5d5d5e;
}

input::-ms-clear {
        display: none;
}

input,
button,
textarea {
        background-image: none;
        font-family: 'TabletGothicNarrow', sans-serif;
        -webkit-appearance: none;
        border-radius: 0;
}

input[type='submit']:hover,
input[type='reset']:hover,
button[type='submit'] {
        cursor: pointer;
}

.form-primary {
        position: relative;
}

@media only screen and (min-width: 1101px) {
        .form-primary {
                padding-left: 30%;
        }
}

.form-primary input,
.form-primary textarea,
.form-primary select {
        width: 100%;
        background-color: #ededed;
        border: 1px solid #dbdbdb;
}

.form-primary legend {
        border: 0;
        color: inherit;
        position: relative;
        font-size: inherit;
}

@media only screen and (min-width: 480px) {
        .form-primary legend {
                text-align: right;
        }
}

.form-primary fieldset legend {
        margin-top: 5px;
}

@media only screen and (min-width: 480px) {
        .form-primary fieldset legend {
                width: auto;
                float: right;
        }
}

.form-primary label {
        font-weight: 400;
}

.form-primary .form-group {
        margin-bottom: 20px;
}

@media only screen and (min-width: 1101px) {
        .form-primary .form-group>label {
                display: block;
                position: absolute;
                left: 0;
                width: 28%;
                text-align: right;
        }
}

.form-primary .block--radio label {
        margin-right: 40px;
}

.form-primary input[type="radio"] {
        display: none;
}

.form-primary .radio--custom {
        display: inline-block;
        position: relative;
        border-radius: 50%;
        background-color: #ededed;
        border: 1px solid #dbdbdb;
        width: 28px;
        height: 28px;
        padding: 0;
        margin: 0 10px 3px 0;
        vertical-align: middle;
        text-align: center;
}

.form-primary .radio--custom:hover,
.form-primary .radio--custom:focus {
        border: 1px solid #b2b2b4;
}

.form-primary input[type='radio']:checked+.radio--custom:after {
        content: '';
        background-color: #666e71;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        z-index: 3;
        top: 8px;
        left: 8px;
}

.form-primary input[type='text'],
.form-primary select {
        padding-left: 10px;
        padding-right: 10px;
        height: 28px;
}

.form-primary textarea {
        height: 260px;
        padding: 10px;
        padding-bottom: 10px;
}

.form-primary select {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
}

.form-primary .btn {
        width: 130px;
        font-family: 'Abril', serif;
        font-size: 16px;
        font-style: italic;
        border-radius: 0;
}

.form-primary button[type='submit'] {
        background-color: #375b9a;
        color: #fff;
}

.form-primary button[type='reset'] {
        background-color: #dbdbdb;
}

.form-primary .btn__block-wrapper {
        text-align: right;
        margin-bottom: 20px;
}

header .search-block-form {
        position: absolute;
        right: 0;
        bottom: 0;
}

@media only screen and (min-width: 480px) {
        header .search-block-form {
                bottom: 55px;
        }
}

.search-block-form {
        width: 200px;
}

.search-block-form .input-group {
        height: 40px;
        background-color: #f6f6f6;
        line-height: 1.5;
        padding-top: 3px;
        border: 1px solid #ededed;
}

.search-block-form input {
        height: 40px;
        padding-top: 0;
        padding-bottom: 0;
}

.search-block-form .form-control {
        box-shadow: none;
}

.search-block-form .form-control,
.search-block-form .form-submit {
        border: 0;
        border-radius: 0;
        background-color: transparent;
}


/*====================================
 * =           Media-elements           =
 * ====================================*/

.media-list {
        margin-bottom: 50px;
}

.book-list .media {
        padding-top: 20px;
        padding-bottom: 12px;
        border-top: 4px solid #375b9a;
}

.journal-list .media {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 4px solid #375b9a;
}

.media-list .media-heading {
        margin-bottom: 12px;
}

.media-list .media-left {
        padding-right: 28px;
        max-width: 240px;
}

@media only screen and (max-width: 1100px) {
        .media-left,
        .media-right,
        .media-body {
                display: block;
        }
        .media-body {
                width: auto;
        }
}

.media-video {
        border-top: 4px solid #375b9a;
        padding-top: 20px;
        padding-bottom: 12px;
}

.media-video .media-video-left,
.media-video .media-video-body {
        display: inline-block;
}

.media-video .media-video-left {
        width: 100%;
}

.media-video iframe {
        width: 100%;
}

@media only screen and (min-width: 480px) {
        .media-video .media-video-left {
                width: 25%;
                margin-right: 2%;
                vertical-align: top;
        }
        .media-video .media-video-body {
                width: 72%;
        }
        .media-video .video-container {
                position: relative;
                padding-bottom: 65.25%;
                padding-top: 30px;
                height: 0;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                border: solid black 1px;
        }
        .media-video .video-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
        }
}

.media-video dl,
.media-video dt,
.media-video dd {
        line-height: 25px;
}

.modal {
        text-align: center;
}

.modal .modal-content {
        padding: 20px;
        border-radius: 0;
}

.modal .modal-footer,
.modal .modal-body {
        padding-right: 0px;
        padding-left: 0px;
}

.modal .modal-header {
        padding: 0;
        min-height: 0;
        border-bottom: 0;
}

.modal .modal-footer {
        text-align: left;
        border-top: 4px solid #f6f6f6;
}

.modal h3,
.modal h4 {
        margin-top: 0;
}

.modal .close {
        opacity: 1;
        text-shadow: none;
        color: #375b9a;
}

@media only screen and (min-width: 1101px) {
        .modal .modal-dialog {
                width: 738px;
        }
}

@media screen and (min-width: 1101px) {
        .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
        }
}

.modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
}


/*===============================
 * =              Footer           =
 * ===============================*/

footer {
        background-color: #ededed;
        position: relative;
        margin-top: 25px;
}

footer .nav li {
        display: inline-block;
}

footer .nav a {
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
        padding: 0;
}

footer .menu {
        display: inline-block;
        margin: 10px 0 40px 0;
}

footer .menu li {
        display: inline-block;
}

footer .menu li:not(:last-child):after {
        content: '|';
        font-size: 16px;
        margin: 0 10px;
}

footer .menu li a:hover,
footer .menu li a:focus {
        color: #000;
        text-decoration: underline;
}

footer .region-footer {
        padding: 25px 0;
}

footer h4 {
        font-family: 'Abril', serif;
        font-size: 18px;
        font-style: italic;
        font-weight: normal;
        display: inline-block;
}

footer .social {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
}

footer .social li a {
        margin-right: 3px;
}

footer .social a:hover span:before,
footer .social a:focus span:before {
        color: #375b9a;
}

footer .social span {
        font-size: 0;
}

footer .social span:before {
        color: #4B4B4D;
        font-size: 33px;
}

footer .zbmed {
        position: absolute;
        right: 18%;
        top: 25px;
        display: inline-block;
        width: 21%;
        max-width: 270px;
}

footer .zbmed img {
        width: 100%;
}

footer .toplink {
        position: absolute;
        top: 40px;
        right: 0;
}

footer .toplink:hover,
footer .toplink:focus {
        color: #375b9a;
        text-decoration: initial;
}

footer .toplink span:before {
        font-size: 20px;
        margin-left: 10px;
}

@media only screen and (max-width: 1100px) {
        .contact_tab a {
                font-size: 0;
        }
}

@media print{
        html, body{
                font-family: arial;
                font-size: 16px;
        }
        
        p{
                font-size: 10pt;
        }
        
        h2{
                font-size: 14pt !important;
                font-weight: bold !important;
        }
        
        h3{
                font-size: 14pt !important;
                font-style: italic !important;
        }
        
        h4{
                font-size: 12pt !important;
                font-weight: bold !important;
        }
        
        h5{
                font-size: 12pt !important;
                font-style: italic !important;
        }
        
        h6{
                font-size: 12pt !important;
        }
}

div#nav{
        border-right: 1px solid black;
        display: inline-block;
        width: 30vw;
        color: #7F7F7F;
}

div#nav ul{
        list-style: none;
        padding: 0;
        margin: 0;
}

div#nav li div.li-wrapper{
        border-bottom: 1px solid silver;
        padding: 4px;
}

div#nav ul.lvl1 li div{
        padding-left: 1%;
}

div#nav ul.lvl1{
        display: block;
}

div#nav ul.lvl2 li div{
        padding-left: 5%;
}

div#nav ul.lvl2{
        /*display: none;*/
}

div#nav ul.lvl3 li div{
        padding-left: 10%;
}

div#nav ul.lvl3{
        /*display: none;*/
}

div#nav ul.lvl4 li div{
        padding-left: 15%;
}

div#nav ul.lvl4{
        #display: none;
}

div#nav ul.lvl5 li div{
        padding-left: 20%;
}

div#nav ul.lvl5{
        display: none;
}

div#nav span#icon{
        width: 20px;
        height: 100%;
        display: block;
        color: #375b9a;
        cursor: pointer;
}

div#nav span.toggle{
        cursor: pointer;
}

div#nav li.active{
        background-color: #375B9A;
        color: #FFFFFF;
}

div#nav li div.active{
        background-color: #375B9A;
        color: #FFFFFF;
}

div#nav li div.active a{
        color: #FFFFFF;
}

div#nav a{
        color: #2E5797;
        text-decoration: none;
}

div#nav a:hover{
        text-decoration: underline;
}

div.t{
        display: table;
        width: 100%;
}

div.tr{
        display: table-row;
}

div.td{
        display: table-cell;
}

div.td-icon{
        width: 20px;
}

div.td-text{
        padding-right: 10px;
}

span.glyphicon-chevron-down:before{
        content: "\63";
}

span.glyphicon-chevron-up:before{
        content: "\64";
}
