ul.book-list li.media div.media-left a img.media-object{
  width: 150px;
}

ul.book-list li.media div.media-right a img.media-object{
  width: 150px;
}

ul.journal-list li.media div.media-left a img.media-object{
        width: 60px;
}

ul.journal-list li.media div.media-right img.media-object{
        width: 60px;
}

div.rwError{
	color: #990000;
	background-color: #ffdddd;
	padding: 4px;
	border: 1px solid #990000;
}

div.rwSuccess{
        color: #009900;
        background-color: #ddffdd;
        padding: 4px;
        border: 1px solid #009900;
}

div.contact-tile div.media-right img, div.modal-body div.media-right img{
	max-width: 150px;
}

div.tab-pane aside img{
    max-width: 250px;
}
/*
input, textarea, select{
    background-color: #ededed;
    border: 1px solid #dbdbdb;
}

input[type="text"], input[type="password"], input[type="number"], select {
    min-height: 28px;
}

input[type="text"], input[type="password"], input[type="number"], select{
    padding-right: 10px;
    padding-left: 10px;
}

input[type="radio"]{
    border-radius: 50%;
}

input[type="checkbox"]{
    padding: 10px;
    border: 1px solid #dbdbdb;
}
*/
input[type="search"]{
    width: 150px;
    float: right;
    height: 40px;
}
/*
select, input[type="text"], input[type="password"], input[type="number"], textarea{
    width: 80%;
}

input[type="submit"]{
    background-color: #375b9a;
    color: #ffffff;
    min-width: 130px;
    font-size: 16px;
    border-radius: 0;
    font-family: Abril,serif;
    font-style: italic;
    display: inline-block;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

form label{
    display: block;
    margin-top: 10px;
}

form label.option{
    display: inline;
}

form label.form-required:after{
    content: " *";
}

fieldset{

    border: none;
    padding-top: 0px;
    margin-top: 10px;
}

legend{
    font-face; Abril, sans-serif;
    font-style: italic;
    margin-top: 10px;
    background-color: #375b9a;
    color: #ffffff;
    padding: 4px;
}

fieldset div.fieldset-wrapper{
    padding: 10px;
    padding-top: 0px;
    border-right: 4px solid #375b9a;
    border-left: 4px solid #375b9a;
}
*/
a.inline{
    display: inline-block !important;
}

details{
    border-bottom: 1px solid #dbdbdb;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.rwTable{
    display: table;
    padding: 4px;
}

div.rwTablerow{
    display: table-row;
    padding: 4px;
}

div.rwTablerow:hover{
    background-color: #d4d4d4;
}

div.rwTablerow.no_hover:hover{
    background-color: #ffffff !important;
}

div.rwTablecell{
    display: table-cell;
    padding: 4px;
}

div.rwTablecell.head{
    font-weight: bold;
    background-color: #ffffff !important;
}

div.rwTablecaption{
        display: table-caption;
}

div.rwTablecaption.before{
        caption-side: top;
}

div.rwTablecaption.after{
        caption-side: bottom;
}

div.rwUserpic{
        width: 200px;
        height: 200px;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        float: left;
        margin-right: 10px;
}

img.rwUserpic{
  max-width: 200px;
  max-height: 200px;
}

ul.navbar-nav ul.level2{
  /*margin-top: 10px;*/
}

ul.search_result li{

    border-top: 1px solid #dbdbdb;
    list-style: none;
}

div#chapter-content ul, div#chapter-content ol{

    margin-left: 20px;
}

div#chapter-content aside ul, div#chapter-content aside ol {
        margin-left: -20px;
}

div#chapter-content aside ul.marked, div#chapter-content aside ol.marked, div#chapter-content aside li.marked{
        background-color: #ededed;
}

ul.rwToc{
    margin-left: 20px;
}

ul.dropdown-menu{
    /*display: inline;*/
}

div.table-of-content ul{
    margin: 20px;
    list-style: none;
}

div.table-of-content div.description{
    font-style: italic;
}

div.table-of-content div.authors{
    font-size: 0.8em;
}

.breadcrumb ol{
    list-style: none;
}

.breadcrumb ol li{
    display: inline-block;
}

section[id|="block-publissogoldbooktableofcontentsblock"] nav ul li a {
	word-break: normal;
	word-wrap: normal;
}

body{
	padding-top: 0px;
	margin-top: -1px;
}

.filter-guidelines{
    display: none;
}

.filter-guidelines li{
    list-style: none;
}


.contact_tab {
	background-color: #ff0000;
}

body p span.rwHighlight{
	background-color: #375b9a !important;
	color: #ffffff !important;
}

div.meta--article p{
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
}

div.meta--article ul{
    font-style: normal;
}

div.br1{
	border-right: 2px solid silver;
}

table input[type="checkbox"]{
	margin: 0 !important;
}

td.content_default{
	border: 1px solid black;
}

table{
	caption-side: bottom;

}

caption{
	font-style: italic;
}

.font-red{
	color: #cc0000;
}

.navbar-offcanvas .expanded a::before{
	content: "" !important;
}

.navbar-offcanvas .expanded a{
	background-color: #e5e5e5;
}

span.invitationStatusRejected{
  color: #990000 !important;
  font-weight: bold;
}

span.invitationStatusPending{
  color: #B5AF00 !important;
  font-weight: bold;
}

span.invitationStatusAccepted{
  color: #009900 !important;
  font-weight: bold;
}

span.reviewStatusPending{
  color: #000000 !important;
}

span.reviewStatusRejected{
  color: #990000 !important;
}

span.reviewStatusProgress{
  color: #B5AF00 !important;
}

span.reviewStatusFinished{
  color: #009900 !important;
}

div.js-form-type-search{
	margin-bottom: -40px !important;
}

input[type="radio"]{
        -webkit-appearance: radio !important;
}

input[type="checkbox"]{
        -webkit-appearance: checkbox !important;
}

panel, div#article-content ul li{
        padding-left: 10px !important;
}

panel, div#article-content ol li{
        padding-left: 50px !important;
}

table.rwEditorInfobox{
        background-color: lightblue; border-spacing: 0px; border-collapse: collapse; min-width: 40%;
}

table.rwEditorInfobox td#rwEditorInfoboxHeader{
        border: 1px solid black; padding: 4px; font-weight: bold;
}

table.rwEditorInfobox td#rwEditorInfoboxBody{
        border: 1px solid black; padding: 4px;
}


span.rwFontControl{
        cursor: pointer;
}

span#rwCtrlIncFont{
        font-size: large;
}

span#rwCtrlResFont{
        font-size: medium;
}

span#rwCtrlDecFont{
        font-size: small;
}

body#tinymce{
        padding: 4px !important;
        margin: 2px !important;
}

table.mce-item-table{
        border: 1px solid black;
        width: 200px;
}

table.mce-item-table td{
        border: 1px solid black;
        width: auto;
        text-align: left;
        vertical-align: top;
}

div#chapter-list a{
        margin: 0;
        padding: 0;
}

div#chapter-list li{
        list-style: none;
        margin-top: 10px;
}

div#chapter-list div.authors{
        font-size: 14px;
}

.ck-editor__editable {
        min-height: 400px;
}

div.form-wrapper-left{
        float: left;
        display: inline;
        text-align: left;
}

div.form-wrapper-right{
        float: right;
        display: inline;
        text-align: right;
}

div.form-wrapper-childs-left div{
        float: left;
        margin-right: 10px;
}

hr.form-add-reviewsheet-item{
        margin-top: 5px;
        margin-bottom: 5px;
        size: 1px;
        height: 1px;
}

div#chapter-content h1, div#article-content h1, div.tab-content h1{
        font-size: 18pt;
        font-weight: bold;
}

div#chapter-content h2, div#article-content h2, div.tab-content h2{
        font-size: 14pt;
        font-weight: bold;
}

div#chapter-content h3, div#article-content h3, div.tab-content h3{
        font-size: 14pt;
        font-style: italic;
}

div#chapter-content h4, div#article-content h4, div.tab-content  h4{
        font-size: 12pt;
        font-weight: bold;
}

div#chapter-content h5, div#article-content h5, div.tab-content h5{
        font-size: 12pt;
        font-style: italic;
}

div#chapter-content h6, div#article-content h6, div.tab-content h6{
        font-size: 12pt;
}

div#chapter-content table, div#article-content table, div.tab-content table{
        margin-bottom: 12pt;
}

div#chapter-content table caption, div#article-content table caption, div.tab-content table caption{
        caption-side: top;
        margin-bottom: 3pt;
        font-size: 14px;
        line-height: 10pt;
        color: inherit;
        padding: 0 !important;
}

.chapter-content figure, #chapter-content figure, .article-content figure, #article-content figure, div.tab-content figure{
        margin-bottom: 12pt;
	margin-right: 20px;
	display: table;
	width: 1px;
}

.chapter-content figure img, #chapter-content figure img, .article-content figure img, #article-content figure img, div.tab-content figure img{
    max-width: 915px;
}

.chapter-content figure figcaption, #chapter-content figure figcaption, .article-content figure figcaption, #article-content figure figcaption, div.tab-content figure figcaption{
        margin-top: 3pt;
        font-size: 14px;
        /*line-height: 10pt;*/
}

a.btnPublissoDefault{
        background-color: #375b9a;
        background-image: none;
        border-bottom-color: rgb(204, 204, 204);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
        border-image-slice: 100% 100% 100% 100%;
        border-image-source: none;
        border-image-width: 1 1 1 1;
        border-left-color: rgb(204, 204, 204);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgb(204, 204, 204);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgb(204, 204, 204);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top-style: solid;
        border-top-width: 1px;
        box-sizing: border-box;
        color: #ffffff !important;
        cursor: pointer;
        display: inline-block;
        font-family: "TabletGothicNarrow",sans-serif;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        letter-spacing: 0.3px;
        line-height: 20px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        outline-color: rgb(55, 91, 154);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 6px;
        text-align: center;
        text-decoration: none;
        text-decoration-color: rgb(55, 91, 154);
        text-decoration-line: none;
        text-decoration-style: solid;
        text-rendering: optimizelegibility;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        -moz-user-select: none;
}

header div#rwCtrlFontSize {
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 0;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: inline-block;
        /*position: fixed;*/
        z-index: 1000;
}

header div#rwCtrlFontSize ul {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 4px;
        padding: 7px 3px;
}

header div#rwCtrlFontSize li {
        display: inline-block;
        padding: 0 9px;
}

header div#rwCtrlFontSize li:first-of-type {
        border-right: 2px solid #f2f0f1;
}

header div#rwCtrlFontSize li:last-of-type {
        border-left: 2px solid #f2f0f1;
}

ul.pager {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 4px;
        padding: 7px 3px;
}

ul.pager li {
        display: inline-block;
        padding: 0 9px;
}

ul.pager li.active span{
        display: inline-block;
        padding: 5px 14px;
        border: 1px solid #ddd;
        border-radius: 15px;
        background-color: #337AB7;
        color: #FFF;
	line-height: 25px;
}

div#rwFakePage{

        border: 1px solid silver;
        background-color: #F7F7F7;
        padding: 5px 10px 5px 10px;
}

#cookie_agree{
        display: none;
}

#cookie_agree a {
        text-decoration:none;
}

#cookie_agree a:hover {
        text-decoration:underline;
}

#cookie_agree div {
        padding:10px;
        padding-right:40px;
        font-family: 'TabletGothicNarrow',sans-serif;
}

#cookie_agree {
        text-align:left;
        border-top:1px solid #fff;
        background: #eeeeee;
        position:fixed;
        bottom:0px;
        z-index:10000;
        width:100%;
        font-size:14px;
        padding: 20px;
}

#cookie_agree a{
        text-decoration: underline;
}

#cookie_agree_close {
        color: #fff;
        font: italic 16px Abril, sans-serif;
        position: absolute;
        right: 20px;
        text-decoration: none;
        top: 25px;
        cursor:pointer;
        padding:5px;
        background-color: #5e84c2;
        width: 130px;
        text-align: center;
}

#cookie_agree_close:hover {
        border-bottom:1px solid white; border-right:1px solid white; border-top:1px solid #7b92a9; border-left:1px solid #7b92a9;
}

.font_bold{
        font-weight: bold;
}

.form-control{
        height: auto;
}

.dropdown-menu{
        min-width: auto;
}

.admininfo{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000000;
        opacity: 0.9 !important;
}

img.gms-logo{
	margin-top: 50px;
        float: right;
        margin-right: 5vw;
}

button.offcanvas-toggle{
        border:0;
}

div#chapter-content table{
	border: 1px solid black;
	border-collapse: collapse;
	max-width: 915px !important;
}

div#chapter-content table th{
	padding: 4px;
	border: 1px solid black;
}

div#chapter-content table td{
        padding: 4px;
        border: 1px solid black;
}

div#rwPageBreak{
	display: none;
}

div.div-float-left{
        float: left;
}

.rwTextNormal{
        font-weight: normal;
}

.rwTextBold{
        font-weight: bold;
}

section.article-header div.cover--pub:empty {
    display: none;
}

div#articleMetaContainer{
        clear: both;
}

div#articleContainerArticleType{
        float: left;
    padding-right: 10px;
    font-size: 0.8em;
}

div#articleContainerSubCategory{
        float: left;
    font-size: 0.8em;
}

table.articleAttachments{
    border: none;
}

table.articlesAttachments td{
    padding: 4px !important;
}

table.articlesAttachments tr:nth-of-type(5n+6) td{
    border-bottom: 1px solid silver;
}

table.articlesAttachments tr:last-child td{
    border: none;
}

a#login span.icon-user{
        color: #b7b7b7;
}

div#dashboard-categories a{
        margin-bottom: 5px;
}

div#dashboard-categories a:not(:last-child){
        margin-right: 10px;
}

@media print{
        a:link:after, a:visited:after {
                content: "";
        }

        table{
                width: auto !important;
        }

        figure{
                width: 100% !important;
        }

        img{
                height: auto !important;

        }

        html{
                font-size: 10pt !important;
        }
}

@media only screen and (max-width: 1100px) {

        div#rwCtrlFontSize{
                display: none !important;
        }

        a#login{
                width: 35px !important;
        }

        a#login span#loginText{
                font-size: 0px !important;
                content: "e" !important;
        }

        a#login span#loginText{
                display: none;
        }

        img.gms-logo{
                max-width: 68px;
                margin-top: 30px;
        }

        header .search-block-form{
                bottom: 10px !important;
        }

        header .navbar-collapse{
                width: auto !important;
        }

        ul.book-list li.media div.media-left a img.media-object {
                width: 30vw !important;
        }

        ul.book-list li.media div.media-right a img.media-object {
                width: 25vw !important;
        }

        .nav-tabs > li{
                float: none;
        }

        section.article-header div.cover--pub img{
                max-width: 100px !important;
                float: none;
                margin-bottom: 1px;
        }

        button.offcanvas-toggle{
                display: none;
        }

        footer a[title="Home ZBMED"]{
                margin-bottom: 10px;
        }

        ul.book-list li.media div.media-right a img.media-object[alt=""]{
                display: none;
        }

        .breadcrumb ol li{
                display: inherit;
        }

        span#cookie_agree_close{
                position: relative !important;
                display: block !important;
                top: inherit !important;
                margin-left: 30px !important;
        }

        div#dashboard-categories a{
                display: block !important;
                margin: 0 0 2px 0 !important;
        }

        .navbar-collapse.collapse{
                #display: none !important;
        }
}

.displayBlock{
        display: block !important;
        margin-bottom: 5px !important;
}

.width50percent{
        width: 50em;
}

.form-field-width100{
        width: 100% !important;
}

.sticky{
        position: sticky;
}

label.form-required:after{
        content: '*';
        color: #f00;
        vertical-align: top;
}

input.error, select.error, textarea.error{
        border-color: #ff0000;
}

div.form-item--error-message{
        color: #ff0000;
        font-size: 9pt;
}

.font09em{
        font-size: 0.9em;
}

div.modal-backdrop{
        z-index: 0;
}

.BKTemplateFormDesc{
        font-size: 14px;
        /*color: #208a44;*/
        padding: 4px;
        /*border: thin groove;*/
        display: block;
        border-radius: 4px;
}

.BKTemplateFormDesc:empty{
        display: none;
}

input.rwFormNote{
        border: 1px solid green;
        cursor: default !important;
        background-color: white !important;
}

div#chapter-text table{
        max-width: 100% !important;
}

.block{
        display: block;
}

table.borderBottomBlack{
        border: none !important;
}

table.borderBottomBlack tr *{
        border: none !important;
        border-bottom: 1px solid black !important;
}

table.borderFullBlack{
        border: 1px solid black !important;
        border-collapse: collapse !important;
}

table.borderFullBlack td, table.borderFullBlack th{
        border: 1px solid black !important;
}

nav.inline[role="navigation"]{

        /*background-color: #f5f5f5;
        border-radius: 5px;
        border: 1px solid #ddd;*/
}

nav.inline[role="navigation"] div.title{

        padding-left: 10px;
        font-weight: bolder;
        /*border-bottom: 1px solid #ddd;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #f5f5f5;*/
}

nav.inline[role="navigation"] ul li{
        display: list-item;
        list-style: square;
        margin-left: 40px;
}

nav.inline[role="navigation"] ul li a {

        margin: 0;
        padding: 2px 0px 2px 10px;
        /*padding-left: 10px;*/
}

div.anchorToTop{
        margin-top: -15px;
}

ins{
        color: limegreen;
}

del{
        color: orangered;
}

.modal-body{
        overflow: auto !important;
}

div.indentation{
        width: 40px;
}

ul#conference-session-list li{
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        list-style: none;
}

ul#conference-session-list li:last-child{
        margin-bottom: 0.8em;
}

table.rwTableInline{
        margin-top: 5px;
        border: 1px solid silver !important;
}

table.rwTableInline tr{
        border: none !important;
}

table.rwTableInline td{
        border: none !important;
        border-bottom: 1px dotted silver !important;
        background-color: white;
}

span.fakeLink {
        cursor: pointer;
        color: #375b9a;
}

table.blank{
        border: none;
        background-color: white;
}

table.blank tr, table.blank th, table.blank td{
        border: none !important;
        background-color: white;
}

div#chapter-content div#abstract-authors:empty{
        display: none;
}
div#chapter-content div#abstract-authors{
        margin-bottom: 1em;
}

div#chapter-content div#abstract-affiliations:empty{
        display: none;
}
div#chapter-content div#abstract-affiliations{
        margin-bottom: 1em;
}

div#chapter-content{
        margin-bottom: 1em;
}

div#bookChapterNavigation{
        width: 100%;
        padding: 0;
}

div#bookChapterNavigation div.rwTablecell{
        padding: 0px 4px !important;
}

div#bookChapterNavigation div.rwTablecell:first-of-type, div#bookChapterNavigation div.rwTablecell:last-of-type{
        background-color: #f1f1f1;
        width: 45%;
}

div.alignleft{
        text-align: left;
}

div.alignright{
        text-align: right;
}

div#bookChapterNavigation div.alignleft{
        margin-right: 5px;
        background-color: #F1F1F1;
        padding: 10px 10px 10px 20px;
        background-image: url('../images/arror_l.png');
        background-repeat: no-repeat;
        background-position: left center;
        vertical-align: baseline;
}

div#bookChapterNavigation div.alignright{
        margin-left: 5px;
        background-color: #F1F1F1;
        padding: 10px 20px 10px 10px;
        background-image: url('../images/arror_r.png');
        background-repeat: no-repeat;
        background-position: right center;
        vertical-align: baseline;
}

div#bookChapterNavigation div.alignleft a{
}

div#bookChapterNavigation div.alignright a{
}

div.nohover:hover{
        background-color: #FFF !important;
}

div.region-content{
        margin-bottom: 20px;
}

.textRotate90deg{
        transform: rotate(90deg);
        -webkit-transform: rotate(-90deg);
}

.textRotate-90deg{
        transform: rotate(-90deg);
        -webkit-transform: rotate(90deg);
}