/*====================================
=      Article/Publication detail    =
====================================*/

.article-header {
	position: relative;
	padding-left: 25%;
	// padding-left: 210px;
	// padding-right: 325px;
	margin-bottom: 80px;
	@media only screen and (min-width: $screen-md-min) {
		padding-right: 325px;
		padding-left: 210px;
		.logo--publisher {
			position: absolute;
		}
		.cover--pub {
			width: 170px;
		}
	}
	.logo--publisher {
		// position: absolute;
		right: 0;
		top: 0;
		width: 170px;
		margin-bottom: 10px;
	}
	.cover--pub {
		position: absolute;
		left: 0;
		top: 0;
		max-width: 25%;
		padding-right: 15px; 
		// width: 170px;
	}
	.meta--article {
		font-family: 'Abril', serif;
		font-size: 16px;
		font-style: italic;
		line-height: 25px;
		.authors {
			line-height: 22px;
		}
	}
	ul {
		list-style: none;
		margin-bottom: 25px;
	}
	.search-block-form {
		margin-top: 36px;
		width: 305px;
		.input-group {
			border: 1px solid #b7b7b7;
		}
		.icon {
			font-size: 22px;
		}
	}
}
.page-header {
	margin-top: 0;
	border: 0;
	font-size: 30px;
	font-weight: 400;
	line-height: 34px;
}


//  Tab navigation

.nav-tabs {
	padding-bottom: 1px;
	border-bottom: 4px solid $blue-publisso;
}
.tab-pane {
	padding-top: 25px;
	padding-bottom: 25px;
}
.pub-nav-tabs {
	li a {
		background-color: $gray-lighter;
		color: $gray-dark;
		font-style: initial;
		border-radius: 0;
		cursor: pointer;
		&:hover, &:focus {
			border-color: #eee #eee transparent;
		}
	}
	li.active a {
		background-color: $blue-publisso;
		color: #fff;
		border-color: $blue-publisso;
		&:hover, &:focus {
			border-color: $blue-publisso;
			background-color: $blue-publisso;
			color: #fff;
		}
	}
}


//  Article Aside
.article__suporting-information {
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	.block {
		padding-bottom: 20px;
		padding-left: 13px;
		border-bottom: 4px solid $blue-publisso;
		&:last-of-type {
			border: 0;
		}
	}
	p {
		line-height: inherit;
		margin-bottom: 0;
	}
	img {
		margin-bottom: 15px;
	}
	.view-download-list {
		[class^="icon-"]:before, [class*=" icon-"]:before {
			margin-right: 7px;
			font-size: 16px;
		}
		a {	
			@include abril-italic; 
			color: $blue-publisso;
			line-height: 27px;
		}
	}
	.view-partner-list li {
		padding: 10px 0;
	}
	.view-keywords {
		position: relative;
		padding-left: 22px;
		li {
			margin-bottom: 10px;
		}
	}
	.view-pub-related {
		font-style: italic;
		line-height: 22px;
		h4 {
			font-family: 'Abril', serif;
			font-size: 16px;
			font-style: italic;
			line-height: 22px;
			margin-top: 25px;
			margin-bottom: 25px;
		}
		.pub {
			position: relative;
			padding-left: 22px;
			padding-bottom: 22px;
			border-bottom: 2px solid $gray-lighter;
			&:last-of-type {
				border-bottom: 0;
			}
		}

	}
	.intern {
		display: inline-block;
		&:before {
			position: absolute;
			left: 0;
		}
	}
}




