html, body {
    min-height: 100%;
    font-size: 16px;
    background-color: #fff;
    color: $gray-dark;
    font-family: 'TabletGothicNarrow', sans-serif;
    font-weight: 400;
    line-height: 20px;
    text-rendering: optimizeLegibility;
}

html {
  height: 100%;
 //Prevent iOS text size adjust after orientation change
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}


//****
// Typography
//****
h2, h3, h4 {
    font-weight: normal;
    letter-spacing: normal;
    hyphens: auto;
    -webkit-hyphens: auto;
    -o-hyphens: auto;
    -moz-hyphens: auto;
}
h2 {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.3px;
    margin: 10px 0 15px 0;
}
h3 {
    font-size: 23px;
    line-height: 28px;
    margin: 20px 0;
}
h4 {
    font-size: 21px;
    // font-style: italic;
    line-height: 29px;
    letter-spacing: 0.35px;
    margin-top: 10px;
}
h5 {
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.1px;
}
p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 16px;
}
a {
    color: #4b4b4d;
    text-decoration: none;
    font-size: inherit;
    line-height: 25px;
    letter-spacing: 0.3px;
}
.article p {
    font-family: Arial, sans-serif;
    line-height: 23px;
    margin-bottom: 25px;
}

hr {
    border-top: 4px solid $gray-lighter;
}

//****
// General
//****
::selection {
    background: #375b9a;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #375b9a;
    color: #fff;
    text-shadow: none;
}
// strong, b {
//     font-weight: 600;
// }
// p, li, blockquote, aside {
//     font-size: 16px;
//     line-height: 1.580;
//     hyphens: auto;
//     -webkit-hyphens: auto;
//     -o-hyphens: auto;
//     -moz-hyphens: auto;
//     letter-spacing: 0;
// }
// ul, ol {
//     padding-left: 18px;
// }
// blockquote {
//     font-style: italic;
// }
// q {
//     quotes: 'â€ž' 'â€œ';
// }
// hr {
//     margin: 1em 0;
//     clear: both;
//     border: 0;
//     border-top: 1px solid #5d5d5e;
// }
// abbr, acronym {
//     font-family: 'Abril', serif;
//     font-style: italic;
//     border-bottom: none;
//     position: relative;
// }
// dt {
//     font-weight: 700;
// }
// dd {
//     margin: 0 0 1em 1em;
// }



/* Clearfix */
nav:before, .clearfix:before {
    content: " ";
    visibility: hidden;
    display: table;
    height: 0;
}
nav:after, .clearfix:after {
    content: '';
    display: table;
    clear: both;
}
