/* header */
// .logo {
//     position: absolute;
//     bottom: 42px;
//     left: 0;
//     width: 21%;
// }
// .logo {
//     display: block;
// }
// .logo img {
//     display: block;
//     width: 100%;
// }

// @media only screen and (max-width:1024px) and (min-width:769px) {
//     header .logo {
//         width: 28.5%;
//     }
// }


@media only screen and (max-width:768px) {
    header  .logo {
        top: 75px;
        width: 245px;
    }
}

@media only screen and (max-width: 539px) {
   header .logo {
        position: relative;
        top: 60px;
        float: left;
    }
}

//<a class="logo navbar-btn pull-left" href="/" title="Startseite" rel="home">
    //<img src="media/ZB-MED-Publisso-logo.svg" alt="Startseite"/>
//</a>