/*===============================
=        Contact Box          =
===============================*/
#contact-panel {
    position: absolute; 
    z-index: 5;
    width: 100%;
    left: 0;
    right: 0;
    
    position: absolute;
    background-color: #fff;
    @include box-shadow( 0px 0px 8px #bbb);
    .width-control {
        padding: 45px 15px;
    }
    .panel__inner {
        max-height: 0;
        overflow: hidden;
        background-color: #fff;
    }
    legend {
        border: 0;
        font-size: 26px;
        line-height: 34px;
        float: left;
        width: auto;
        margin-right: 6%;
        h3 {
            margin: 0;
        }
        a {
            @include abril-italic;
            color: $gray;
            &:before {
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
    .form-type-select {
        width: 19%;
        min-width: 213px;
        margin-right: 25px;
        select {
            width: 100%;
            height: 30px;
            background-color: $gray-light;
            border: 1px solid $gray-border;
        }
    }
    .icon-cancel {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 20px;
        &:hover, &:focus {
            text-decoration: none;
       }
    }
    .toggler {
        position: absolute;
        bottom: -45px; 
        background-color: #fff;
        right: 50%;
        @include translateX(50%);
        @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
        &.on {
            .icon-arrow-down {
                transform: rotate(180deg);
            }
        }
        [class^="icon-"] {
            display: inline-block;
        }
        .icon-user {
            color: $gray;
        }
        .icon-arrow-down{
            margin-left: 5px;
        }
        a {
            display: inline-block;
            padding: 10px;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}
.card__body {
    width: 475px;
    padding: 20px;
    margin-top: 5px;
    @include box-shadow(0 0 7px rgba(0, 0, 0, 0.3));
    .media-left {
        padding-right: 35px;
    }
    h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        margin: 0px;
    }
    .contact {
        display: block;
        &:hover, &:focus {
            color: inherit;
            text-decoration: none;
        }
        span {
            display: inline-block;
            font-weight: 600;
            min-width: 55px;
        }
    }
    .mail {
        color: $blue-publisso;
        &:hover, &:focus {
            color: $blue-publisso;
        }
        span {
            color: $gray-dark;
        }
    }
}

.slideDown {
    overflow-y: hidden;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
    max-height: 1500px !important;
}
.slideUp {
    overflow-y: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    max-height: 0 !important;
}

