/*===============================
=             Abril            =
===============================*/
@font-face {
    font-family: 'Abril';
    src: url('../fonts/abril_bold/AbrilText-Bold.eot');
    src: url('../fonts/abril_bold/AbrilText-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/abril_bold/AbrilText-Bold.woff') format('woff'), url('../fonts/abril_bold/AbrilText-Bold.ttf') format('truetype'), url('../fonts/abril_bold/AbrilText-Bold.svg#AbrilText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Abril';
    src: url('../fonts/abril_bolditalic/AbrilText-BoldItalic.eot');
    src: url('../fonts/abril_bolditalic/AbrilText-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/abril_bolditalic/AbrilText-BoldItalic.woff') format('woff'), url('../fonts/abril_bolditalic/AbrilText-BoldItalic.ttf') format('truetype'), url('../fonts/abril_bolditalic/AbrilText-BoldItalic.svg#AbrilText-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Abril';
    src: url('../fonts/abril/AbrilText-Regular.eot');
    src: url('../fonts/abril/AbrilText-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/abril/AbrilText-Regular.woff') format('woff'), url('../fonts/abril/AbrilText-Regular.ttf') format('truetype'), url('../fonts/abril/AbrilText-Regular.svg#AbrilText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Abril';
    src: url('../fonts/abril_italic/AbrilText-Italic.eot');
    src: url('../fonts/abril_italic/AbrilText-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/abril_italic/AbrilText-Italic.woff') format('woff'), url('../fonts/abril_italic/AbrilText-Italic.ttf') format('truetype'), url('../fonts/abril_italic/AbrilText-Italic.svg#AbrilText-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*===============================
=      Tablet Gothic Narrow     =
===============================*/
@font-face {
    font-family: 'TabletGothicNarrow';
    src: url('../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.eot');
    src: url('../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.woff') format('woff'), url('../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.ttf') format('truetype'), url('../fonts/tabletgothicnarrow/TabletGothicNarrow-Regular.svg#TabletGothicNarrow-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TabletGothicNarrow';
    src: url('../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.eot');
    src: url('../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.eot?#iefix') format('embedded-opentype'), url('../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.woff') format('woff'), url('../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.ttf') format('truetype'), url('../fonts/tabletgothicnarrow_oblique/TabletGothicNarrow-Oblique.svg#TabletGothicNarrow-Oblique') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'TabletGothicNarrow';
    src: url('../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.eot');
    src: url('../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.woff') format('woff'), url('../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.ttf') format('truetype'), url('../fonts/tabletgothicnarrow _semibold/TabletGothicNarrow-Semibold.svg#TabletGothicNarrow-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}