/*===============================
=              Footer           =
===============================*/
footer {
    background-color: $gray-light;
    position: relative;
    margin-top: 25px;
    .nav {
        li {
            display: inline-block;
        }
        a {
            font-size: 18px;
            display: inline-block;
            vertical-align: middle;
            padding: 0;
        }
    }
    .menu {
        display: inline-block;
        margin: 10px 0 40px 0;
        li {
            display: inline-block;
            &:not(:last-child):after {
                content: '|';
                font-size: 16px;
                margin: 0 10px;
            }
            a:hover, a:focus {
                color: #000;
                text-decoration: underline;
            }
        }
    }
    .region-footer {
        padding: 25px 0;
    }
    h4 {
        @include abril-italic;
        font-weight: normal;
        display: inline-block;
    }
    .social {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        li a {
            // padding: 0;
            margin-right: 3px;
        }
        a:hover, a:focus {
            span:before {
                color: $blue-publisso;
            }
        }
        span {
            font-size: 0;
            &:before {
                color: $gray-dark;
                font-size: 33px;
            }
        }
    }
    .zbmed {
        position: absolute;
        right: 18%;
        top: 25px;
        display: inline-block;
        width: 21%;
        max-width: 270px;
        img {
            width: 100%;
        }
    }
    .toplink {
        position: absolute;
        top: 40px;
        right: 0;
        &:hover, &:focus {
            color: $blue-publisso;
            text-decoration: initial;
        }
        span:before {
            font-size: 20px;
            margin-left: 10px;
        }
    }
}

