/*===============================
=         Form Styling         =
===============================*/

::-webkit-input-placeholder {
    color: #5d5d5e;
}
:-moz-placeholder {
    color: #5d5d5e;
    opacity: 1;
}
::-moz-placeholder {
    color: #5d5d5e;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #5d5d5e;
}
input::-ms-clear {
    display: none;
}
input, button, textarea {
    background-image: none;
    font-family: 'TabletGothicNarrow', sans-serif;
    -webkit-appearance: none;
    border-radius: 0;
}
input[type='submit']:hover, input[type='reset']:hover, button[type='submit'] {
    cursor: pointer;
}

// Forms
.form-primary {
    position: relative;
    @media only screen and (min-width: $screen-sm-min) {
        padding-left: 30%;
    }
    input, textarea, select {
        width: 100%;
        background-color: $gray-light;
        border: 1px solid $gray-border;
    }
    legend {
        border: 0;
        color: inherit;
        position: relative;
        font-size: inherit;
        @media only screen and (min-width: $screen-xs-min) {
            text-align: right;
        }
    }
    fieldset legend {
        @media only screen and (min-width: $screen-xs-min) {
            width: auto;
            float: right;
        }
        margin-top: 5px;
    }
    label {
        font-weight: 400;
    }
    .form-group {
        margin-bottom: 20px;
        > label {
            @media only screen and (min-width: $screen-sm-min) {
                display: block;
                position: absolute;
                left: 0;
                width: 28%;
                text-align: right;
            }
        }
    }
    .block--radio {
        label {
            margin-right: 40px;
        }
    }
    input[type="radio"] {
        display: none;
    }
    .radio--custom {
        display: inline-block;
        position: relative;
        border-radius: 50%;
        background-color: $gray-light;
        border: 1px solid $gray-border;
        width: 28px;
        height: 28px;
        padding: 0;
        margin: 0 10px 3px 0;
        vertical-align: middle;
        text-align: center;
        &:hover, &:focus {
            border: 1px solid #b2b2b4;
        }
    }
    input[type='radio']:checked + .radio--custom:after {
        content: '';
        background-color: #666e71;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        z-index: 3;
        top: 8px;
        left: 8px;
    }
    input[type='text'], select {
        padding-left: 10px;
        padding-right: 10px;
        height: 28px;
    }
    textarea {
        height: 260px;
        padding: 10px;
        padding-bottom: 10px;
    }
    select {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
    }
    .btn {
        width: 130px;
        font-family: 'Abril', serif;
        font-size: 16px;
        font-style: italic;
        border-radius: 0;
    }
    button[type='submit']{
        background-color: $blue-publisso;
        color: #fff;
    }
    button[type='reset']{
        background-color: $gray-border;
    }
    .btn__block-wrapper {
        text-align: right;
        margin-bottom: 20px;
    }
}




//  Search form styling 
header {
    .search-block-form {
        position: absolute;
        right: 0;
        bottom: 55px;
    }
}
.search-block-form {
    width: 200px;
    .input-group {
        height: 40px;
        background-color: $gray-lighter;
        line-height: 1.5;
        padding-top: 3px;
        border: 1px solid $gray-light;
    }
    input {
        height: 40px;
        padding-top: 0;
        padding-bottom: 0; 
    }
    .form-control {
        box-shadow: none;
    }
    .form-control, .form-submit {
        border: 0;
        border-radius: 0;
        background-color: transparent;
    }
}

