/*===============================
=           Iconfont            =
===============================*/
@font-face {
    font-family: 'Publisso';
    src: url('../fonts/publisso-icons.eot');
    src: url('../fonts/publisso-icons.eot?#iefix') format('embedded-opentype'), url('../fonts/publisso-icons.woff') format('woff'), url('../fonts/publisso-icons.ttf') format('truetype'), url('../fonts/publisso-icons.svg#zbmed-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Publisso' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icon-arrow-right: "\61";

[data-icon]:before {
    content: attr(data-icon);
}
.icon-arrow-right:before, .slick-next:before {
    content: "\61";
}
.icon-arrow-left:before, .back-link:before, .slick-prev:before {
    content: "\62";
}
.icon-arrow-down:before {
    content: "\63";
}
.icon-arrow-up:before, .totop:before {
    content: "\64";
}
.icon-user:before {
    content: "\65";
}
.icon-menu:before {
    content: "\66";
}
// .icon-download:before, .download:before, .fileName a:before {
//     content: "\67";
// }
.icon-download:before, .download:before {
    content: "\67";
}
.icon-phone:before {
    content: "\68";
}
.icon-mail:before {
    content: "\69";
}
.icon-document:before {
    content: "\6a";
}
.icon-play:before {
    content: "\6b";
}
.icon-facebook:before {
    content: "\6c";
}
.icon-gplus:before {
    content: "\6d";
}
.icon-linkedin:before {
    content: "\6e";
}
.icon-twitter:before {
    content: "\6f";
}
.icon-tumblr:before {
    content: "\70";
}
.icon-flickr:before {
    content: "\71";
}
.icon-cancel:before {
    content: "\72";
}
.icon-cancel-circle:before {
    content: "\73";
}
.icon-share:before {
    content: "\74";
}
.icon-search:before {
    content: "\75";
}
.icon-youtube:before {
    content: "\76";
}
.icon-share-facebook:before {
    content: "\77";
}
.icon-location:before {
    content: "\78";
}
.icon-link-extern:before, .extern:before {
    content: "\79";
}
.icon-link-intern:before, .intern:before, .more:before, .keywordsection a:before, .teaser .medium h2 a:before {
    content: "\7a";
}
.icon-dot-solid:before {
    content: "\31";
}
.icon-dot-empty:before {
    content: "\32";
}
.icon-pause:before {
    content: "\33";
}
.icon-plus:before {
    content: "\34";
}
.icon-minus:before {
    content: "\35";
}
.icon-speech-cloud:before {
    content: "\36";
}
.icon-note:before {
    content: "\37";
}
.icon-open-access:before {
    content: "\38";
}
.icon-news:before {
    content: "\39";
}
.icon-geotag:before {
    content: "\41";
}
.icon-calendar:before {
    content: "\42";
}
.icon-time:before {
    content: "\43";
}
.icon-bulb:before {
    content: "\44";
}
.icon-globe:before {
    content: "\45";
}
.icon-lab:before {
    content: "\46";
}
.icon-academia:before {
    content: "\47";
}
.icon-checkmark:before {
    content: "\48";
}