/*===============================
=        Layout Main           =
===============================*/
.width-control {
	position: relative;
	max-width: 1260px;
	margin: 0 auto;
}

@media only screen and (min-width: $screen-sm-min) {
	.flex-row-sm {
		display: flex;
	}
}

