/*===============================
=             Links             =
===============================*/

// a:link, a:visited {
//     color: #4b4b4d;
//     text-decoration: none;
// }
.main-container a{
    color: $blue-publisso;
    font-style: italic;
    a:hover, a:focus, a.active {
        text-decoration: underline;
    }
} 
a:hover, a:focus, a.active {
    color: $blue-publisso;
    // text-decoration: none;
}
a.link--calltoaction {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0 10px 0;
    background-color: $blue-publisso;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-style: initial;
    text-transform: uppercase;
    margin-top: -4px;
    &:hover, &:focus {
        color: #fff;
        text-decoration: none;
        span {
            border-bottom: 2px solid #fff;
        }
    }
}
.intern {
    color: $blue-publisso;
    &:before {
        content: "\7a";
        font-family: 'Publisso';
        font-size: 15px;
        display: inline-block;
        font-style: initial;
    }
}
.document:before, .download:before, .fileName a:before {
    font-size: 15px;
    line-height: 15px;
}
.mail:before {
    font-size: 15px;
    line-height: 15px;
    padding: 0 5px;
}