/*===============================
=           Navigation         =
===============================*/
header {
    position: relative;
    height: 200px;
    .logo {
        width: 283px;
        margin: 30px 15px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .width-control {
        height: 100%;
    }
    ul {
        list-style: none;
    }
    &.navbar {  
        border-radius: 0;
        margin-bottom: 0;
    }
    .navbar-collapse {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .nav {
        > li {
            display: inline-block;
            position: static;
            ul {
                text-align: center;
                position: absolute;
                z-index: 3;
                background-color: #FFF;
                width: 100%;
                left: -9999px;
            }
            // temp styling
            .level4 {
                width: 110%;
                padding: 0 5%;
                left: -5% !important;
            }
        }
    }
    .level2 {
        border-top: 5px solid $blue-publisso;
        top: 50px;
        text-align: right;
        min-height: 78px;
        li {
            width: 15.6%;
            position: relative;
            padding: 20px 15px;
            display: inline-block;
            vertical-align: middle;
        }
        > li {
            text-align: center;
        }
        a {
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0.5px;
            text-transform: none;
            &:hover, &:focus, &.focus {
                text-decoration: underline;
            }
        }
    }
    .level3 {
        text-align: left;
        padding: 0 5%;
        li {
            padding: 10px 0 0;
            width: 100%;
        }
        > li:last-child {
            margin-bottom: 15px;
        }
        a {
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0.3px;
        }
    }
    .level4, .level5 {
        position: relative;
        a {
            padding-left: 15px;
            &:before {
                font-family: "Publisso";
                content: "\6b";
                font-size: 9px;
                margin-right: 5px;
                line-height: 22px;
            }
        }
    }
    // metamenu
    .navbar-meta {
        float: right;
    }
    .language-switcher {
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 0;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        padding: 7px 3px;
        display: inline-block;
        li {
            display: inline-block;
            padding: 0 9px;
            &:first-of-type {
                border-right: 2px solid #f2f0f1;
            }
        }
        a:hover, a:focus {
            text-decoration: initial;
        }
    }
    #login {
        font-size: 18px;
        line-height: 20px;
        display: inline-block;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        width: 97px;
        text-align: center;
        padding: 10px 0;
        margin-right: 30px;
        &:hover, &:focus {
            text-decoration: initial;
        }
    }
}

// Main menu
.navbar-collapse {
    .menu {
        li:hover, li:focus, li.focus {
            >ul {
                left: 0;
            }
        }
        float: right;
        > li > a {
           font-size: 18px;
           text-transform: uppercase;
           letter-spacing: 0.05em;
           display: block;
           &:hover,
           &:focus {
               background-color: $blue-publisso;
               color: $white;
           } 
        }
    }
    .level2 {
        li:hover, li:focus, li.focus {
            ul {
                left: 0;
            }
        }
    }
}


#screen .menu > li:hover > a, #screen .menu li:focus > a, #screen .menu > li.focus > a {
    color: #FFF;
}
#screen .menu > li > a:hover, #screen .menu > li > a:focus, #screen .menu > li > a.focus {
    color: #FFF;
}


// Breadcrumb

.breadcrumb {
    border-bottom: 4px solid $blue-publisso;
    background-color: transparent;
    padding: 15px 0;
    letter-spacing: normal;
    @include abril-italic;
    .active {
        color: $blue-publisso;
    }
    a {
        color: $gray;
        &:hover {
            color: $blue-publisso;
            text-decoration: underline;
        }
    }
    li + li:before {
        // padding: 0;
        // margin: 0 5px;
        font-family: 'Publisso';
        content: $icon-arrow-right;
        font-size: 10px;
        font-style: normal;
        color: inherit;
        display: inline-block;
        vertical-align: middle;
    }
}

.breadcrumb, .breadcrumb a {
    // @include abril-italic;
}

// .breadcrumb a {
//     color: #375B9A;
// }

// .breadcrumb a:hover {
//     text-decoration: underline;
// }

// .breadcrumb.publisso {
//     border-bottom: 5px solid #375B9A;
//     color: #68686B;
// }

// .breadcrumb.publisso a {
//     color: #375B9A;
// }

// .breadcrumb > li + li:before {

// }

