/*===============================
=        Partner Slider        =
===============================*/

.partnerslider {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMCAIAAAAs6UAAAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3goIDg4A//nnNQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAIklEQVQI1yXIMQEAMAzAoJX4N1klO8rJ212FiVKDVHB3Qz6DBgMOlb4o8AAAAABJRU5ErkJggg==') repeat-x top;
    padding: 0;
    // max-width: 100%;
    // margin: 0 auto;
    .carousel-wrapper {
    	position: relative;
    	margin: 0 auto;
    	max-width: 1260px;
    	&:before {
    		@include carousel-mask;
    		left: 0;
    		background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .1) 100%);
    		background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .1) 100%);
    		background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .1) 100%);
    		background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(1, rgba(255, 255, 255, .1)));
    		background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .1) 100%);
    		background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .1) 100%);
    	}
    	&:after {
    		@include carousel-mask;
    		right: 0;
    		background-image: -ms-linear-gradient(left, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 1) 100%);
    		background-image: -moz-linear-gradient(left, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 1) 100%);
    		background-image: -o-linear-gradient(left, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 1) 100%);
    		background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, .1)), color-stop(1, rgba(255, 255, 255, 1)));
    		background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 1) 100%);
    		background-image: linear-gradient(to right, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 1) 100%);
    	}
    }
    .slide {
    	padding: 20px 2% 20px 2%;
    	margin-top: 12px;
    	img {
    		width: 100%;
    	}
    	.media-left {
    	    margin-right: 35px;
    	    width: 20%;
    	}
    	h2 {
    		font-size: 18px;
    		font-weight: 600;
    		line-height: 24px;
    		letter-spacing: 0.56px;
    		margin: 10px 0;
    	}
    	p {
    		line-height: 24px;
    		letter-spacing: 0.3px;
    	}
    }
    .slick-arrow {
    	position: absolute;
    	z-index: 3;
    	bottom: 40%;
    	font-size: 0;
    	padding: 0;
    	background: transparent;
    	border: none;
    	width: 52px;
    	height: 52px;
    	&:before {
    		font-family: Publisso;
    		display: block;
			height: 100%;
			width: 100%;
    		font-size: 32px;
    		text-align: center;
    		line-height: 52px;
    		color: $gray-dark;
    		background-color: $gray-lighter;
    	}
    }
    .slick-prev {
    	left: 0;
    }
    .slick-next {
    	right: 0;
    }
    .slick-dots {
    	text-align: center;
    	li {
    		display: inline-block;
    		&.slick-active button {
			    background-color: #4b4b4d;
			}
    	}
    	button {
	        vertical-align: middle;
	        font-size: 0;
	        width: 16px;
	        height: 16px;
	        border: 2px solid $gray;
	        background-color: transparent;
	        border-radius: 50%;
	        margin: 0 10px;
    	}
    } 
}

