/*===============================
=             Tables           =
===============================*/
.table-primary {
	width: 100%;
	margin: 20px 0;
	th {
		font-weight: 400;
		padding: 10px 20px;
	}
	td {
		padding: 20px;
	}
	td, th {
		border: 2px solid #fff;
	}
	thead {
		@include abril-italic;
		background-color: $gray-light;
	}
	tbody {
		tr:nth-child(odd) {
	 		background-color: $gray-lighter;
		}
		tr:nth-child(even) {
			background-color: $gray-light;
		}
	}
	.icon-mail:before {
		font-size: 15px;
		margin-right: 5px;
	}
	@media only screen and (max-width: $screen-sm-min) {
		display: block;
	    overflow-y: hidden;
	    overflow-x: auto;
	}
}