/*===============================
=           Utilities         =
===============================*/
// .padding20 {
//     padding: 20px;
// }
// .topborder5 {
//     border-top: 5px solid #ededed;
// }
// .green .topborder5 {
//     border-top-color: #4db056;
// }
// .olivedrab .topborder5 {
//     border-top-color: #a3c700;
// }
// .red .topborder5 {
//     border-top-color: #cb0924;
// }
// .blue .topborder5 {
//     border-top-color: #5e84c2;
// }
// .blue-light .topborder5 {
//     border-top-color: #99bfd9;
// }