@charset "UTF-8";

@import "vendor/breakpoint";
@import "var-mix/grid-components";
@import "var-mix/colors";
@import "var-mix/mixins";
@import "fonts";
@import "icons";
@import "base";
@import "layout";
@import "utility-classes";
@import "links";
@import "navigation";
@import "contact-box";
@import "branding";
@import "partnerslider";
@import "article";
@import "tables";
@import "forms";
@import "footer";


// .overlay {
//     transition-property: all;
//     -webkit-transition-property: all;
//     -moz-transition-property: all;
//     -o-transition-property: all;
//     transition-duration: .5s;
//     -webkit-transition-duration: .5s;
//     -moz-transition-duration: .5s;
//     -o-transition-duration: .5s;
//     transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//     -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//     -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//     -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
// }
// .overlay:before {
//     content: '';
//     background-color: rgba(255, 255, 255, .8);
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     z-index: 1200;
// }




// button.pbe {
//     background-color: #fff;
//     padding: 10px;
//     margin-right: 16px;
//     border: 4px solid #ededed;
// }
// button.pbe:hover, button.pbe:focus {
//     background-color: #ededed;
//     cursor: pointer;
// }
// .tx-zbmedevents-pi-manage p {
//     margin-bottom: 16px;
// }
// .searchform {
//     position: relative;
// }
// .searchform input[type='text'] {
//     font-size: 16px;
//     padding-right: 55px;
// }
// .search input[type='text'] {
//     font-size: 16px;
//     padding-right: 45px;
// }
// .search input[type='text'] {
//     letter-spacing: 0.44px;
// }
// .searchform input[type='text']:focus, .search input[type='text']:focus {
//     outline: none;
// }
// .searchform button {
//     background-color: transparent;
//     position: absolute;
//     top: 50%;
//     right: 15px;
//     margin-top: -12px;
// }
// .search {
//     position: relative;
// }
// .search button {
//     background-color: transparent;
//     position: absolute;
//     top: 50%;
//     right: 15px;
//     margin-top: -12px;
// }
// .searchform button span:before, .search button span:before {
//     color: #5d5d5e;
//     font-size: 24px;
// }
// .searchform button:hover span:before, .searchform button:focus span:before, .searchform button:target span:before, .search button:hover span:before, .search button:focus span:before, .search button:target span:before {
//     color: #000;
// }

// /*  Layout  */
// .main .grid {
//     width: 100%;
//     /*	overflow: hidden;*/
// }
// .grid-wrapper {
//     width: 100%;
//     max-width: 1440px;
//     padding: 0 5%;
//     margin: 0 auto;
//     position: relative;
// }
// .grid {
//     /*	font-size: 0;
//         letter-spacing: -4px;*/
//     /*	margin-bottom: 35px;*/
// }
// .grid > * {
//     /*	font-size: 16px;*/
//     letter-spacing: normal;
// }
// .grid a {
//     font-size: 16px;
// }
// .grid .contenttable {
//     font-size: 16px;
// }
// .grid > div:first-child {
//     vertical-align: bottom;
// }
// .grid.home > .flex-row.fixed {margin-bottom:30px;}
// //.grid.home > .flex-row.fixed > .container:last-child {margin-right:0;}

// //.container {
// //    background-color: #ededed;
// //    position: relative;
// //}
// //.container, .tall {
// //    margin: 0 20px 0 0;
// //    display: inline-block;
// //    vertical-align: top;
// //}
// .small {
//     width: 27%;
// }
// .medium {
//     width: 46%;
// }
// .large {
//     width: 73%;
// }
// .grid > .table-row {
//     margin-right: 2%;
//     margin-bottom: 25px;
//     width: 100%;
// }
// .table-row {
//     display: table;
// }
// .table-row > * {
//     display: table-cell;
//     float: none !important;
//     padding-right: 15px;
// }
// .table-row > .events {
//     padding-left: 2%;
// }
// .flex-row {
//     display: flex;
//     display: -ms-flexbox;
//     display: -webkit-flex;
// }
// .grid > .flex-row {
//     margin-bottom: 25px;
//     width: 100%;
// }
// .flex-row > *:first-child {
//     margin-right: 20px;
// }

// .intro-text h3 {font-size:23px; font-weight:400; letter-spacing:1px; margin-bottom:21px;}
// .intro-text .w-3 {position:relative;}
// .intro-text .w-3 > div {padding-bottom:7px; position:absolute; bottom:0;}


// /* Flex media */
// .media-flex {
//     display: flex;
//     display: -ms-flexbox;
//     display: -webkit-flex;
// }
// .media-flex .media-left, .media-flex .media-right {
//     width: 50%;
// }
// .media-flex .media-left > *, .media-flex .media-right > * {
//     width: 100%;
//     overflow: hidden;
// }
// .media-flex .media-body {
//     padding: 20px 20px 20px 10px;
//     width: auto;
// }
// .flex-row .col {
//     padding: 10px 0 25px;
//     /*	border-left: 1px solid #ededed;
//         border-right: 1px solid #ededed;
//         border-bottom: 1px solid #ededed;*/
// }

// .stage {
//     width: 100%;
//     margin-bottom: 30px;
//     position: relative;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: 0% 70%;
//     height: 350px;
// }
// .stage .call {
//     background-color: #fff;
//     padding: 25px 30px;
//     position: absolute;
//     right: 20px;
//     bottom: 20px;
//     width: 70%;
// }
// .full-width {
//     width: 100%;
// }
// .quarter {
//     width: 25%;
// }
// .pull-left {
//     float: left;
// }
// .pull-right {
//     float: right;
// }
// .full, .detail_wide .content {
//     width: 98%;
// }
// .tall .column {
//     width: 30.5%;
// }
// .tall .column .small {
//     width: 100%;
// }
// .tall .medium {
//     width: 66.5%;
// }
// .w-1 {
//     width: 8.33333333%;
// }
// .w-2 {
//     width: 16.66%
// }
// .w-3 {
//     width: 25%
// }
// .w-4 {
//     width: 33.33333333%;
// }
// .w-5 {
//     width: 41.66666666%
// }
// .w-6 {
//     width: 50%;
// }
// .w-7 {
//     width: 58.479532%
// }
// .w-8 {
//     width: 66.66666667%;
// }
// .w-9 {
//     width: 75%;
// }
// .w-10 {
//     width: 83.3333333%
// }
// .w-11 {
//     width: 91.743119%
// }
// .w-12 {
//     width: 100%;
// }

// /*  Modules  */

// /* anchor menu */
// .anchormenu {
//     list-style: none;
//     position: absolute;
//     top: 0;
//     left: 5%;
//     z-index: 300;
// }
// .anchormenu a {
//     background-color: #fff;
//     font-weight: 600;
//     width: auto;
//     display: block;
//     padding: 10px;
//     box-shadow: 0 0 8px #bbb;
// }
// .anchormenu a:active, .anchormenu a:focus {
//     clip: inherit;
//     overflow: auto;
//     width: auto;
//     height: auto;
//     margin: auto;
//     position: static;
// }

// // /* top contactbox */
// // .contact_box {
// //     font-family: 'TabletGothicNarrow', sans-serif;
// //     width: 100%;
// //     max-width: none;
// //     z-index: 1000;
// //     margin: 0 auto;
// //     top: -10000px;
// //     position: absolute;
// //     background-color: #fff;
// //     box-shadow: 0px 0px 8px #bbb;
// //     -moz-box-shadow: 0px 0px 8px #bbb;
// //     -webkit-box-shadow: 0px 0px 8px #bbb;
// //     -ms-box-shadow: 0px 0px 8px #bbb;
// //     -o-box-shadow: 0px 0px 8px #bbb;
// //     transition: all 0.7s;
// //     -moz-transition: all 0.7s;
// //     -webkit-transition: all 0.7s;
// //     -ms-transition: all 0.7s;
// //     -o-transition: all 0.7s;
// // }
// // .contact_box .contact_tab {
// //     background-color: #fff;
// //     display: inline-block;
// //     font-size: 16px;
// //     vertical-align: bottom;
// //     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
// //     -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
// //     -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
// //     -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
// //     -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
// //     position: absolute; /*right: 40%; */
// //     right: 50%;
// //     transform: translateX(63%);
// //     -webkit-transform: translateX(63%);
// //     -moz-transform: translateX(63%);
// //     -o-transform: translateX(63%);
// // }
// // .contact_box .contact_tab a {
// //     display: block;
// //     padding: 10px;
// //     line-height: 16px;
// //     letter-spacing: 0;
// // }
// // .contact_box .contact_tab a span:first-child:before {
// //     color: #b7b7b7;
// //     font-size: 19px;
// //     margin-right: 5px;
// // }
// // .contact_box .contact_tab a span:last-child:before {
// //     vertical-align: middle;
// //     margin-left: 5px;
// // }
// // .contact_box h2 {
// //     width: 320px;
// //     margin-right: 40px;
// //     padding-left: 0;
// //     padding-right: 0;
// //     font-family: 'TabletGothicNarrow', sans-serif;
// //     display: inline-block;
// //     vertical-align: baseline;
// // }
// // .contact_box h3 {
// //     font-weight: normal;
// //     margin-top: 0;
// // }
// // .contact_box hr {
// //     margin-bottom: 20px;
// // }
// // .contact_box .icon-cancel {
// //     color: #4b4b4d;
// //     position: absolute;
// //     top: 13px;
// //     right: 15px;
// //     width: 20px;
// //     height: 20px;
// //     cursor: pointer;
// //     font-size: 20px;
// // }
// // .contact_box .icon-cancel:hover:before {
// //     color: #375b9a;
// // }
// // .contact_box > div:first-child {
// //     padding: 0 5%;
// //     max-width: 1440px;
// //     margin: 0 auto;
// //     padding-bottom: 30px;
// // }
// // .contact_box > div:first-child > div {position: relative;}

// // .contact_box form {
// //     padding: 50px 0 30px;
// //     font-size: 0;
// // }
// // .contact_box form > a {
// //     font: italic 18px 'Abril', serif;
// //     white-space: nowrap;
// //     display: inline-block;
// // }
// // .contact_box select {
// //     font-size: 16px;
// //     padding: 3px 5px 3px 5px;
// //     border: 1px solid #bcbdbe;
// // }
// .choose-concern, .choose-position-container {
//     width: 25%;
// }
// .choose-position-container {
//     display: inline-block;
// }
// .choose-country-container select, .select-positions {
//     width: 100%;
// }
// .contact_box select:not(:last-child) {
//     margin-right: 35px;
// }
// .contact_box option {
//     padding: 0 5px;
// }
// .card_text {
//     display: inline-block;
//     width: 26.5%;
//     margin-right: 5%;
//     vertical-align: top;
// }
// .card_wrapper {
//     width: 68%;
//     font-size: 0;
//     display: inline-block;
// }
// .card_wrapper > * {
//     font-size: 16px;
// }
// .card {
//     font-size: 0;
//     max-width: 470px;
//     width: 475px;
//     padding: 20px;
//     margin-bottom: 20px;
//     display: inline-block;
//     box-shadow: 0px 0px 8px #bbb;
//     -moz-box-shadow: 0px 0px 8px #bbb;
//     -webkit-box-shadow: 0px 0px 8px #bbb;
//     -ms-box-shadow: 0px 0px 8px #bbb;
//     -o-box-shadow: 0px 0px 8px #bbb;
// }
// .card > * {
//     font-size: 16px;
// }
// .card > span {
//     display:inline-block;
//     position: relative;
//     width:130px;
// }
// .card > span:before {
//     content: '';
//     width: 100px;
//     height: 100px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 1000;
// }
// .card img, .card > div {
//     display: inline-block;
//     vertical-align: top;
// }
// .card img {
//     width: 100px;
//     height: auto;
//     margin-right: 30px;
// }
// .card > div {
//     width: 300px;
// }
// .card p {
//     margin-bottom: 15px;
// }
// .card p span {
//     display: block;
// }
// .card p span:first-child {
//     font-weight: 600;
// }
// .card .unpersonal:not(:last-of-type) {
//     display: inline-block;
//     font-weight: 600;
//     margin-right: 5px;
//     vertical-align: top;
// }
// .card .personal {
//     display: inline-block;
//     width: 220px;
// }
// .card a.mail {
//     color: #375b9a;
//     font-family: 'Abril', serif;
//     font-style: italic;
// }
// .card a.mail:hover {
//     text-decoration: underline;
// }
// .tx_dreipc_contact_contact_box_top.contact_box form .choose-country-container {
//     width: 25%;
//     margin-left: 0;
// }

// .slideUp {
//     max-height: 0;
//     transition-property: all;
//     -webkit-transition-property: all;
//     -moz-transition-property: all;
//     -o-transition-property: all;
//     transition-duration: .5s;
//     -webkit-transition-duration: .5s;
//     -moz-transition-duration: .5s;
//     -o-transition-duration: .5s;
//     transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//     -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//     -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//     -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
// }
// .slideDown {
//     overflow-y: hidden;
//     transition-property: all;
//     -webkit-transition-property: all;
//     -moz-transition-property: all;
//     -o-transition-property: all;
//     transition-duration: 1s;
//     -webkit-transition-duration: 1s;
//     -moz-transition-duration: 1s;
//     -o-transition-duration: 1s;
//     transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
//     -webkit-transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
//     -moz-transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
//     -o-transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
//     max-height: 1500px !important;
// }

// /* intro layer */
// .intro {
//     background-color: #fff;
//     background-position: center;
//     background-size: cover;
//     display: none;
//     position: absolute;
//     top: 0;
//     left: 0;
//     max-width: none;
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     z-index: 1339;
//     cursor: pointer;
// }
// .intro > div {
//     max-width: 1440px;
//     padding: 0 5%;
//     margin: 0 auto;
// }
// .intro > div > div {
//     background-color: #fff;
//     display: inline-block;
//     position: relative;
//     max-width: 750px;
//     padding: 50px;
//     margin: 5% 5% auto auto;
// }
// .intro > div > div > *:not(img):not(:last-child) {
//     margin-bottom: 20px;
// }
// .intro a.close {
//     font-size: 0;
//     display: block;
//     position: absolute;
//     top: 25px;
//     right: 25px;
// }
// .intro a.close span {
//     color: #4b4b4d;
//     font-size: 30px;
// }
// .intro a.close:hover span, .intro a.close:focus span {
//     color: #375b9a;
// }
// .intro img {
//     max-width: 100%;
//     width: 250px;
//     height: auto;
//     display: block;
//     margin-bottom: 50px;
// }
// .intro p {
//     font-size: 18px;
// }

// /* section content*/
// .container .meta {
//     font-family: 'Abril', serif;
//     font-style: italic;
// }
// /*.container.red a:hover, .container.red a:focus {
// 	color: #cb0924;
// }
// .container.green a:hover, .container.green a:focus {
// 	color: #41944c;
// }
// .container.blue a:hover, .container.blue a:focus {
// 	color: #4672b8;
// }
// .container.blue-light a:hover, .container.blue-light a:focus {
// 	color: #99bfd9;
// }*/

// /* central container */
// .large.tall.pub .container ul.links {
//     position: relative;
//     padding: 20px 0;
//     float: left;
// }
// .large.tall.pub p {
//     font-size: 19px;
// }
// .large.tall.pub a {
//     font-size: 19px;
// }
// .large.tall.pub .container {
//     width: 75%;
// }
// .large.tall.pub .container h2 {
//     margin-top: 7px
// }

// /* column aside / main */
// .events h2 {
//     font-size: 23px;
//     font-weight: 400;
//     line-height: 28px;
//     letter-spacing: 1px;
//     display: inline;
//     margin-top:21px;
// }
// .events .icon {
//     display: inline-block;
//     font-size: 24px;
//     margin-top:11px;
// }
// .events .icon::before {
//     margin-right: 8px;
// }

// .events > a {
//     display: block;
//     background-color: #f6f6f6;
//     padding: 15px 0;
//     text-align: center;
// }

// .event {
//     padding-top: 20px;
//     padding-bottom: 25px;
//     position: relative;
// }
// .event .intern {
//     position: absolute;
//     bottom: 25px;
// }
// .event h3 {
//     font-size: 18px;
//     font-style: italic;
//     line-height: 29px;
//     letter-spacing: 0.35px;
//     font-family: 'Abril', serif;
//     color: #69696c;
//     margin-top:7px;
//     margin-bottom:0;
// }
// .event ul, .news-single .article ul {
//     list-style: none;
//     padding-left: 0;
//     padding: 12px 0;
// }
// .grid.home .event ul {
//     padding-top: 9px;
// }

// .events .event ul {
//     margin-bottom: 20px;
// }
// .events .event ul li, .news-single .article li {
//     line-height: 24px;
//     letter-spacing: 0.3px;
// }
// .event ul span, .news-single .article ul span {
//     margin-right: 8px;
// }
// .event:not(:last-child) {
//     border-bottom: 1px solid #c1c1c1;
// }
// .events .main {
//     display: block;
// }
// /* news-list-view events */

// .news-list-view .event .intern {
//     position: relative;
//     bottom: auto;
// }
// .news .date {
//     display:block;
//     font-size:16px;
//     line-height:1.58;
// }
// .grid.home .news a.more {
//     display: block;
// }
// .grid.home .news p {padding-bottom:9px;}

// /* verteiler grid */
// .row1 {
//     min-height: 250px;
// }
// .contact {
//     position: relative;
// }
// .contact.align-right .half {
//     width: 45%;
// }
// .contact.align-right .half + .contact-body {
//     margin-right: 47%;
// }
// .contact.align-right .quarter {
//     width: 25%;
// }
// .contact.align-right .contact-body {
//     margin-right: 27%;
//     text-align: right;
// }
// .contact.align-right img {
//     float: right;
// }
// .contact dt, .contact dd {
//     display: inline-block;
// }

// /* media element */
// .media {
//     margin-top: 15px;
// }
// .media:first-child {
//     margin-top: 0;
// }
// .media, .media-body {
//     zoom: 1;
//     overflow: hidden;
// }
// .media-body {
//     width: 10000px;
// }
// .media-left, .media-right, .media-body {
//     display: table-cell;
//     vertical-align: top;
// }
// .media-left, .media > .pull-left {
//     padding-right: 10px;
// }
// .media-middle {
//     vertical-align: middle;
// }
// .media-bottom {
//     vertical-align: bottom;
// }

// .media blockquote {
//     font-size: 23px;
//     font-family: Abril, serif;
// }

// /* content blocks */
// .teaser-content img {
//     width: 100%;
// }
// .teaser-content p {
//     padding: 20px;
// }


// .beratung h2:before {
//     font-family: 'Publisso';
//     display: inline-block;
//     content: "\36";
//     margin-right: 10px;
//     font-size: 28px;
// }
// .publishing h2:before {
//     font-family: 'Publisso';
//     display: inline-block;
//     content: "\37";
//     margin-right: 10px;
//     font-size: 28px;
// }

// /* Livivo search box */
// #livivo {
//     min-height: 230px;
// }
// #livivo h2 {
//     font-family: 'Abril', serif;
//     font-size: 26px;
//     font-weight: 400;
//     font-style: italic;
//     line-height: 37px;
//     letter-spacing: 1px;

// }
// #livivo h2 a {
//     font-style: normal;
//     font-weight: normal;
// }
// #livivo h2 small {
//     background-color: #cc0824;
//     color: #fff;
//     font-family: 'TabletGothicNarrow', sans-serif;
//     font-size: 16px;
//     font-style: normal;
//     font-weight: 600;
//     text-transform: uppercase;
//     padding: 0 10px;
//     border-radius: 5px;
// }
// #livivo p {
//     letter-spacing: 0.57px;
// }
// #livivo .searchform {
//     position: relative;
// }
// #livivo form input[type='text'] {
//     border-radius: 20px;
//     border:1px solid #dbdbdb;
//     line-height: 1.5;
//     letter-spacing: 0.57px;
//     width: 100%;
//     padding: 10px 20px;
//     margin: 10px 0 20px;
// }
// #livivo form input[type='text']:focus {border-color:#b2b2b4;}
// #livivo form button {
//     margin-top: -15px;
// }
// #livivo > a.intern {
//     position: absolute;
//     bottom: 30px;
// }

// /* social share privacy */
// #content .social_share_privacy_area {
//     height: auto;
// }
// #content .social_share_privacy_area li.help_info {
//     margin-bottom: 8px !important;
// }

// /*========================*/

// /* might be redundant*/

// /* detail page */
// .breadcrumb {
//     width: 100%;
//     padding-bottom: 20px;
//     margin-right: 0;
// }
// .content {
//     background-color: inherit;
//     padding: 0;
//     margin-right: 2%;
// }
// .content > div:first-child {
//     height: 69px;
//     border-bottom: 4px solid #ededed;
// }
// .content > div:first-child > * {
//     vertical-align: middle;
//     height: 65px;
//     display: table-cell;
// }
// .content > div:first-child > a {
//     font-family: 'Abril', serif;
//     font-style: italic;
// }
// .content article {
//     padding: 25px 0;
//     border-bottom: 4px solid #ededed;
// }
// article > *:not(:last-child), .news-text-wrap > *:not(:last-child) {
//     margin-bottom: 16px;
// }
// article a:not(:first-child) + h2, article a:not(:first-child) + h3, article a:not(:first-child) + h4 {
//     margin-top: 40px;
// }
// article .meta + h2, article .meta + h3 {
//     margin-top: -10px;
// }
// aside > * + h3 {
//     margin-top: 20px;
// }
// article a, aside a {
//     font-family: 'Abril', serif;
//     font-style: italic;
// }
// article a:link, article a:visited, aside a:link, aside a:visited, .text-content a:link, .text-content a:visited {
//     color: #375b9a;
// }
// article a:hover, article a:focus, article a:active, aside a:hover, aside a:focus, aside a:active, .text-content a:hover, .text-content a:focus, .text-content a:active {
//     text-decoration: underline;
// }
// article ol {
//     padding-left: 1.5em;
// }
// article ul {
//     list-style: none;
//     padding-left: 0;
// }
// article ul li {
//     margin-left: 16px;
// }

// .contenttableth, .contenttable td {
//     line-height: 1.580;
//     padding: 20px;
// }
// .contenttable th {
//     background-color: #ededed;
//     border: 2px solid #fff;
//     font-family: 'Abril', serif;
//     font-size: 18px;
//     font-weight: normal;
//     font-style: italic;
//     text-align: left;
//     vertical-align: top;
//     padding: 5px 20px;
// }
// .contenttable tr th:first-child {
//     border-left: 0;
// }
// .contenttable td {
//     background-color: #f6f6f6;
//     border: 2px solid #fff;
// }
// .contenttable td > select {
//     max-width: 150px;
// }
// .contenttable tr td:first-child {
//     border-left: 0;
// }
// .contenttable tr td:last-child {
//     border-right: 0;
// }
// .contenttable tr:nth-child(even) td {
//     background-color: #ededed;
// }


// .video-js-box, video, object, iframe, .audio-box, audio, #txdreipcmaps_mapcanvas {
//     max-width: 100%;
// }
// #txdreipcmaps_mapcanvas {
//     width: 100%;
//     height: 300px;
//     margin-bottom: 20px;
// }
// .gm-style .gm-style-iw {
//     font-size: 14px;
//     font-weight: normal;
// }
// article .imgcenter {
//     margin-bottom: 20px;
// }
// article .imgright {
//     float: right;
// }
// article .imgright figure {
//     margin: 0 0 20px 20px;
// }
// article .imgleft {
//     float: left;
// }
// article .imgleft figure {
//     margin: 0 20px 20px 0;
// }
// article .imgright img, article .imgleft img {
//     display: block;
// }

// /*article .news .article:first-of-type { padding-top: 25px; border-top: 4px solid #ededed; }*/
// article .news .article {
//     overflow: hidden;
//     margin-bottom: 25px;
//     border-bottom: 4px solid #ededed;
// }
// .content article .news .article:last-child {
//     margin-bottom: 0;
//     border-bottom: none;
// }
// article .news-single .article {
//     margin-bottom: 0;
//     border-bottom: none;
// }
// .news-img-wrap {
//     float: left;
//     width: 30%;
//     margin: 0 25px 25px 0;
// }
// .news-img-wrap a, .news-img-wrap img {
//     display: block;
// }
// .news-img-wrap img {
//     max-width: 100%;
//     height: auto;
// }
// .news-list-date {
//     font-family: 'Abril', serif;
//     font-size: 18px;
//     font-style: italic;
//     display: inline-block;
//     margin-bottom: 10px;
// }
// article .news .article h3 {
//     margin-bottom: 10px;
// }
// article .news .article h3 a {
//     font-family: 'TabletGothicNarrow', sans-serif;
//     font-style: normal;
// }
// .teaser-text p, .teaser-text a.more {
//     margin-bottom: 25px;
// }
// .teaser-text p {
//     font: italic 18px "Abril", serif;
// }
// .teaser-text a.more {
//     text-align: right;
//     display: block;
// }
// .news-related-wrap {
//     padding-top: 20px;
//     margin-top: 20px;
//     clear: both;
//     border-top: 2px dotted #dbdbdb;
// }
// .news-related:not(:last-child) {
//     margin-bottom: 20px;
// }
// .news-related li span {
//     width: 98%;
//     display: inline-block;
//     vertical-align: top;
// }
// .page-navigation p {
//     margin-bottom: 10px;
// }
// .page-navigation ul, .browsebox {
//     background-color: #ededed;
//     font-size: 0;
//     display: inline-block;
//     padding-left: 0;
// }
// .page-navigation ul > *, .browsebox > * {
//     font-size: 16px;
// }
// .page-navigation li, .browsebox li {
//     display: inline-block;
//     margin: 0;
// }
// .page-navigation li:before, .browsebox li:before {
//     content: none !important;
// }
// .page-navigation li:not(:last-child), .browsebox li:not(:last-child) {
//     border-right: 1px solid #375b9a;
// }
// .page-navigation a, .page-navigation .current, .browsebox a, .browsebox .tx-indexedsearch-browselist-currentPage a {
//     padding: 0 10px;
// }
// .page-navigation a, .browsebox a {
//     font-family: 'TabletGothicNarrow', sans-serif;
//     font-style: normal;
//     display: block;
// }
// .page-navigation .current, .browsebox .tx-indexedsearch-browselist-currentPage a {
//     background-color: #375b9a;
//     color: #fff;
// }
// .article-meta {
//     list-style: none;
//     padding: 20px 25px;
// }
// .article-meta li:not(:last-child) {
//     margin-bottom: 5px;
// }
// .article-meta .socialshareprivacy {
//     margin-left: -25px;
//     margin-right: -25px;
// }
// .article-meta a {
//     font-family: 'Abril', serif;
//     font-style: italic;
// }
// .social_share_privacy_area li.settings_info.top {
//     width: 50px;
// }
// .social_share_privacy_area li.settings_info .settings_info_menu.on {
//     width: 135px !important;
// }
// .social_share_privacy_area li.settings_info .settings_info_menu.off {
//     width: 50px !important;
// }
// .social_share_privacy_area li.help_info .info, .social_share_privacy_area li .help_info.icon .info {
//     font-family: 'TabletGothicNarrow', sans-serif;
//     font-style: normal;
//     font-weight: normal !important;
// }
// .imggallery figure {
//     width: 32%;
//     display: inline-block;
//     vertical-align: top;
//     margin: 0 2% 20px 0;
// }
// .imggallery figure:nth-child(3n) {
//     margin-right: 0;
// }
// .imggallery img, a.lightbox {
//     display: block;
// }
// .imggallery img {
//     width: 100%;
//     height: auto;
// }
// figcaption {
//     padding-top: 5px;
// }
// .fileDisplay:last-of-type li:last-child {
//     border-bottom: none;
// }
// .fileDisplay li {
//     margin-left: 0;
// }
// .fileDisplay li {
//     padding-bottom: 20px;
//     border-bottom: 2px dotted #dbdbdb;
// }
// .fileDisplay li:first-child {
//     padding-top: 20px;
//     border-top: 2px dotted #dbdbdb;
// }
// .fileDisplay li:before {
//     content: none;
// }
// .fileElement:not(:last-child) {
//     display: block;
//     margin-bottom: 20px;
// }
// .fileDisplay li > a, .fileDisplay li > div {
//     display: inline-block;
//     vertical-align: top;
// }
// .fileDisplay li > a {
//     width: 25%;
//     margin-right: 5%;
// }
// .fileDisplay li > div {
//     width: 70%;
// }
// .fileDisplay img, .fileDisplay span {
//     display: block;
// }
// .fileDisplay img {
//     max-width: 100%;
//     height: auto;
// }
// .fileDescription {
//     font-size: 20px;
// }
// .sidebar {
//     background-color: inherit;
//     height: auto;
//     margin-top: 65px;
//     border-top: 4px solid #ededed;
//     padding-top: 25px;
// }
// .sidebar > div {
//     padding-bottom: 20px;
// }
// .sidebar > div:not(:last-child) {
//     margin-bottom: 20px;
//     border-bottom: 4px solid #ededed;
// }
// .sidebar > div > *:not(:last-child) {
//     margin-bottom: 20px;
// }
// ul.links {
//     list-style: none;
//     padding-left: 0;
// }
// ul.links a, .sidebar a.mail {
//     font-family: 'Abril', serif;
//     font-style: italic;
// }
// article ul.links li, .sidebar ul.links li {
//     line-height: 1.8;
//     margin-left: 18px;
// }
// article ul.links li a:before, .sidebar ul.links li a:before {
//     margin-left: -18px;
// }
// .grid .card {
//     display: block;
//     width: auto;
//     max-width: 100%;
//     padding: 0;
//     box-shadow: none;
// }
// .grid .sidebar .card {
//     width: 100%;
// }
// .grid .card div > span {
//     position: relative;
//     display: block;
// }
// .grid .card div > span:before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 150px;
//     height: 150px;
//     z-index: 1000;
//     display: block;
// }
// .grid .card > div {
//     width: auto;
// }
// .grid .card h2 {
//     font-size: 26px;
//     margin-bottom: 20px;
// }
// .grid .card img {
//     width: 150px;
//     margin-bottom: 20px;
// }
// .grid .card img + div {
//     display: inline-block;
// }
// .grid .tx_dreipccontact li {
//     width: 100%;
//     margin-left: 0;
// }
// .grid .tx_dreipccontact li:before {
//     content: none;
// }
// .grid .tx_dreipccontact li:not(:last-child) {
//     display: inherit;
//     margin-bottom: 20px;
//     border-bottom: 4px dotted #dbdbdb;
// }

// /* forms */
// .tx-powermail {
//     text-align: right;
//     width: 90%;
// }
// .tx-powermail fieldset.powermail_fieldset > legend {
//     font-size: 23px;
//     font-weight: 600;
//     letter-spacing: 1px;
//     -moz-hyphens: auto;
// }
// .powermail_fieldwrap_html, .powermail_fieldwrap_content {
//     text-align: left;
// }
// .powermail_fieldwrap_html p, .powermail_fieldwrap_content p {
//     margin-bottom: 16px;
// }
// .powermail_fieldwrap:not(.powermail_fieldwrap_text) {
//     font-size: 0;
// }
// .powermail_fieldwrap:first-of-type {
//     margin-top: 20px;
// }
// .powermail_fieldwrap > *:not(fieldset), .powermail_fieldwrap > fieldset > * {
//     font-size: 16px;
// }
// .tx-powermail h3, .powermail_radio_outer, .powermail_fieldwrap_file_inner, .powermail_check_inner, .powermail_captcha_outer {
//     text-align: left;
// }
// .tx-powermail > legend {
//     font-size: 20px;
// }
// .powermail_fieldwrap, .tx-felogin-pi1 fieldset > div {
//     margin-bottom: 20px;
// }
// .powermail_fieldwrap_text {
//     line-height: 1.58;
//     text-align: left;
//     width: 70%;
//     margin-left: 30%;
// }
// .powermail_fieldwrap legend {
//     text-align: right;
//     position: relative;
//     margin-bottom: -28px;
// }
// .tx-powermail input[type='text'], .form input[type='text'], .datenbank-suche-wrapper input[type='text'], .e-search input[type='text'], .tx-indexedsearch input[type='text'], .tx-zbmedevents-pi-search input[type='text'], .tx-powermail input[type='password'], .tx-powermail input[type='email'], .tx-powermail input[type='tel'], .tx-powermail textarea, .tx-powermail select, .datenbank-suche-wrapper select, .e-search select, .tx-indexedsearch select, .tx-zbmedevents-pi-filter select, .form select, .form textarea, input#saddr, .tx-felogin-pi1 input[type='text'], .tx-felogin-pi1 input[type='password'] {
//     background-color: #ededed;
//     font: normal 16px 'TabletGothicNarrow', sans-serif;
//     height: 28px;
//     width: 70%;
//     max-width: 100%;
//     padding: 0 10px;
//     border: 1px solid #dbdbdb;
// }
// .tx-powermail input[type='radio'], .tx-powermail input[type='checkbox'] {
//     position: absolute;
//     width: 28px;
//     height: 28px;
//     left: -28px;
// }
// .tx-powermail input[type='text']:focus, .tx-powermail input[type='password']:focus, .tx-powermail input[type='email']:focus, .tx-powermail input[type='tel']:focus, .tx-powermail textarea:focus, .tx-powermail input[type='radio'] + label:hover:before, .tx-powermail input[type='radio']:focus + label:before, .tx-powermail input[type='checkbox'] + label:hover:before, .tx-powermail input[type='checkbox']:focus + label:before, .form textarea:focus, .form input[type='text']:focus {
//     border: 1px solid #b2b2b4;
// }
// .tx-powermail textarea {
//     height: 260px;
//     padding: 10px;
// }
// .tx-powermail input[type='submit'], .datenbank-suche-wrapper input[type='submit'], #extSearchForm-wrapper input[type='submit'], .tx-indexedsearch input[type='submit'], .form input[type='submit'], .tx-zbmedevents-pi-search input[type='submit'], .tx-zbmedevents-pi-filter input[type='submit'], .gm-style-iw input[type='submit'], .tx-felogin-pi1 input[type='submit'] {
//     background-color: #375b9a;
//     color: #fff;
//     font: italic 16px 'Abril', serif;
//     width: 130px;
//     padding: 5px;
// }
// .tx-powermail input[type='reset'] {
//     background-color: #dbdbdb;
//     font: italic 16px 'Abril', serif;
//     width: 130px;
//     padding: 5px;
// }
// .tx-powermail select {
//     padding-right: 0;
// }
// .tx-powermail option, .datenbank-suche-wrapper option, .e-search option, .form option {
//     padding: 0 10px;
// }
// .powermail_label {
//     line-height: 28px;
//     display: inline-block;
//     width: 28%;
//     margin-right: 2%;
//     vertical-align: top;
// }
// .powermail_fieldwrap_file_inner {
//     width: 70%;
//     display: inline-block;
// }
// .powermail_radio_outer, .powermail_check_outer, .powermail_captcha_outer {
//     width: 70%;
//     display: inline-block;
// }
// .powermail_radio_inner, .powermail_radio_outer ul {
//     display: inline-block;
// }
// .powermail_radio_inner {
//     position: relative;
// }
// .powermail_radio_inner:not(:last-child) {
//     margin-right: 40px;
// }
// .powermail_radio_inner, .powermail_check_inner {
//     margin-left: 28px;
// }
// .powermail_check_inner:not(:last-child) {
//     margin-bottom: 20px;
// }
// .powermail_captcha_outer input[type='text'] {
//     width: 100%;
//     margin-bottom: 10px;
// }
// .tx-powermail input[type='radio'] + label, .tx-powermail input[type='checkbox'] + label {
//     line-height: 28px;
//     display: table-cell;
//     height: 28px;
//     position: relative;
//     padding-left: 10px;
// }
// .tx-powermail input[type='radio'] + label:before {
//     content: '';
//     background-color: #ededed;
//     display: table-cell;
//     width: 28px;
//     height: 28px;
//     position: absolute;
//     top: 0;
//     left: -28px;
//     border-radius: 28px;
//     border: 1px solid #dbdbdb;
// }
// .tx-powermail input[type='radio']:checked + label:after {
//     content: '';
//     background-color: #666e71;
//     display: inline-block;
//     width: 10px;
//     height: 10px;
//     position: absolute;
//     top: 9px;
//     left: -19px;
//     border-radius: 8px;
// }
// .tx-powermail input[type="checkbox"] + label:before {
//     content: '';
//     background-color: #ededed;
//     display: table-cell;
//     width: 28px;
//     height: 28px;
//     position: absolute;
//     top: 0;
//     left: -28px;
//     border: 1px solid #dbdbdb;
// }
// .tx-powermail input[type='checkbox']:checked + label:after {
//     content: '\e600';
//     color: #666e71;
//     font-family: 'Publisso';
//     font-size: 23px;
//     font-weight: 600;
//     display: inline-block;
//     width: 10px;
//     height: 10px;
//     position: absolute;
//     top: 0;
//     left: -26px;
//     border-radius: 8px;
// }
// dl.powermail_all {
//     font-size: 0;
// }
// .tx-powermail dt, .tx-powermail dd {
//     font-size: 16px;
//     display: inline-block;
//     vertical-align: top;
// }
// .tx-powermail dt {
//     width: 30%;
// }
// .tx-powermail dd {
//     width: 70%;
//     margin-left: 0;
// }
// .powermail_create, .powermail_confirmation {
//     text-align: left;
// }
// .powermail_confirmation h4, .powermail_confirmation dl {
//     margin-bottom: 20px;
// }
// .powermail_confirmation form {
//     display: inline-block;
//     margin-right: 20px;
// }
// .powermail_confirmation dl.powermail_all {
//     margin-top: 20px;
// }
// .parsley-errors-list.filled, .powermail_message_error {
//     margin: 5px 0 0 30%;
//     text-align: left;
// }
// .powermail_field_error_container .parsley-errors-list.filled, .powermail_captcha_outer .parsley-errors-list.filled {
//     margin-left: 0;
// }
// .parsley-errors-list li, .powermail_message_error li {
//     color: #375b9a;
//     margin: 0;
// }
// .parsley-errors-list li:before, .powermail_message_error li:before {
//     display: none;
// }
// .tx-indexedsearch fieldset div {
//     font-size: 0;
// }
// .tx-indexedsearch fieldset div > * {
//     font-size: 16px;
//     margin-bottom: 10px;
// }
// input.tx-indexedsearch-searchbox-sword[type='text'] {
//     width: 100%;
// }
// .tx-indexedsearch fieldset div label:first-child {
//     width: 20%;
//     display: inline-block;
// }
// .tx-indexedsearch-search-for select, .tx-indexedsearch-search-select-order select, .tx-indexedsearch-search-select-results select, .tx-indexedsearch-search-select-group select {
//     width: 37.5%
// }
// .tx-indexedsearch-search-for select:last-child, .tx-indexedsearch-search-select-order select:last-child {
//     margin-left: 5%;
// }
// .tx-indexedsearch input[type='checkbox'] {
//     margin: 0 10px 0 5%;
// }
// .tx-indexedsearch .tx-indexedsearch-browsebox li {
//     display: inherit;
//     margin: 0;
// }
// .tx-indexedsearch-browsebox {
//     margin-bottom: 20px;
// }
// .tx-indexedsearch-browsebox .browsebox {
//     margin-top: 20px;
// }
// .tx-indexedsearch-res h4 {
//     padding-top: 10px;
//     margin: 10px 0;
//     border-top: 2px dotted #dbdbdb;
// }
// .tx-indexedsearch-res p:last-child {
//     padding-bottom: 10px;
//     margin-bottom: 20px;
//     border-bottom: 2px dotted #dbdbdb;
// }
// .tx-indexedsearch-redMarkup {
//     background-color: #ededed;
// }

// /* color indentation */
// .red .content > div:first-child {
//     border-bottom: 4px solid #cb0924;
// }
// .red .sidebar {
//     border-top: 4px solid #cb0924;
// }
// .red article tbody {
//     border-top: 3px solid #cb0924;
// }
// .green .content > div:first-child {
//     border-bottom: 4px solid #4db056;
// }
// .green .sidebar {
//     border-top: 4px solid #4db056;
// }
// .green article tbody {
//     border-top: 3px solid #4db056;
// }
// .blue .content > div:first-child {
//     border-bottom: 4px solid #5e84c2;
// }
// .blue .sidebar {
//     border-top: 4px solid #5e84c2;
// }
// .blue article tbody {
//     border-top: 3px solid #5e84c2;
// }
// .orange .content > div:first-child {
//     border-bottom: 4px solid #ef7f01;
// }
// .orange .sidebar {
//     border-top: 4px solid #ef7f01;
// }
// .orange article tbody {
//     border-top: 3px solid #ef7f01;
// }

// /* teaser page */
// .grid.teaser .breadcrumb {
//     border-bottom: none;
// }
// .text-content {
//     padding: 20px 20px 0 20px;
//     margin-bottom: 20px;
//     border-top: 4px solid #ededed;
// }
// .teaser .medium h2, .teaser .medium h3, .text-content h2, .text-content	h3, .teaser .medium p {
//     margin-bottom: 16px;
// }
// .teaser .medium h2 a {
//     color: #4b4b4d;
//     font-family: 'TabletGothicNarrow', sans-serif;
//     font-style: normal;
//     display: block;
// }
// .teaser .medium h2 a:before {
//     display: inline-block;
// }
// .teaser .medium a {
//     color: #375b9a;
//     font-family: 'Abril', serif;
//     font-style: italic;
// }
// .teaser .medium a:hover {
//     text-decoration: underline;
// }
// .teaser .medium > * > a.intern {
//     text-align: right;
//     display: block;
// }
// .teaser .medium {
//     background-color: inherit;
// }
// .teaser .container.medium.image, .teaser .medium.tall {
//     border-top: none;
// }
// .teaser .container.medium.image {
//     background-position: center;
//     background-size: cover;
//     position: relative;
// }
// .teaser .container.medium.image > div {
//     background-color: #ededed;
//     height: 100%;
//     margin-left: 45%;
// }
// .teaser .medium.tall {
//     background-color: #ededed;
//     background-size: cover;
//     min-height: 580px;
//     position: relative;
//     float: left;
// }
// .teaser .medium.tall .container {
//     background-color: rgba(255, 255, 255, .9);
//     transition: background-color 0.1s ease 0s;
//     position: absolute;
//     bottom: 0;
//     left: 20px;
//     right: 20px;
//     margin-right: 0;
// }
// .teaser .medium.tall .container:hover {
//     background-color: rgba(255, 255, 255, 1);
// }
// .teaser .medium.tall .container h2 span {
//     text-transform: uppercase;
//     white-space: nowrap;
// }
// .teaser .medium.tall.red h2 span {
//     color: #cb0924;
// }
// .teaser .medium.tall.green h2 span {
//     color: #41944c;
// }
// .teaser .medium.tall.blue h2 span {
//     color: #5e84c2;
//     font-family: 'Abril', serif;
// }

// /* search box */
// //.container.searchbox {
// //    background-color: inherit;
// //    height: auto;
// //    padding: 0;
// //    min-height: 0;
// //    margin-top: 69px;
// //}
// //.container.searchbox > div {
// //    background-color: #ededed;
// //    padding: 20px;
// //}
// //.container.searchbox > div.on {
// //    display: block;
// //}
// //.container.searchbox h2 {
// //    font: normal 26px 'Abril', serif;
// //    margin-bottom: 0;
// //}
// //.container.searchbox h2.blue, .container.searchbox h2.blue a {
// //    color: #287997;
// //}
// //.container.searchbox h2.green, .container.searchbox h2.green a {
// //    color: #41944c;
// //}
// //.container.searchbox h2.darkblue, .container.searchbox h2.darkblue a {
// //    color: #375b9a;
// //}
// //.container.searchbox h2.darkblue small {
// //    background-color: #375b9a;
// //    color: #fff;
// //    font-family: 'TabletGothicNarrow', sans-serif;
// //    font-size: 16px;
// //    font-weight: 600;
// //    text-transform: uppercase;
// //    padding: 0 10px;
// //    border-radius: 5px;
// //}
// //.container.searchbox h2 a:hover {
// //    text-decoration: underline;
// //}
// //.container.searchbox p {
// //    hyphens: none;
// //    -webkit-hyphens: none;
// //    -o-hyphens: none;
// //    -moz-hyphens: none;
// //}
// //.container.searchbox .searchform input[type='text'] {
// //    border-radius: 20px;
// //}
// //.container.searchbox .searchform input[type='text']:focus {
// //    border: 1px solid #b2b2b4;
// //}
// .searchbox .tabs {
//     font-size: 0;
//     list-style: none;
//     padding: 0;
//     margin-bottom: 10px;
//     letter-spacing: -4px;
// }
// .searchbox .tabs li {
//     display: inline-block;
//     width: 50%;
// }
// .searchbox .tabs a {
//     font-size: 18px;
//     text-transform: uppercase;
//     text-align: center;
//     display: block;
//     border-bottom: 4px solid #ededed;
// }
// .searchbox .tabs .blue a:hover, .searchbox .tabs .blue a:focus {
//     color: #287997;
// }
// .searchbox .tabs .green a:hover, .searchbox .tabs .green a:focus {
//     color: #41944c;
// }
// .searchbox .tabs .darkblue a:hover, .searchbox .tabs .darkblue a:focus {
//     color: #375b9a;
// }
// .searchbox .tabs .on.blue a {
//     color: #287997;
//     border-bottom: 4px solid #287997;
// }

// /*.ui-tabs-active*/
// .searchbox .tabs .on.green a {
//     color: #41944c;
//     border-bottom: 4px solid #4dB056;
// }

// /*.ui-tabs-active*/
// .searchbox .tabs .on.darkblue a {
//     color: #375b9a;
//     border-bottom: 4px solid #375b9a;
// }
// .searchbox .tabs .darkblue {
//     width: 100%;
// }

// /* location box */
// .container.location {
//     text-align: center;
//     z-index: 2;
// }
// .container.location h2 {
//     margin-bottom: 0;
// }
// .container.location p:not(:last-child) {
//     margin-bottom: 1em;
// }
// .container.location a.intern {
//     font-family: 'Abril', serif;
//     font-size: 18px;
//     font-style: italic;
// }
// .container.location:before {
//     opacity: 0;
//     -webkit-transition: opacity 0.2s ease-in-out;
//     -moz-transition: opacity 0.2s ease-in-out;
//     -ms-transition: opacity 0.2s ease-in-out;
//     -o-transition: opacity 0.2s ease-in-out;
//     transition: opacity 0.2s ease-in-out;
// }
// .container.location:hover:before {
//     content: '';
//     background-position: center;
//     background-size: cover;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     opacity: .15;
//     z-index: -1;
// }
// .container.location > div span:first-child {
//     color: #b2b2b4;
//     font-size: 40px;
//     line-height: 0;
// }
// .container.location:hover > div span:first-child {
//     color: #375b9a;
// }


// /* calendar box */
// .calendar {
//     background-color: inherit;
//     padding: 0;
// }
// .calendar table {
//     text-align: center;
//     display: table;
//     width: 100%;
// }
// .calendar th, .calendar td {
//     padding: 2.5%;
// }
// .calendar th {
//     font-family: 'Abril', serif;
//     font-weight: normal;
//     font-style: italic;
// }
// .calendar thead tr {
//     border-bottom: 1px solid #ededed;
// }
// .calendar thead tr:first-child {
//     border-top: 1px solid #ededed;
// }
// td.event {
//     padding: 0;
// }

// /*.inactive { color: #a5a5a6; }*/
// .calendar h2, .calendar h3 {
//     text-align: center;
// }
// .calendar h2 {
//     margin-top: .5em;
// }
// .calendar h3 {
//     font-size: 16px;
//     margin-bottom: 5px;
// }
// .monthname {
//     position: relative;
// }
// .monthname a:nth-child(1), .monthname a:nth-child(3) {
//     font-size: 24px;
//     position: absolute;
//     top: 3px;
// }
// .monthname a:nth-child(1) {
//     left: 0;
// }
// .monthname a:nth-child(3) {
//     right: 0;
// }
// .monthname a:nth-child(2) {
//     font-family: 'Abril', serif;
//     font-weight: normal;
//     font-style: italic;
// }
// .calendar tbody a {
//     background-color: #ededed;
//     color: #375b9a;
//     font-weight: 600;
//     text-decoration: none;
//     display: block;
//     padding: 7px 0;
//     border: 1px solid #fff;
// }
// .calendar tbody a:hover, .calendar tbody a:focus {
//     background-color: #375b9a;
//     color: #fff;
// }
// .daysrow {
//     border: 1px solid #fff;
// }

// /* calendar form */
// .form {
//     width: 90%;
// }
// .form > *:not(:last-child) {
//     margin-bottom: 20px;
// }
// .form textarea, .form select[multiple] {
//     height: 200px;
// }
// .form textarea {
//     padding: 10px;
// }
// .form input[type="submit"] {
//     width: auto;
// }
// .form-line {
//     font-size: 0;
// }
// .form-line:not(:last-child) {
//     margin-bottom: 20px;
// }
// .form-line > * {
//     font-size: 16px;
//     display: inline-block;
//     vertical-align: top;
// }
// .form-line label {
//     line-height: 28px;
//     width: 28%;
//     margin-right: 2%;
//     text-align: right;
// }
// .form form div:last-child {
//     text-align: right;
// }
// .calendar-formular-description, .calendar-formular-error {
//     width: 100%;
//     padding-left: 30%;
//     margin-top: 5px;
//     display: block;
// }
// .calendar-formular-description {
//     font-size: 14px;
// }
// .calendar-formular-error {
//     color: #375b9a;
// }
// #tx_zbmedevents_filter, .tx-zbmedevents-pi-search div {
//     font-size: 0;
// }
// .tx-zbmedevents-pi-search form > div > * {
//     vertical-align: top;
// }
// .tx-zbmedevents-pi-filter select {
//     height: 35px;
// }
// .tx-zbmedevents-pi-filter input[type="submit"] {
//     width: 30%;
// }
// .upcoming-event {
//     font-size: 16px;
// }

// /* news teaser box */
// .newsteaser {
//     background-size: cover
// }

// .newsteaser > a {
//     background-color: #ededed;
//     display: block;
//     width: 100%;
//     padding: 20px;
//     position: absolute;
//     bottom: 0;
// }
// .newsteaser .intern {
//     font-family: 'Abril', serif;
//     font-style: italic;
//     text-align: right;
//     display: block;
// }
// .overview > a {
//     background-color: rgba(255, 255, 255, .9);
//     text-align: center;
//     width: auto;
//     right: 20px;
//     bottom: 20px;
//     left: 20px;
//     -moz-transition: background-color 0.1s;
//     -webkit-transition: background-color 0.1s;
//     -o-transition: background-color 0.1s;
// }
// .overview > a:hover {
//     background-color: rgba(255, 255, 255, 1);
// }

// /* sitemap */
// .sitemap li:before {
//     content: none !important;
// }
// .sitemap a:link, .sitemap a:visited {
//     color: #4b4b4d;
//     font-family: 'TabletGothicNarrow', sans-serif;
//     font-style: normal;
//     display: block;
// }
// .sitemap a:hover {
//     color: #375b9a;
// }
// .sitemap > li {
//     font-size: 16px;
//     width: 25%;
//     display: inline-block;
//     padding-right: 20px;
//     margin: 0 0 20px 0;
//     vertical-align: top;
// }
// .sitemap > li > a:link, .sitemap > li > a:visited {
//     color: #375b9a;
//     font-size: 26px;
//     line-height: 1;
//     padding-bottom: 20px;
// }
// .sitemap > li > a + ul {
//     padding-top: 20px;
//     border-top: 4px solid #ededed;
// }
// .sitemap > li > ul > li {
//     margin: 0 0 20px 0;
// }
// .sitemap > li > ul > li > a {
//     font-size: 20px;
// }
// /*.sitemap > li > ul > li > ul > li {
// 	margin-left: 26px;
// }*/
// /*.sitemap > li > ul > li > ul > li > a:before {
// 	margin-left: -26px;
// 	padding-right: 5px;
// }*/
// .sitemap > li > ul > li > ul > li > ul {
//     list-style-type: disc;
// }
// .sitemap > li > ul > li > ul > li > ul > li > a {
//     font-size: 14px;
// }

// /*a-z*/
// .tx-mwkeywordlist-pi1-jumpmenu {
//     margin-bottom: 25px;
//     font-size: 22px;
// }
// .tx-mwkeywordlist-pi1-jumpmenu a {
//     font-family: 'TabletGothicNarrow', sans-serif;
//     font-style: normal;
// }
// .keywordsection {
//     margin-bottom: 40px;
// }

// /*.keywordsection a:before {content: 'z'; font-family: 'Publisso'; font-size: 27px; font-style: normal; padding-bottom: 5px; vertical-align: middle; margin-left: -10px;}*/
// .tx-mwkeywordlist-pi1 h5 {
//     font-size: 22px;
//     margin-bottom: 15px;
//     border-top: 2px dotted #dbdbdb;
//     border-bottom: 2px dotted #dbdbdb;
//     padding: 5px 0 3px;
// }
// .tx-mwkeywordlist-pi1 h3 {
//     margin-top: 20px;
// }
// .tx-mwkeywordlist-pi1-jumpmenu a {
//     color: #375b9a;
//     font-weight: 600;
// }
// .tx-mwkeywordlist-pi1-jumpmenu a:hover {
//     text-decoration: underline;
// }
// .tx-mwkeywordlist-pi1-jumpmenu a, .tx-mwkeywordlist-pi1-jumpmenu span {
//     margin: 0 -5px -2px;
//     padding: 0 8.5px 1px;
//     font-size: 20px;
// }
// .totop {
//     position: absolute;
//     right: 0;
// }

// /*========================*/

// /* Slick slider Publisso */
// .stage .carousel-wrapper {
//     width: 70%;
//     position: absolute;
//     right: 78px;
//     bottom: 65px;
//     background-color: #fff;
// }
// .stage .carousel .slide {
//     background-color: #fff;
//     padding: 25px 30px;
// }
// .slick-carousel .slick-dots {
//     list-style: none;
//     position: absolute;
//     bottom: 14px;
//     width: 100%;
//     text-align: center;
//     padding: 0;
//     left: 0;
// }
// .stage .slick-carousel .slick-dots {
//     position: absolute;
//     bottom: -41px;
//     left: -7px;
//     text-align: left;
// }
// .slick-carousel button {
//     cursor: pointer;
// }
// .stage h2 {
//     margin: 0;
// }
// .slick-carousel .slick-dots > li {
//     display: inline-block;
// }
// .slick-carousel .slick-dots button {
//     vertical-align: middle;
//     font-size: 0;
//     width: 13px;
//     height: 13px;
//     border: 3px solid #69696c;
//     background-color: transparent;
//     border-radius: 50%;
//     margin: 0 18px;
// }
// .slick-carousel .slick-dots li.slick-active button {
//     background-color: #69696c;
// }
// .stage .slick-carousel .slick-dots button {
//     border-color: #FFF;
//     -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
//     -moz-box-shadow:  1px 1px 2px rgba(0,0,0,0.4);
//     box-shadow:  1px 1px 2px rgba(0,0,0,0.4);
// }
// .stage .slick-carousel .slick-dots li.slick-active button {
//     background-color: #FFF;
// }
// .slick-carousel .slick-arrow {
//     position: absolute;
//     bottom: 0px;
//     font-size: 0px;
//     z-index: 2;
//     background-color: transparent;
// }
// .stage .slick-carousel .slick-arrow {
//     width: 52px;
//     height: 52px;
//     margin: auto 0;
//     bottom: 0;
//     top: 0;
// }
// .stage .slick-carousel .slick-arrow:before {
//     font-family: Publisso;
//     display: block;
//     font-size: 32px;
//     color: #fff;
//     padding: 10px;
//     background-color: rgba(0, 0, 0, 0.65);
// }
// .stage .slick-dots {
//     position: absolute;
// }
// .slick-carousel .slick-next {
//     right: 0;
// }
// .slick-carousel .slick-prev {
//     left: 0;
// }
// .stage .slick-carousel .slick-next {
//     right: -63px;
// }
// .stage .slick-carousel .slick-prev {
//     left: -63px;
// }
// .slick-carousel .slick-next:before {
//     content: '\61';
// }
// .slick-carousel .slick-prev:before {
//     content: '\62';
// }
// .word {
//     max-width: 49px;
//     text-align: center
// }

// /* stop button */
// .stage .stop {
//     position: absolute;
//     bottom: -47px;
//     right: 0;
//     padding: 10px;
//     background-color: rgba(0, 0, 0, 0.65);
//     cursor: pointer;
//     z-index: 2;
// }
// .stage .stop:before {
//     font-family: 'Publisso';
//     content: "\33";
//     display: block;
//     font-size: 16px;
//     color: #FFFFFF;
// }
// .stage .stop.paused:before {
//     content: "\6b";
// }

// /* news slider / slick */
// .container.news {
//     background-color: #fff;
// }
// .news .slick-carousel {
//     width: 100%;
//     padding: 0 10px 65px 10px;
// }
// .news .slick-carousel .slide {
//     padding: 0 10px 0 10px;
// }
// .news .slick-carousel .slick-arrow:before {
//     font-family: Publisso;
//     display: block;
//     font-size: 18px;
//     color: #4b4b4d;
//     padding: 7px 17px;
// }
// .news .slick-carousel .slick-dots {
//     bottom: 0px;
//     height: 30px;
//     background-color: #f6f6f6;
//     margin-bottom: 0px!important;
// }

// .news h2 {
//     padding: 10px 20px 10px 20px;
//     margin-bottom: 0;

//     font-size: 27px;
//     line-height:28px;
// }
// .news h2:before {
//     font-family: Publisso;
//     content: "\39";
//     display: inline-block;
//     font-size: 27px;
//     vertical-align: top;
//     margin-right: 10px;
// }
// .news h3 {
//     font-size: 18px;
//     font-weight:600;
//     margin-bottom:5px;
//     margin-top:5px;
// }


// /*  MediaQueries  */

// /* desktop only [desktop] */
// @media only screen and (min-width:1024px) {
//     .container.small:not(.searchbox), .container.medium, .small .container, .medium .container {
//         min-height: 140px;
//     }
//     .large.tall .container {
//         min-height: 274px;
//     }
//     .container.tall {
//         min-height: 580px;
//     }
//     #menu:target + .main {
//         float: none;
//         position: static;
//         left: auto;
//         overflow: hidden;
//     }
//     .sitemap > li:nth-child(4n) {
//         padding-right: 0;
//     }
// }
// @media only screen and (min-width: 769px) {
//     #screen header nav {
//         min-height: 55px;
//     }
// }
// @media only screen and (min-width: 1024px) and (max-width: 1150px) {
//     .intro-text .w-3 h3 {
//         font-size: 18px;
//     }
// }


// /* tablet [tablet] */
// @media only screen and (max-width:1024px) {
//     .main > a.toggle {
//         display: none;
//     }
//     .container.large.image {
//         min-height: 390px;
//     }
//     .container.small:not(.searchbox):not(.newsteaser), .container.medium, .small .container, .medium .container, .large.tall .container, .container.tall {
//         min-height: 0;
//     }
//     .noslider header {
//         padding: 145px 7% 85px;
//     }

//     /*.contact_box .contact_tab { right: 48%; }*/
//     .grid.detail .content, .grid.detail .sidebar {
//         width: 98%;
//     }
//     .grid.detail .sidebar {
//         font-size: 0;
//         padding: 0;
//         margin: 0;
//         border-top: 0;
//     }
//     .grid.detail .sidebar > div {
//         font-size: 16px;
//         width: 100%;
//         padding: 20px;
//         display: inline-block;
//         vertical-align: top;
//         border-top: 4px solid #ededed;
//     }
//     .grid.detail .sidebar > div:nth-child(odd) {
//         margin-right: 2.5%;
//     }
//     .sidebar > div:not(:last-child) {
//         border-bottom: none;
//         margin-bottom: 0;
//     }
//     .grid.detail.red .sidebar > div, .grid.detail.green .sidebar > div, .grid.detail.blue .sidebar > div, .grid.detail.orange .sidebar > div {
//         border-bottom: 0;
//     }
//     .grid.detail.red .sidebar > div {
//         border-top: 4px solid #cb0924;
//     }
//     .grid.detail.green .sidebar > div {
//         border-top: 4px solid #4db056;
//     }
//     .grid.detail.blue .sidebar > div {
//         border-top: 4px solid #5e84c2;
//     }
//     .grid.detail.orange .sidebar > div {
//         border-top: 4px solid #ef7f01;
//     }
//     .content > div:first-child, .content > div:first-child > * {
//         height: auto;
//     }
//     .content > div:first-child {
//         padding: 25px 0;
//     }
//     .teaser .medium.tall {
//         width: 98%;
//         height: auto !important;
//         min-height: 0 !important;
//     }
//     .teaser .medium.tall .container {
//         width: 49%;
//         position: static;
//         margin: 0;
//     }
//     .teaser .container.medium.image > div {
//         margin-left: 35%;
//     }
//     .newsteaser {
//         min-height: 300px;
//     }
//     .fileDisplay li > a {
//         width: 35%;
//     }
//     .fileDisplay li > div {
//         width: 60%;
//     }
//     .sitemap > li {
//         width: 33.33333333%;
//     }
//     .partnerslider .slider_elem img {
//         width: 20%;
//     }
//     .partnerslider .slider_elem > div {
//         width: 70%;
//     }
//     footer .social {
//         display: block;
//     }
//     footer .social:not(:first-of-type) {
//         margin-left: 0;
//     }
//     footer .zbmed {
//         right: 5%;
//         top: 85px;
//         width: 23%;
//         min-width: 225px;
//     }
//     .grid.home > .flex-row .events {
//         width: 98%;
//         margin-bottom: 20px;
//         float: left;
//     }
//     .container.news {
//         width: 31.333%;
//     }
//     .tabletbreak {
//         display: block;
//     }
//     .tabletbreak > div:first-child {
//         margin-bottom: 25px;
//     }
//     .tabletbreak > div {
//         width: 100%;
//         margin: 0;
//     }
//     .intro-text .w-3 > div {
//         position: static;
//     }
//     .tabletbreak .contact .contact-body, .tabletbreak .contact img {
//         float: left;
//     }
//     .tabletbreak .contact img {
//         margin-right: 20px;
//     }
//     .large.tall .container ul.links li {
//         width: 100%;
//     }
// }

// /* tablet only */
// @media only screen and (max-width:1024px) and (min-width:769px) {
//     #mobile header nav {
//         width: 320px;
//     }
//     /*		header nav { text-align: right; width: 69.5%;}*/
//     header nav li:last-child {
//         margin-right: 0;
//     }
//     .grid.home > .flex-row:not(.fixed) {
//         display: block;
//     }
//     .small {
//         width: 31.333%;
//     }
//     .medium.slider_container, .large {
//         width: 64.6665%;
//     }
//     .large.tall {
//         width: 97.9996%;
//     }
//     .large.pub > * {
//         display: flex;
//         display: -ms-flexbox;
//         display: -webkit-flex;
//     }
//     .large.pub > * .container {
//         margin-bottom: 0;
//     }
//     .large.pub > * > .container:not(:last-child) {
//         margin-right: 20px;
//     }
//     .column.events .event {
//         width: 33.333%;
//         display: table-cell;
//     }
//     .events .event:not(:last-child) {
//         border-bottom: 0;
//     }
// }

// /* tablet and smartphone [smart] */
// @media only screen and (max-width:768px) {
//     table {
//         overflow-y: hidden;
//         overflow-x: auto;
//     }
//     .intro > div {
//         padding: 0;
//     }
//     div.intro > div > div {
//         width: 100%;
//         max-width: initial;
//         padding: 5%;
//         margin: 0;
//     }
//     .intro a.close {
//         top: 5px;
//         right: 5px;
//     }
//     header {
//         text-align: right;
//     }
//     header .searchform {
//         position: relative;
//         left: auto;
//         right: -2%;
//         top: auto;
//     }
//     header nav {
//         width: auto;
//         margin-left: 0;
//         position: absolute;
//         top: 0;
//         left: 0;
//         padding: 10px 0 0 5%;
//         cursor: pointer;
//     }
//     header nav .icon-acronym {
//         font-size: 16px;
//         text-transform: uppercase;
//     }
//     header nav .icon-acronym:before {
//         vertical-align: text-bottom;
//         font-size: 24px;
//         vertical-align: middle;
//         display: inline-block;
//         margin: 0 5px 3px 0;
//     }
//     header nav .icon-acronym + ul {
//         display: none;
//     }
//     .searchbox input[type='text'] {
//         margin: 20px 0;
//     }
//     .searchbox button {
//         margin-top: -15px;
//     }
//     .container.small {
//         width: 48%;
//     }
//     .slider_container.image, .small.searchbox, .large.tall {
//         width: 98%;
//     }
//     .container.searchbox {
//         margin-top: 0;
//     }
//     .publications .container.searchbox {
//         display: none;
//     }
//     .container.slider_container.image .slider_elem h2, .container.image h2, .container.large.image h2 {
//         font-size: 20px;
//     }
//     .tall .column {
//         width: 100%;
//     }
//     .container.large.image {
//         width: 98%;
//     }
//     .large.tall .column.small .container:first-child {
//         margin-right: 3.2%;
//     }
//     .large.tall.pub .medium {
//         width: 100%;
//     }
//     .large.tall .small .container {
//         width: 48.4%;
//     }
//     .large.tall .column.small {
//         font-size: 0;
//         margin-bottom: 0;
//     }
//     .large.tall .column.small .container {
//         display: inline-block;
//         margin-bottom: 0;
//         vertical-align: top;
//     }


//     .flex-row {
//         display: block;
//     }
//     .w-6 {
//         width: 100%;
//     }

//     .media-flex .media-left, .media-flex .media-right {
//         width: 40%;
//         display: block;
//         overflow: hidden;
//     }
//     .media-flex .media-body {
//         width: 60%;
//     }

//     .medium.news:not(.hidden) {
//         width: 98%;
//     }
//     .teaser .medium, .teaser .medium.tall .container {
//         width: 100%;
//     }
//     .news-img-wrap {
//         width: 50%;
//     }
//     .imggallery figure {
//         width: 49%;
//     }
//     .imggallery figure:nth-child(3n) {
//         margin-right: 2%;
//     }
//     .imggallery figure:nth-child(even) {
//         margin-right: 0;
//     }
//     .tx-powermail, .form, .form label {
//         text-align: left;
//         width: 100%;
//     }
//     .powermail_label, .tx-powermail input[type='text'], .tx-powermail input[type='email'], .tx-powermail input[type='tel'], .tx-powermail textarea, .tx-powermail select, .powermail_captcha_outer, .form-line label, .form input[type='text'], .form textarea, .form select {
//         width: 100%;
//     }
//     .powermail_fieldwrap legend {
//         text-align: left;
//         margin-bottom: 0;
//     }
//     .powermail_fieldwrap_text {
//         width: 100%;
//         margin-left: 0;
//     }
//     dl.powermail_all {
//         font-size: 16px;
//     }
//     .tx-powermail dt, .tx-powermail dd {
//         display: block;
//         width: 100%
//     }
//     .tx-indexedsearch input[type='text'] {
//         width: 100%;
//     }
//     .tx-indexedsearch fieldset div label:first-child {
//         width: 100%;
//         margin-bottom: 10px;
//     }
//     .tx-indexedsearch select {
//         width: 45%;
//     }
//     .calendar-formular-description, .calendar-formular-error {
//         padding-left: 0;
//     }
//     .sitemap > li {
//         width: 50%;
//     }
//     .partnerslider .slider_elem {
//         text-align: center;
//         padding: 0;
//     }
//     .partnerslider .slider_elem > img {
//         width: 100%;
//         margin: 0;
//     }
//     .partnerslider .slider_elem > div {
//         display: none;
//     }
//     .partnerslider .slider_container > .prev {
//         left: 0;
//     }
//     .partnerslider .slider_container > .next {
//         right: 0;
//     }
//     footer nav li.label {
//         display: block;
//         margin-bottom: 10px;
//     }
//     footer .toplink {
//         display: block;
//         position: relative;
//         top: auto;
//         right: auto;
//         margin-top: 20px;
//     }
//     footer .zbmed {
//         position: relative;
//         right: auto;
//         top: auto;
//         margin: 25px 0;
//     }

//     /*  contact_box  */
//     .contact_box h2 {
//         margin: 0 0 10px 0;
//         display: block;
//     }
//     .contact_box select, .choose-position-container {
//         width: 47%;
//     }
//     .contact_box select.select-positions {
//         width: 100%;
//     }
//     .contact_box .contact_tab a {
//         padding: 8px 10px;
//     }
//     .tx_dreipc_contact_contact_box_top.contact_box form .choose-country-container select {
//         width: 100%;
//     }
//     .contact_box select:not(:last-child) {
//         margin-right: 5%;
//     }
//     .contact_box form > a {
//         margin-top: 20px;
//     }
//     .card_text {
//         margin: 0 0 10px 0;
//         width: 100%;
//     }
//     .card_wrapper {
//         width: 100%;
//     }
//     .card {
//         width: 100%;
//         max-width: 100%;
//     }
//     .card img {
//         width: 30%;
//         margin-right: 5%;
//     }
//     .card > div {
//         width: 63%;
//     }
//     .card .personal {
//         width: auto;
//     }
//     .grid .card img, .grid .card > div {
//         width: auto;
//     }

//     #mobile-togger {
//         display: block;
//     }
//     header nav {
//         margin: 0;
//         padding: 0;
//         z-index: 1300;
//         background-color: #fff;
//         max-height: 0;
//         overflow: hidden;
//     }
//     header nav.open {
//         display: block
//     }
//     nav li {
//         display: block;
//     }
//     header nav ul {
//         float: none;
//         width: 100%;
//         text-align: left;
//         padding-top: 60px;
//     }
//     header nav > ul > li ul {
//         position: initial;
//         top: initial;
//         display: block;
//         background-color: #f6f6f6;
//         padding: 7px 0;
//     }
//     header nav > ul > li {
//         padding: 0;
//         background-color: #fff;
//         width: 100%;
//     }
//     header nav > ul > li > a {
//         font-size: 21px;
//         font-weight: 600;
//         letter-spacing: 0.1px;
//         line-height: 1;
//         padding: 15px 20px;
//     }
//     header nav .level2 {
//         border-top: 1px solid #d9d9d9;
//     }
//     header nav .level2 li {
//         width: 100%;
//     }
//     header nav .level2 > li {
//         padding: 20px 0 8px 0;

//     }
//     header nav .level2 > li:not(:first-child){
//         border-top: 1px solid #d9d9d9;
//     }
//     header nav .level2 a {
//         font-size: 20px;
//         font-weight: 400;
//         line-height: 26px;
//         letter-spacing: 0.63px;
//         padding-left: 20px;
//         text-align: left;
//     }
//     header nav .level3 a {
//         font-size: 16px;
//         font-weight: 400;
//         line-height: 22px;
//         letter-spacing: 0.5px;
//         padding-left: 30px
//     }
//     header nav .level4 a {
//         padding-left: 40px;
//     }


//     .container.news {
//         display: none;
//     }
//     .grid.home > .flex-row.fixed {
//         display: initial;
//     }
//     .grid.home > .flex-row.fixed > * {
//         width: 100%;
//     }

//     /* Contact / Verteiler*/
//     .contact.align-right .quarter, .contact.align-right .half {
//         width: 50%;
//         float: none;
//     }
//     .contact.align-right .contact-body, .contact.align-right .half + .contact-body {
//         margin: 0;
//         text-align: left;
//     }
//     header .search-container {
//         top: 135px;
//     }

//     /* carousel */
//     .slick-carousel .slick-dots button {
//         width: 9px;
//         height: 9px;
//         border: 2px solid #69696c;
//         margin: 0 15px;
//     }
//     .stage .stop:before {
//         font-size: 14px;
//     }

//     /* typography */
//     h2 {
//         font-size: 20px;
//         line-height: 30px;
//         letter-spacing: 0.18px;
//     }
// }
// @media only screen and (max-width:768px) and (min-width:539px) {
//     header nav {
//         width: 320px;
//     }
//     .w-9 td > select {
//         max-width: 90px;
//     }
// }

// /* smartphone [little] */
// @media only screen and (max-width: 539px) {
//     header {
//         height: 260px;
//     }
//     header .tx-srlanguagemenu {
//         right: 5%;
//     }
//     header .searchform {
//         right: auto;
//     }
//     header .searchform, .searchform input[type='text'] {
//         width: 100%;
//     }
//     #mobile header nav {
//         width: 100%;
//     }
//     .publications .container.searchbox {
//         display: none;
//     }

//     .stage {
//         height: 175px;
//     }

//     /* carousel */
//     .slick-carousel .slick-dots button {
//         margin: 0 7px;
//     }
//     .stage .carousel-wrapper {
//         right: 5%;
//         bottom: 40px;
//     }
//     .stage .slick-arrow {
//         display: none;
//     }
//     .stage .slick-carousel .slick-dots {
//         bottom: -30px;
//     }
//     .stage .stop {
//         right: 0;
//         bottom: -38px;
//     }
//     /*	.contact_box .contact_tab {right:35%;}*/
//     .contact_box .contact_tab a {
//         font-size: 0;
//     }
//     .container.large.image, .container.slider_container.image .slider_elem, .headerteaser .slider_elem {
//         min-height: 350px;
//     }
//     .large.tall .column {
//         margin-bottom: 20px;
//     }
//     .container, .tall, .large.tall .column.small .container:first-child, .container.small, .large.tall .small .container {
//         margin-right: 0;
//         width: 98%;
//     }
//     .large.tall .container ul.links {
//         position: static;
//         padding: 0;
//     }
//     .large.tall .container h2 a {
//         font-size: 23px;
//     }
//     .large.tall .container ul.links a {
//         font-size: 16px;
//     }
//     .teaser .medium.tall .container {
//         width: auto;
//     }
//     .teaser .container.medium.image {
//         min-height: 300px;
//     }
//     .large.tall .column.small .container {
//         margin-bottom: 20px;
//     }
//     .teaser .container.medium.image > div {
//         position: static;
//         height: 100%;
//         min-height: 300px;
//         margin-left: 20%;
//     }
//     .medium.news {
//         margin-bottom: 20px;
//     }
//     .newsteaser {
//         height: 300px;
//     }
//     .news-img-wrap {
//         float: none;
//         width: 100%;
//     }
//     .imggallery figure {
//         width: 100%;
//     }
//     .imggallery figure, .imggallery figure:nth-child(3n) {
//         margin-right: 0;
//     }
//     .contact_box .contact_tab a span:first-child:before {
//         color: #4b4b4d;
//         margin-right: 0;
//     }
//     .contact_box .contact_tab a span:first-child:hover:before {
//         color: #375b9a;
//     }
//     .contact_box .contact_tab a span:last-child:before {
//         margin-left: 0;
//     }
//     .fileDisplay li > a, .fileDisplay li > div {
//         width: 100%;
//         display: block;
//         margin-right: 0;
//     }
//     .fileDisplay li > a {
//         margin-bottom: 20px;
//     }
//     .fileDisplay img {
//         width: 100%;
//     }
//     .card img, .card > div {
//         display: block;
//         width: auto;
//     }
//     .card > span:before {
//         top: 20px;
//     }
//     .card img {
//         margin-bottom: 20px;
//     }
//     .e-search tbody, .e-search tr, .e-search td, .tx-indexedsearch-form input, .tx-indexedsearch .tx-indexedsearch-form select {
//         width: 100%;
//         display: block;
//     }
//     .e-search legend, .e-search tr:not(:last-child) {
//         margin-bottom: 20px;
//     }
//     .e-search td {
//         padding: 0 0 20px 0;
//     }
//     .sitemap > li {
//         width: 100%;
//         padding-right: 0;
//     }
//     header nav {
//         width: 100%;
//     }
//     header .search-container {
//         top: 196px;
//         width: 90%;
//     }
//     header .search-container .search, header .search-container input {
//         width: 100%;
//     }

//     /* social share privacy */
//     #content .social_share_privacy_area li.help_info {
//         width: 50%;
//     }
//     #content .social_share_privacy_area li.help_info > div {
//         width: auto;
//     }

//     /*  typorgaphy */
//     h2 {
//         font-size: 17px;
//         line-height: 23px;
//         letter-spacing: 0.31px;
//     }

//     /*  carousel  */
//     .stage .carousel-wrapper {
//         width: 90%;
//     }

//     /* important needed as buttons are generated with js*/
//     .stage .slick-carousel .slick-arrow {
//         display: none !important
//     }
//     .stage .carousel .slide {
//         padding: 15px
//     }
//     .partnerslider .media-body {
//         display: none;
//     }
//     .partnerslider .slide .media-left {
//         margin-right: 0;
//         width: 100%;
//     }
//     .partnerslider .media-left img {
//         max-height: 150px;
//         max-width: 220px;
//         width: auto;
//         margin: 0 auto;
//     }
// }

// /* print layout */
// @media print {
//     * {
//         background-image: none !important;
//         background-color: #fff !important;
//         color: #000 !important;
//         text-shadow: none !important;
//         width: 100% !important;
//         min-height: 0 !important;
//         box-shadow: none !important;
//         border: none;
//     }
//     #menu, .intro, a.toggle, .tx-srlanguagemenu, header nav, .searchform, .contact_box, .searchbox, .container.large.image, .container.location > div span:first-child, .calendar, .newsteaser, .slider_dots, .prev, .next, .mfp-gallery, .article-meta, .socialshareprivacy, .facebook, footer, #year-filter, .tx-zbmedevents-pi-list-jumpmenu, #menu, .categories-message, .event_list .title a:before, .ezb-navigation, .ezb-list-legend, .dbis-list-legend, #dbis-detail > h2 + p, .tx-indexedsearch form, .browsebox, .f3-widget-paginator, .teaser-text a.more, .partnerslider, .container.news a.intern {
//         display: none !important;
//     }
//     a {
//         color: #375b9a !important;
//     }
//     h1 {
//         font-size: 28px;
//         position: relative;
//         top: auto;
//         left: auto;
//     }
//     h2 {
//         font-size: 22px;
//         font-weight: 600;
//     }
//     th, td, .e-search tr {
//         width: auto !important;
//         padding: 10px !important;
//         border: 1px solid #000 !important;
//     }
//     article thead, article tbody {
//         border-top: 1px solid #000;
//     }
//     header, .grid-wrapper {
//         padding-right: 0;
//         padding-left: 0;
//     }
//     header {
//         padding-top: 0;
//     }
//     h1 img {
//         display: none;
//     }
//     h1 a:before {
//         content: 'ZB MED: Leibniz-Informationszentrum Lebenswissenschaften';
//     }
//     .grid {
//         margin-bottom: 0;
//     }
//     .container, .tall {
//         margin-right: 0;
//     }
//     .container:not(.content) {
//         height: auto !important;
//         position: static;
//     }
//     .content {
//         display: block;
//     }
//     .padding20 {
//         padding: 0;
//     }
//     .topborder4 {
//         border-top: none;
//     }
//     .large.tall .column {
//         margin-right: 0;
//     }
//     .large.tall .container {
//         width: 50% !important;
//         float: left;
//         border-top: 2px solid #000;
//     }
//     .large.tall .container div {
//         padding: 20px 0;
//     }
//     .large.tall .container ul.links {
//         position: static;
//         padding: 0;
//     }
//     .container.location {
//         width: 50% !important;
//         margin: 0;
//         float: left;
//         border-top: 2px solid #000;
//         padding-top: 20px;
//     }
//     .slider {
//         margin-left: 0 !important;
//     }
//     .container.news {
//         border-top: 2px solid #000;
//         margin-top: 20px;
//     }
//     .container.news h2 {
//         padding: 20px;
//     }
//     .container.slider_container .slider_elem {
//         margin-bottom: 20px;
//         border-bottom: 2px dotted #000;
//     }
//     .container.news p.date {
//         margin-bottom: 10px;
//     }
//     .breadcrumb, .content > div:first-child {
//         border-bottom: 2px solid #000;
//     }
//     .content > div:first-child {
//         height: auto;
//     }
//     .content > div:first-child > * {
//         height: auto;
//         display: block;
//         padding: 20px 0;
//     }
//     .content > div:first-child > span, .content > div:first-child > span + * {
//         width: auto !important;
//         display: inline-block;
//     }
//     .content article {
//         border-bottom: 2px solid #000;
//     }
//     article p, article li, blockquote {
//         text-align: justify;
//     }
//     article ul {
//         list-style-type: disc;
//         padding-left: 20px;
//     }
//     article ul li {
//         display: list-item;
//         margin-left: 0;
//     }
//     article ul li:before {
//         display: none !important;
//     }
//     .sidebar {
//         padding-top: 0;
//         margin-top: 0;
//         border-top: none;
//     }
//     .sidebar img {
//         width: auto !important;
//     }
//     .sidebar > div {
//         width: 47.5% !important;
//         float: left;
//     }
//     .sidebar > div:nth-child(odd) {
//         margin-right: 5%;
//     }
//     .sidebar > div:not(:last-child) {
//         border: none;
//     }
//     .teaser .container > div {
//         padding-top: 20px;
//     }
//     .teaser .medium.tall {
//         height: auto !important;
//         margin-bottom: 0;
//     }
//     .teaser .medium.tall .container {
//         position: static;
//         right: auto;
//         left: auto;
//     }
//     .teaser .container.medium.image {
//         border-top: 2px solid #000;
//     }
//     .teaser .container.medium.image > div {
//         position: static;
//         height: auto;
//         margin-left: 0;
//         padding: 20px 0 0 0;
//     }
//     form {
//         text-align: left;
//     }
//     input[type='text'], input[type='email'], input[type='tel'], textarea, select {
//         border: 1px solid #000 !important;
//     }
//     input[type='radio'] + label:before, input[type='checkbox'] + label:before {
//         background-color: #fff !important;
//         border: 1px solid #000 !important;
//     }
//     input[type='checkbox']:checked + label:after {
//         color: #000;
//     }
//     input[type='radio']:checked + label:after {
//         background-color: #000;
//     }
//     legend, label {
//         text-align: left !important;
//     }
//     legend {
//         margin-bottom: 20px !important;
//     }
//     input[type='submit'] {
//         background-color: #000 !important;
//         color: #fff !important;
//         font-weight: 600;
//         width: auto !important;
//     }
//     .calendar-formular-description, .calendar-formular-error {
//         padding-left: 0;
//     }
//     .imggallery figure {
//         width: 32% !important;
//     }
//     article .news .article {
//         border-bottom: 2px dotted #000;
//     }
//     article .news-single .article {
//         border-bottom: none;
//     }
//     .news-img-wrap {
//         width: auto !important;
//     }
//     .news-backlink-wrap {
//         margin: 20px 0;
//     }
//     .fileDisplay {
//         list-style: none;
//         padding-left: 0;
//     }
//     .fileDisplay li {
//         border-bottom: 2px dotted #000;
//     }
//     .fileDisplay li:first-child {
//         border-top: 2px dotted #000;
//     }
//     .fileElement img {
//         width: auto !important;
//     }
//     .event_list {
//         list-style-type: none;
//         padding-left: 0;
//     }
//     .event_list li {
//         border-top: 2px dotted #000 !important;
//     }
//     .event_list .list_wrapper {
//         padding-left: 0;
//     }
//     .event_list .list_wrapper:before, .event_list .date, .event_list .location {
//         display: inline-block;
//         width: auto !important;
//     }
//     .event_list .list_wrapper:before {
//         margin-right: 5px;
//     }
//     .event_list li.med .list_wrapper:before {
//         content: 'Medizin. Gesundheit.';
//     }
//     .event_list li.eua .list_wrapper:before {
//         content: 'ErnÃ¤hrung. Umwelt. Agrar.';
//     }
//     .event_list li.med-eua .list_wrapper:before {
//         content: 'Medizin. Gesundheit. / ErnÃ¤hrung. Umwelt. Agrar.';
//     }
//     .event_list .date:before {
//         content: '(';
//     }
//     .event_list .location:after {
//         content: ')';
//     }
//     .data-row {
//         border-top: 2px dotted #000 !important;
//     }
//     .grid .card {
//         padding: 0;
//     }
//     .grid .card img {
//         width: auto !important;
//         margin-bottom: 20px;
//     }
//     .grid .contact_list {
//         padding: 0;
//     }
//     .grid .tx_dreipccontact {
//         padding-left: 0;
//     }
//     .grid .tx_dreipccontact li {
//         list-style-type: none;
//     }
//     .grid .tx_dreipccontact li:not(:last-child) {
//         border-bottom: 1px solid #000;
//     }
//     .tx-indexedsearch-res h4 {
//         border-top: 2px dotted #000;
//     }
//     .tx-indexedsearch-res p:last-child {
//         border-bottom: 2px dotted #000;
//     }
//     .tx-mwkeywordlist-pi1 h5 {
//         border-top: 2px dotted #000;
//         border-bottom: 2px dotted #000;
//     }
// }

/* visually hidden */
// .hidden {
//     clip: rect(0 0 0 0);
//     overflow: hidden;
//     width: 1px;
//     height: 1px;
//     padding: 0;
//     margin: -1px;
//     position: absolute;
//     border: 0;
// }
