//===========Colors
$white:            #ffffff;
$gray-dark:        #4B4B4D;
$gray:             #69696C;
$gray-light:       #ededed;
$gray-lighter:     #f6f6f6;
$gray-border: 	   #dbdbdb;
$blue-publisso:    #375b9a;
