//===============================//
//=       grid components       =//
//===============================//
//== Media queries breakpoints
// Extra small screen / phone
$screen-xs-min:              480px;

// Small screen / tablet
$screen-sm-min:              768px;  

// Medium screen / desktop
$screen-md-min:              992px; 
  
// Large screen / wide desktop
$screen-lg-min:              1200px;  //$screen-lg-min

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);