/*===============================
=    Publisso Gold mixins     =
===============================*/

@mixin carousel-mask {
	content: '';
	position: absolute;
	bottom: 0;
	width: 5%;
	height: 95%;
	z-index: 1;
}
// breadcrumb, footer
@mixin abril-italic {
	font-family: 'Abril', serif;
	font-size: 18px;
	font-style: italic;
}

@mixin translateY($y) {
  -webkit-transform: translateY($y);
      -ms-transform: translateY($y); // IE9 only
       -o-transform: translateY($y);
          transform: translateY($y);
}
@mixin translateX($x) {
  -webkit-transform: translateX($x);
      -ms-transform: translateX($x); // IE9 only
       -o-transform: translateX($x);
          transform: translateX($x);
}

// Transitions

@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Box-shadow
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}