	<a name="main" class="visually-hidden focusable skip-link">
		Direkt zum Inhalt
	</a>
	
		<header class="navbar container-fluid" id="navbar" role="banner">
			<!-- contactbox start -->
			<div id="contact_box" class="contact_box tx_dreipc_contact_contact_box_top">
				<div>
					<div>
						<form>
							<h2>
								Get in touch.
							</h2>
							<label class="hidden" for="select-abteilung-id">
								position
							</label>
							<div id="topbox-positions-ajax-container" class="choose-position-container">
								<select class="select-positions" id="select-positions-id" name="select-abteilung-id">
									<option value="0">Please choose</option>
									<option value="198">Conference papers</option>
									<option value="196">DOI - Service</option>
									<option value="194">Head of Open Access Publishing and Advisory Services</option>
									<option value="197">Journals / Articles</option>
									<option value="199">LeibnizOpen</option>
									<option value="200">Living Handbooks</option>
									<option value="201">Open Access Advisory Services</option>
									<option value="195">Research Data Management</option>
									<option value="202">Specialist Repository for Life Sciences</option>
									<option value="203">Theses and Dissertations</option>
								</select>
							</div>
							<br>
						</form>
						<span class="icon-cancel"></span>
					</div>
					<div id="topbox-contacts-ajax-container" class="show-contact-container"></div>
				</div>
				<div class="contact_tab">
					<a href="#" tabindex="1">
						<span aria-hidden="true" class="icon-mail"></span>
						Contact PUBLISSO
						<span aria-hidden="true" class="icon-arrow-down"></span>
					</a>
				</div>
			</div>
			<!-- contactbox end -->
			
			<div class="width-control">
				
				<div class="navbar-meta">
					{{ page.navbarmeta }}
				</div>

				<div class="navbar-header">
					<div class="region region-navigation">
						{{ page.logo }}
					</div>

					<div class="search-block-form block-search" id="block-bootstrap-search" role="search">
					    {{ page.search }}
					</div>

					<div id="mobile-togger" class="icon-menu" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
					</div>
				</div>

				<div class="navbar-collapse collapse">
					<div class="region region-navigation-collapsible">
						<nav role="navigation" aria-labelledby="block-bootstrap-main-menu-menu" id="block-bootstrap-main-menu" class="contextual-region">
							{% block topmenu %}
                {{ page.topmenu }}
              {% endblock %}
						</nav>

					</div>
				</div>
			</div>
		</header>
	
<div role="main" class="main-container container-fluid js-quickedit-main-content">
	<div class="row">
		<div class="width-control">
			{{ page.sidecontrol }}

			<div class="col-sm-12" role="heading">
				<div class="region region-header">
					<ol class="breadcrumb">
						{% block breadcrumb %}
							{{ page.breadcrumb }}
						{% endblock %}
					</ol>
					{{ page.content }}
					{{ page.content2 }}
					
					
					
					
					
					
					
					
				
				</div>
			</div>
			<section class="col-sm-12">
				{{ page.content3 }}
			</section>
		</div>
	</div>
</div>
<div class="region">
	{{ page.slider }}
</div>

		<footer class="footer container-fluid" role="contentinfo">
			{% block footer %}
        {{ page.footer }}
      {% endblock %}
		</footer>
        <iframe id="tinymce_upload" name="tinymce_upload" style="display:none"></iframe>
        <form id="form_tinymce_upload" action="/upload.php" target="tinymce_upload" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
            <input id="image" name="image" type="file">
        </form>
